[2012-02-15 14:04] roymax opened #1 "注册邮箱含+号激活失败"
含加号形式的Gmail邮箱`abc+sns@gmail.com`成功注册，但在激活时失败

提示信息

[2012-02-15 14:41] #1 closed, assigned to nobody

[2012-02-23 03:40] fengmk2 opened #7 "topic page should show topic author info, not current user info on the right panel."
And show the follow button.

[2012-02-23 05:17] cloudaice opened #8 "查看新的消息，点击进去的问题"
当右侧有显示“新消息”，用户点击进去后，应该显示到具体的回复内容的位置，不应该是话题首页本身。

[2012-02-24 08:20] DoubleSpout opened #10 "代码没注释 ::>_<::"
如题，代码没注释呀~不知道方法是干什么的哦~

[2012-03-03 18:36] #7 closed, assigned to fengmk2

[2012-03-03 19:18] fengmk2 opened #12 "Support RSS"
RT

[2012-03-04 13:52] thebrecht opened #14 "有沒有考量作i18n?"
我開了一個branch，把nodeclub簡體中文譯成繁體中文，希望有更多朋友能關注、參與nodeclub。

因此在想，nodeclub有沒有考慮作i18n，讓不同的語言、語系都可以更方便呈現。

[2012-03-04 15:01] fengmk2 opened #15 "reply 定位问题"
因为算2级回复后，点击回复数进入页面会出错。

[2012-03-06 02:39] tiye opened #16 "搭配 nginx 时, 从`设置`页面`退出`和发贴过程重定向出错"
我用 nginx 处理了去掉端口号传到论坛
发现从个人设置页面点击`退出`的时候重定向还是有错, 跳转到 `"127.0.0.1:#{port}"` .

前几天的版本(没记录..)`登录/退出`被重定向到了 `"127.0.0.1:#{port}"` 这样出错
今天凌晨(Mar 6)重新 clone 一次, 登录退出问题消失, [猜测之前的 commit ..](https://github.com/muyuan/nodeclub/commit/b7182b97d4e5e4d36b18cf3ca0e9e512f205a003)
所以猜测是类似的问题.. 现在只是`设置`页的`退出`有问题了

**更新**
发贴点击`发布`的时候也遇到了.. 这个位置有些致命

**更新**
我用了移动的校园无线, 发现 signout 过程的 `req.headers.referer` 是 `http:

[2012-03-09 05:40] #16 closed, assigned to nobody

[2012-03-13 10:54] namiwang opened #19 "为何模板中可以调用config?(renderer时没有将config作为参数传递进去)"

[2012-03-14 04:19] ghost opened #21 "node_modules in git"
http://www.mikealrogers.com/posts/nodemodules-in-git.html

[2012-03-18 09:54] ericzhang-cn opened #26 "自动登录和验证码"
- 完善登录机制。提供类似“两星期保持登录状态”这样的自动登录。
- 登录时需要验证码，提高安全性。

[2012-03-18 12:11] #12 closed, assigned to fengmk2

[2012-03-22 01:56] fengmk2 opened #27 "邮件地主小写后算md5获取头像"
解决头像无法获取问题

[2012-03-28 03:55] tiye opened #28 "CNode 上关注别人时收到自己关注自己的消息"
遇到 3 次了, 关注他人之后, 转到主页就有消息自己关注了自己
可惜还都不懂多少代码, 只能提交反馈了
![ALT image](http://img.hb.aicdn.com/de3c6b1dbdfa3ed606386e90c5bb33cc9ec873ca7d66-zBAOXD)

[2012-04-22 15:13] freizl opened #31 "中文标题无法显示"
如何重现：
1.  在主页(http://www.cnodejs.org/) 随便找一个标题是中英文混合的帖子
2.  点击进入详细
3. 在页面上部显示标题的地方，可以看到标题中的中文无法显示，只显示了英文。

[2012-05-03 02:29] sunlifeng opened #34 "windows 安装的时候显示Cannot find module formidable"
node.js:201
        throw e; // process.nextTick error, or 'error' event on first tick
              ^
Error: Cannot find module 'express/node_modules/connect/node_modules/formidable'

怀疑是express 的问题，换了其他版本的express 也没有解决。
windows  7

[2012-05-07 00:45] #34 closed, assigned to nobody

[2012-05-09 05:34] fishbar opened #36 "关注人的时候发送的提醒有问题"
微博上@HelloWhat_  提交个bug：关注其他用户时消息发送错误。  用户A关注用户B时，系统给A发站内信“A关注了你”。

消息发送不对。

[2012-05-10 04:01] zero7u opened #38 "操作习惯Issue：选择"NodeClub"标签，发表文章时应该默认选中这个标"
感觉用户操作习惯应该都是这样，选择了这个标签，进入这类的话题，然后点击发布话题，应该默认发布到当前的标签下；并且把面包屑原来的提示"主页 / 发布话题"改成"主页 / 标签名 / 发布话题"。

[2012-05-11 02:13] zero7u opened #39 "ssURIError没有捕获到"
详细错误日志如下：

exit
ssURIError: URI malformed
    at /home/zero7u/nodeclub/node_modules/express/node_modules/connect/lib/middleware/static.js:119:14
    at Object.static [as handle](/home/zero7u/nodeclub/node_modules/express/node_modules/connect/lib/middleware/static.js:60:5)
    at next (/home/zero7u/nodeclub/node_modules/express/node_modules/connect/lib/http.js:204:15)
    at Object.handle (/home/ze

[2012-05-11 05:10] #31 closed, assigned to nobody

[2012-05-18 01:43] sg552 opened #40 "能用coffeescript提交代码吗？能的话我也想参与项目"
如题。

[2012-05-18 02:22] #40 closed, assigned to nobody

[2012-05-20 11:09] #39 closed, assigned to nobody

[2012-05-28 03:52] agentzh opened #45 "Which license is this project using?"
I'm wondering which license is used for the source code and documentation in this project :) I cannot find any clue in the source tree :P

[2012-05-28 05:05] #45 closed, assigned to nobody

[2012-06-02 08:09] fengmk2 opened #47 "第三方用户系统登录接入"
- github 用户登录(优先) [v3 oauth](http://developer.github.com/v3/oauth/)
- 支持现有用户绑定新浪，腾讯等微博；
- 新用户可以直接使用微博登录；

[2012-06-02 08:09] fengmk2 opened #48 "单元测试及代码覆盖率"
rt

[2012-06-02 12:45] fengmk2 opened #49 "绑定单一域名"
如将club.cnodejs.org, www.cnodejs.org 全部统一到cnodejs.org下.

[2012-06-02 14:14] #49 closed, assigned to fengmk2

[2012-06-02 16:05] #8 closed, assigned to nobody

[2012-06-02 16:06] #19 closed, assigned to nobody

[2012-06-02 16:09] fengmk2 opened #50 "support i18n"
[i18n-node](https://github.com/mashpie/i18n-node)

[2012-06-04 05:59] fengmk2 opened #51 "自适应宽度"
目前左右留空太多了，主流显示器都1024+了，固定宽度需要改进为自适应了。
1. 首页 (done)
2. topic页面
3. 用户页面

[2012-06-04 10:32] fengmk2 opened #52 "md编辑器需要完全与github的格式兼容"
兼容目前的编辑器与github由差异，需要支持github的[markdown](http://github.github.com/github-flavored-markdown/) 格式.

[2012-06-05 13:26] #28 closed, assigned to nobody

[2012-06-06 03:46] #36 closed, assigned to nobody

[2012-06-06 05:19] fengmk2 opened #54 "用户头像可以自定义url"
目前很多用户头像都没有，需要增加自定义方式，让用户自己填微博或自己的头像url。

[2012-06-08 18:01] fengmk2 opened #56 "文章列表能按日期排序"
现在的排序是按最后更新时间，需要有一个按发布日期排序的功能。

[2012-06-22 08:28] #21 closed, assigned to nobody

[2012-06-22 09:59] #52 closed, assigned to fengmk2

[2012-06-28 05:52] fengmk2 opened #61 "支持sendgrid发送邮件"
https://github.com/sendgrid/sendgrid-nodejs

[2012-08-09 05:05] tiye opened #68 "代码缺少标记时, `<script>` 标签带来问题"
`<script>` 标签因为没标记, 论坛回复和删除用到 JS 的地方 `Error` 了,
论坛里忘掉标记代码的不少,  挺头疼的, 特别这个连删除功能都给废了..
http://cnodejs.org/topic/50229e5ff767cc9a51f2b3ab

[2012-08-12 03:46] xie041 opened #69 "访问http://cnodejs.org/出错了"
Error: failed to connect to [127.0.0.1:20088]
    at [object Object].<anonymous> (/home/admin/cnae/git/cnode-app-engine/apps_online/club/node_modules/mongoose/node_modules/mongodb/lib/mongodb/connection/server.js:230:100)
    at [object Object].emit (events.js:70:17)
    at [object Object].<anonymous> (/home/admin/cnae/git/cnode-app-engine/apps_online/club/node_modules/mongoose/node_modules/mongod

[2012-08-25 16:15] #54 closed, assigned to fengmk2

[2012-08-30 02:40] tiye opened #72 "登录后跳转的位置不对"
`controller` 代码不会 >_<
从主页点击"登录", 然后登录进去了, 但是页面没有跳转回主页,
从帖子里点击登录是跳转正确的..

[2012-08-31 10:05] #72 closed, assigned to nobody

[2012-09-09 14:55] kiinoo opened #77 "Windows下安装问题？"
问题如下：
    npm info install visionmedia-jscoverage@1.0.0

[code]

我自己在这里下载了二进制文件，但是不知可不可以直接放在什么地方？
http://siliconforks.com/jscoverage/download.html

[2012-09-11 15:08] #68 closed, assigned to nobody

[2012-09-13 03:42] #69 closed, assigned to nobody

[2012-09-15 13:29] jim4node opened #83 "其实防XSS攻击很简单, 我已经测试成功!"
其实防XSS攻击很简单, 我已经测试成功! 以显示 topic为例:

[code]

[2012-09-17 14:22] #83 closed, assigned to nobody

[2012-09-22 15:38] fengmk2 opened #92 "username+label@gmail.com 注册失败"
注册的时候，如果用 Gmail，用了 username+label@gmail.com 当注册邮箱
激活链接里的 + 没有转码，激活就会失败
手工把链接里邮箱改成 username%2Blabel@gmail.com 就行了

[2012-09-30 09:43] holys opened #93 "Cannot GET /tag/"
您好，我在部署nodeclub时新建了一个tag ，  名为`读书/音乐/电影`，结果就出现 `Cannot GET /tag/%E8%AF%BB%E4%B9%A6/%E9%9F%B3%E4%B9%90/%E7%94%B5%E5%BD%B1` 的错误.  请问是否因为tag里面包括了特殊字符导致创建数据时出错?

[2012-10-03 07:58] holys opened #94 "Embedded video failed ?"
今天尝试了一下nodeclub的markdown编辑器是否支持`嵌入视频` ,发现在`预览`有效果,还可以观看,但是一提交后,那些代码就失效了,跟普通文本无差异, 请问这是bug吗?还是一个未完成的feature ?

[2012-10-15 15:54] fengmk2 opened #95 "code style"

[2012-10-20 13:12] littleweb opened #97 "res.redirect存在跳转bug"
用niginx反向代理搭建的站点，用res.redirect时会根据服务器的ip进行转向。这会造成用户客户端地址栏里显示http://127.0.0.1:3000/tag/edit
建议res.redirect时加上config.host

[2012-11-02 02:03] leizongmin opened #98 "Markdown解析问题：代码块中的#会解析成大标题"
如以下内容：

&#96;&#96;&#96;
# 这里竟然变成大标题了

为什么呢？
 #前面加了个空格就没问题了
&#96;&#96;&#96;

解析的结果如下：

![1](http://cnodejs.org/upload/4efc278525fa69ac6900009e/1351821715890_1.PNG)

[2012-11-02 06:06] #98 closed, assigned to nobody

[2012-11-04 14:08] holys opened #100 "关于编辑器添加链接时 部分链接引用错误"
按编辑器提供的功能 , 是可以这么加链接的:

[链接][1]

[1]:`http://cnodejs.org/topic/4efc372a6d88ae8a6f000019`

但是上面链接换成 ,比如 google code里面的链接 ,如: `https://code.google.com/hosting/search?q=ruijie&projectsearch=Search+projects`  ,  但是实际的链接会变成 : `http://cnodejs.orghttps//code.google.com/hosting/search?q=ruijie&projectsearch=Search%20projects`  ,也就是多了`http://cnodejs.org`  ,当然目前我遇到的是来自google code的链接

如果换种方式放链接,比如下面这种风格的,又是可

[2012-11-04 14:11] holys opened #101 "cnodejs 第一贴 无法访问 ?"
地址 : http://cnodejs.org/topic/4efc372a6d88ae8a6f000019
打开后看到如下信息

[code]

这不是故意的吧 ?

[2012-11-04 16:40] #101 closed, assigned to nobody

[2012-11-09 09:36] tiye opened #102 "论坛 ol 标签似乎是 xss 没升级导致的显示出错"
在论坛看错帖子的排版, 觉得[可读性很差了](http://cnodejs.org/topic/509ccbc9637ffa41556f364f)
[看 js-xss 模块是应该更新了 `<ol>` 标签到白名单的](https://github.com/leizongmin/js-xss/commit/0bae93fd78cdbeaa8e326be51b7caf7545c6e46a)

另外有像[疑似纯粹测试的帖子](http://cnodejs.org/topic/50986b3f637ffa415518e073), 我觉得可以删除..
最近闲工夫算多. 如果我请求 admin 账户去手动编辑, 这样可行吗?

[2013-01-12 13:00] ghost opened #105 "无法设置达人的小bug"
controllers/user.js 355行
exports.toggle_star中的user.is_star = !user.is_star多写了一个叹号

[2013-01-12 13:07] #105 closed, assigned to nobody

[2013-01-30 13:19] tiye opened #107 "作者 panel 链接错误.."
论坛帖: http://cnodejs.org/topic/50faafd7df9e9fcc58c075f4

不懂...

[2013-02-19 03:23] #97 closed, assigned to nobody

[2013-02-19 03:24] #51 closed, assigned to JacksonTian

[2013-02-19 03:25] JacksonTian opened #114 "响应式设计支持"

[2013-02-19 03:26] #27 closed, assigned to fengmk2

[2013-02-19 03:27] #14 closed, assigned to nobody

[2013-02-19 03:48] JacksonTian opened #115 "存在重复发帖的情况"
解决方案，点击发布按钮后。禁用按钮，直到发布完成，或者发布失败。

[2013-02-19 10:35] JacksonTian opened #118 "从controller中抽离proxy逻辑"

[2013-02-19 10:36] JacksonTian opened #119 "正确地RESTful化"
目前前端的调用估计不是正确的RESTful方式的，我看只有get/post两种。

[2013-02-19 10:38] #10 closed, assigned to nobody

[2013-02-19 10:45] #77 closed, assigned to nobody

[2013-02-19 18:40] #118 closed, assigned to nobody

[2013-03-03 03:15] tiye opened #123 "通知功能用着太辛苦了"
正常逻辑是点过哪条通知, 哪条就直接从列表里消失的.
现在 CNode 上必须手动清除通知, 太繁琐了

[2013-03-09 18:35] JacksonTian opened #124 "需要日志功能"
- 记录访问日志
- 记录错误日志

[2013-03-11 03:51] hylin opened #127 "建议：proxy中的参数传递"
nodeclub现在增加了proxy层，新增操作参数觉得不太合理。比如proxy/user.js

[code]

如果以后user对象有增加属性，那在多处都进行修改，并且参数列表会越来越长。
传入一个json对象是否更好一些？

[code]

[2013-03-12 02:25] #107 closed, assigned to nobody

[2013-03-12 15:47] alibam opened #129 "admin新增tag失败, 异常退出。 bug"
修改controller/tag.js, 125行, 加入非空判断。
if (tags && tags.length > 0) {

[2013-03-20 11:55] yss opened #131 "希望提供一个关闭话题的功能"
在这个平台上，有很多是提问的话题。
但是这个问题到底有没有被解决呢？我想知道。

请评估一下是否可以增加这个功能。（当然还会衍生出其他功能）谢谢~

[2013-03-21 15:33] meteormatt opened #132 "“setting”页面里的“个人网站”选项不支持"https://""
设置页面里的“个人网站”选项不支持https://，
只支持"http://"

bug重现：
1. 我在个人网站里填入https://meteormatt.net
![2013-03-21 22:55:26 ](https://f.cloud.github.com/assets/424475/286282/750cf7be-9238-11e2-8982-71cd750757eb.png)
2. 保存时提示

![2013-03-21 22:54:20 ](https://f.cloud.github.com/assets/424475/286283/7b07ec3c-9238-11e2-9310-f49620362d54.png)

我看了下代码，好像是这行报的错。
https://github.com/cnodejs/nodeclub/blob/master/controllers/u

[2013-03-22 02:50] #132 closed, assigned to nobody

[2013-03-29 09:27] #129 closed, assigned to nobody

[2013-04-10 12:50] tiye opened #136 "相关链接 404"
首页右下放相关站点里的 Node Party: http://party.cnodejs.net/
首页上方的工作机会: http://nodejob.cnodejs.net/
NAE 的文档中心: http://blog.cnodejs.net/post/4e686c290716ac9910000009

[2013-04-22 11:48] tiye opened #137 "排版错乱, 是 HTML 过滤不好的问题不"
页面打开真给吓到了.. HTML 还是解析得不对呀
http://cnodejs.org/topic/517505656d382773060b9c05

[2013-04-29 04:32] Zsnd opened #140 "新增tab提示tabs未定义"
controllers / tab.js 125行

[code]

一个tab都没有的情况下新增会报错。改成这样就行了。

[code]

[2013-05-03 03:08] leizongmin opened #141 "避免重复发相同的帖子功能"
发布新帖子或者回复评论的时候，如果在浏览器没跳转之前重复点提交按钮（可能由于网络原因，有些人以为没反应，就多点了几下提交），就会造成一下子提交了很多相同的内容，放在首页就变成了 **刷屏**

可考虑增加一个中间件来限制提交的时间间隔，比如两次提交间隔不得低于10秒。

[2013-05-07 02:00] leizongmin opened #143 "上传图片时出错"
在帖子页面上传图片时不成功，经查看，服务器返回如下信息
# Express
### 500 TypeError: Object #<Object> has no method 'tmpDir'

[code]

[2013-05-07 03:39] #141 closed, assigned to nobody

[2013-05-14 14:11] tiye opened #145 "my/messages/ 页面响应缓慢"
估计只有我一个人遇到这个问题, 冒充论坛聊天机器人收到通知太多了
http://cnodejs.org/topic/5185ed1c6d382773065fce39
http://huaban.com/pins/64198876/zoom/
汗...我没能提交 commit

[2013-05-16 06:53] nasawz opened #146 "无法编辑tag"
app.get('/tag/:name/edit', auth, tag.edit);

 tag.edit  在controller中找不到

[2013-05-19 08:01] tiye opened #149 "发贴链接转换出错"
遇到好多次.. 比如 http://cnodejs.org/topic/519782f563e9f8a5424a5aa5
原链接链接是:

[code]

点击打开的是:

[code]

查看 HTML (手动换行)是:

[code]

[2013-05-21 13:17] dead-horse opened #151 "有xss没有过滤"
http://cnodejs.org/topic/519acfc763e9f8a5428af515

[2013-05-25 13:50] tiye opened #153 "发帖的标签设置有问题"
CNode 上的帖子基本上是没有标签的, 结果是我两次改界面标签从话题列表移除了
对比的, Ruby China, Python China 和 V2EX 的发贴功能都是要指定节点的
不清楚分标签浏览的功能是否被需求... 如果有的话, 就挺麻烦的..

我个人从来不用标签,,, 需要找话题主要靠搜索功能,,
我并不是觉得应该做强制加标签, 相反, 个人觉得反而可以去掉
主要的疑问是标签没有发挥功能, 然后依然占据界面, 累赘了

[2013-05-25 13:52] tiye opened #154 "消息跳转没有直接跳转到回复"
在 `/my/mesages` 里的消息链接只能到标题, 不能到 reply 内容
因为 CNode 有二级回复, 找起来就更加麻烦了
希望增加相应的功能, 跳转到 reply 的 id 上边

[2013-05-27 09:37] fengmk2 opened #158 "markdown 预览"

[2013-05-27 09:51] #146 closed, assigned to fengmk2

[2013-05-27 09:55] #154 closed, assigned to fengmk2

[2013-05-27 09:57] #151 closed, assigned to nobody

[2013-05-27 13:50] tiye opened #159 "Arch IBus, 输入中文导致同一行后面的字符被删除"
网上找的一个版本是正常的: http://ace.ajax.org/#nav=about
重现的办法是, 如下的文本:

[code]

在 `x` 位置使用中文输入法, `line 2` 相关的字符会被删除,,

视频: http://www.tudou.com/programs/view/WxbpgPAocHo/
环境 Archlinux GNOME 3.8 IBus

[2013-05-28 12:00] tiye opened #161 "帖子里的尖括号和 Markdown 链接语法转换似乎有问题"
尖括号被转译了, Markdown 语法没有被转换成链接
http://cnodejs.org/topic/51a446013e53f45b73112ab0

[2013-05-28 15:04] #161 closed, assigned to fengmk2

[2013-05-28 15:05] #149 closed, assigned to nobody

[2013-05-30 01:33] #15 closed, assigned to nobody

[2013-06-03 13:07] tiye opened #166 "Markdown 是否适合 CNode?"
论坛常用 Markdown 功能:
- 行内代码和代码块
- 文本行形成的列表

不常用但实用 Markdown 功能:
- 大标题
- 图片

存在的问题:
- 不少贴 log 不加代码标记导致的界面错乱
- 过滤 HTML 标签的麻烦

一方面, Markdown 不是像 Github 一样让讨论更精致, 反而造成了界面的混乱
另一方面, Markdown 的学习门槛对于大多国内的 JS 爱好者似乎不好接受
因此我很怀疑 Markdown 是否适合 CNode..

Markdown 目标是让人们更关注内容本身, 而不是内容的标记
而现在的情形标记语言反而在推广普及和现状上相反..
标记语言如果需要很多人去推翻自己常用的习惯, 在用户体验上就存在问题了

[code]

在 Ruby 社区也看到有 Markdown 没标记的内容出现
CNode 虽然用了 `white-space: p

[2013-06-04 16:20] youyudehexie opened #167 "点击到帖子里面，按ctrl+f 搜索功能的时候会自动跳转到编辑框搜索"
按用户习惯应该是搜索 帖子内容优先。请测试一下。

[2013-06-09 13:17] shiedman opened #169 "关于样式markdown-text { white-space: pre-wrap; }"
这个commit写着[fix: markdown-text use pre-wrap](https://github.com/cnodejs/nodeclub/commit/2585c047b03c6f8c81e7af4eab9d51c3ccbeea1d)，在我看来却是broke，如果下面理解有错误请指出。
pre-wrap的作用是使html的标签之间的文本中包含的换行符排版显示出来，例如
&lt;div&gt;
第一行
&lt;/div&gt;
&lt;div&gt;
第二行
&lt;/div&gt;
正常来说会排版为2行，但在pre-wrap作用下，会排版为3行，换行符的效果也在html上显示出来了。若无markdown转换，这很好；但经markdown转换后，用户的发帖内容是规范的html格式，排版的换行是通过html标签控制的，这时换行符再显示出来就画蛇添足了，段与段之间在排版上多

[2013-06-11 05:13] #169 closed, assigned to nobody

[2013-06-15 17:25] #159 closed, assigned to nobody

[2013-06-17 09:33] JacksonTian opened #173 "不要用fr、fl之类的类名"

[2013-06-17 15:07] dead-horse opened #175 "stars页面img没有设定尺寸"
http://cnodejs.org/stars

[2013-06-17 15:13] #175 closed, assigned to nobody

[2013-06-18 03:28] #166 closed, assigned to nobody

[2013-06-18 03:29] #137 closed, assigned to nobody

[2013-06-18 03:48] JacksonTian opened #176 "前端重构计划"
目前NodeClub的前端其实是没什么规划的。趁现在还能维护的当儿，打算抽时间来重构下整个前端。这次重构的目标有两个：
- 前端代码的可维护性，包括CSS、JS、HTML
- 前端性能的提升。目前评分的状况很不理想http://gtmetrix.com/reports/cnodejs.org/x9TSeECF

对于可维护性，主要的解决方式是模块化。模块化是一个前后端搭配，CSS、JS、HTML都要参与的过程。只有完成模块化之后，项目的可维护性才能得以提高，避免在未来陷入维护的泥潭。

具体实施前可以参见下joseph的slide：https://speakerdeck.com/josephj/webrebuild

CSS具体步骤：
- 重置样式，考虑采用bootstrap的样式来进行默认的样式重置
- 视图容器划分。CNode的结构是顶端导航，中间左右分栏，标准底部。这部分容器需要明确

[2013-06-19 08:40] JacksonTian opened #183 "取消自定义头像URL的功能"
- 用户自定义的头像URL，可能size很大，影响首页加载速度。
- 遵循gavatar即可。

[2013-06-22 05:26] phoenixlzx opened #185 "TypeError: Cannot read property '_id' of undefined"
在运行 0.3.5 版本 nodeclub 时遇到这个错误。

[code]

[2013-06-23 10:27] chenos opened #187 "社区改版建议[6月24日更新]"
因为朴灵学长缘故一直有关注cnodejs，不过没有参与进来，因为帖子太水了，前阵子cnodejs改版，吐槽不能，跟朴灵聊天说到cnodejs，打算给cnodejs做点贡献吧。

本来打算弄好之后再说，不过因为事情太忙，所以耽搁着，先写点文字吐槽一下吧，额，我是写大家最吐槽的PHP的，不懂瞎扯淡的，所以说错话大家莫怪。

网站标题：Node.js专业中文社区，专业？社区？这两点没有体现出来，水漫成山，帖子空洞。

**cnodejs社区？**

社区的重点是社交，用户相关带动内容相关[因为人而关注内容]。

论坛的重点是交流，帖子相关带动用户相关[因为内容而关注人]。

所以cnodejs的定位应该是一个专项讨论node.js的技术交流论坛，重点是加强帖子相关性带动用户相关，现在的cnodejs社区还只是个弱版的BBS，缺少BBS的诸多核心功能。
# 问题大吐槽

~~首先更正一个命名错误：

[2013-06-23 15:14] tiye opened #188 "没有访问统计吗?"
没看到 `ga.js` 相关的代码, 这么说 CNode 没有访问统计的功能.
以后调整代码的时候可能用得上.. 先提了不知道理由是否充分

[2013-06-27 16:39] youyudehexie opened #189 "http://cnodejs.org/my/topics?page=3 查看别人的收藏记录坑了"
请确认一下。。

http://cnodejs.org/user/jiyinyiyong/collections
查看该用户的收藏的时候，点击第二页，第三页都无法显示。
jiyinyiyong 是个大数据，- - 遇到问题了，
貌似点击后，路径莫名其妙地跳转到http://cnodejs.org/my/topics?page=3

[2013-07-04 05:39] chuguixin opened #191 "http://docs.cnodejs.net/cman/ 打不开了"
rt，求破。

[2013-07-05 07:38] youyudehexie opened #192 "某个帖子好像有问题，帮忙看看"
http://cnodejs.org/topic/51d54958d44cbfa3047f851c

谷歌浏览器
// private function gen_session(user, res) { var auth_token = encrypt(user._id + '\t' + user.name + '\t' + user.pass + '\t' + user.email, config.session_secret); res.cookie(config.auth_cookie_name, auth_token, {path: '/', maxAge: 1000 \* 60 \* 60 \* 24 \* 30}); //cookie 有效期30天 }

这段内容显示超出了文章框

[2013-07-06 09:34] #192 closed, assigned to nobody

[2013-07-13 05:02] tiye opened #194 "Error: ENOENT, no such file or directory '/opt/s/nodeclub/assets.json'"
https://github.com/cnodejs/nodeclub/blob/master/app.js#L14

[code]

找不到文件

[code]

[2013-07-14 17:23] youxiachai opened #196 "update Express 3.x mongoose 3.x"
个人感觉...作为一个 开源社区 nodeclub 不能一直用 express 2.x, 还有mongoose 2.x 这么旧的东西...所以尝试,升级了一下,期间,把一些不兼容的地方改掉:
在线浏览,
http://42.121.117.150:10010/

数据库方面, test 用例全部跑通了.

express 方面,估计应该还有点问题...

有空的话,可以看看,毕竟一个人的经历有限...

[2013-07-15 06:45] youxiachai opened #197 "建议建立多分支"
目前,nodeclub 只有一个master 分支.而这个分支主要要兼容nae,但是,nae内核现在又不升级,很多新的module 没有及时更新..要不建立多几个分支.同时开发..保持鲜度.

[2013-07-17 10:30] nosqldb opened #198 "功能、界面风格需求"
觉得知乎的界面不错，比如标签啊，是否能借鉴？

[2013-07-22 17:36] #197 closed, assigned to nobody

[2013-07-23 15:31] tiye opened #199 "回复页面没有 favicon.ico"
起头有页面也是, 比如个人主页: http://cnodejs.org/user/pengchun

[2013-07-23 15:46] abbshr opened #200 "http请求报头明文显示用户名和密码"
就是明文显示了，请求的内容直接就能看到。这是一个漏洞还是已经确认没有安全隐患？？

如图：

![a](http://HUSK.opendrive.com/files/74130698_3vPQT_445e/1.jpg)
![b](http://HUSK.opendrive.com/files/74130699_9NB4q_1b7d/2.jpg)

[2013-07-24 02:09] #200 closed, assigned to nobody

[2013-07-24 17:00] #194 closed, assigned to nobody

[2013-07-25 16:18] chenos opened #201 "新版本 0.4.1 alpha"
一直低调更新中，偶尔发现大家也挺着急的哈，所以更新下进度吧。之前本来打算只是小改的，不过我有强迫症，越改问题越多，我以为我可以很快搞定的，但是发现工程量巨大啊，nodeclub没有分支所以我fork了，大家可以去看我fork的版本，我会陆续更新的.....

新版本号：0.4.1 alpha

如果想留着新鲜感的，可以等以后版本，alpha还是太吐槽了。
## 修改
1. 页面设计与前端重构。新版的页面设计还不是很满意，而且大量时间用在写代码上了，还有这个工程有点大，所以要慢慢来，详细的内容可以继续看下文。
2. 去掉bootstrap、fancybox和ace。个人觉得没有必要的libs，所以去掉了。
3. 外部加载JavaScript文件。方便缓存和管理，详细内容看下文。
4. 重写回复代码块。只留一个form，无刷新。reply功能还有点问题，还没改完，之后只留reply，去掉rep

[2013-07-26 06:28] pangwa opened #202 "貌似没有admin功能?"
config.js
里admins{admin:true}
但不知道怎么使用admin账号..

[2013-07-26 06:37] pangwa opened #203 "没有再次发送激活邮件的途径"
如果第一封激活邮件系统出错或用户没有收到, 现在是无法激活的, 相当于用户永远无法激活.

[2013-07-31 13:25] tiye opened #206 "论坛登录遇到 403"
似乎是昨天开始的, 用正确的密码登录返回 403,
截图是我用错误的密码尝试登录, 效果和原来一样都是 403
呵呵, cookie 都出现在图里了
![screen shot 2013-07-31 at 9 21 43 pm](https://f.cloud.github.com/assets/449224/886175/46347386-f9e4-11e2-8802-5b4853ca06df.png)

[2013-08-02 10:59] #206 closed, assigned to nobody

[2013-08-07 03:31] #187 closed, assigned to nobody

[2013-08-10 12:55] vontio opened #207 "怎么去掉prettify.js"
不需要这个功能，请问怎么去掉

[2013-08-10 15:22] #207 closed, assigned to nobody

[2013-08-11 06:50] #201 closed, assigned to nobody

[2013-08-16 04:47] #158 closed, assigned to nobody

[2013-08-16 12:32] tiye opened #210 "论坛右侧的图片, 七牛的, 出错了"
看起来图片链接指向一篇博客?
http://www.qiniu.com/about/newsart.html?articleId=5158eb765cd38089ad0490db&from=cnodejs

[2013-08-21 12:48] coyun opened #213 "内容的分类"
你好，点击了社区活动，然后看到了可以把内容分类，就是那个被关闭的标签功能。能不能把那个标签的功能，设置成只有管理员使用或者由管理员设置是否开放给用户用？要不弄个内容分类的功能也好啊，像社区活动这

[2013-09-01 15:48] tiye opened #214 "疑似手写 code 标签出错, CSS 被影响"
论坛上遇到的问题, 觉得是手写 `<code>` 标签没有正常关闭导致的:
http://cnodejs.org/topic/5221f938bee8d3cb1252f174#522354f1bee8d3cb12736f72

我觉得要是论坛可以增加回复编辑的功能, 这个问题人工解决下就好了
顺带, 以后对于 Markdown 回复出错的也可以修改.. 不用整站等宽字体这么无奈的办法

[2013-09-25 10:01] kangjia opened #218 "tags设置成隐藏域？"
标签这个功能废掉了还是没开放？

[2013-09-29 09:47] tiye opened #219 "论坛编辑器 Markdown 体验真的很糟糕"
过一遍吧.. 感觉体验真的挺糟糕的, 发长帖 Markdown 基本就搞不定了.
比如我提交一个这样的帖子 http://cnodejs.org/topic/5247f2d7f29c7bbd3ca27de7

先输入了这样一些内容:

![screen shot 2013-09-29 at 5 32 11 pm](https://f.cloud.github.com/assets/449224/1232827/efae0154-28ea-11e3-9cd1-eef9011df2bf.png)

然后用本身的预览:

![screen shot 2013-09-29 at 5 32 19 pm](https://f.cloud.github.com/assets/449224/1232828/f1c36268-28ea-11e3-809b-ebe5b4b07bbf.png)

以及全屏下的预

[2013-10-01 16:15] #218 closed, assigned to nobody

[2013-10-09 07:19] #188 closed, assigned to nobody

[2013-10-17 03:47] dihl0317 opened #222 "页面变量的调用"
layout.html页面中 meta name='description' content='<%= config.description %>'
这条语句中的config.description语句，config是怎么传入layout.html页面的
查了好长时间，都没查出来。
我新接触express架构，不太清楚这块。

[2013-10-17 06:15] #222 closed, assigned to nobody

[2013-10-27 14:04] superRaytin opened #225 "图片样式问题，宽度短的图片后面会有大片的空白存在盒阴影里"
目前社区内的图片样式定义是这样的：

[code]

这一段定义在stylesheets/index.css 下面，不知大家发现没，后面的两句 `display: block` `box-shadow`会导致图片后面会有大片的空白存在在盒阴影里面，看起来有点怪异有木有，建议把盒阴影去掉会更加美观~

比如 http://cnodejs.org/topic/526ce5235ed0dc3e4b382ec4 这个主题，看留言内容里的图片样式。

[2013-10-28 05:48] superRaytin opened #226 "侧边的个人信息头像下面加个签名栏如何？"
RT.

[2013-10-30 14:04] #202 closed, assigned to nobody

[2013-10-30 14:05] #203 closed, assigned to nobody

[2013-10-31 06:21] JacksonTian opened #228 "添加验证码功能"
https://github.com/JacksonTian/re-captcha

默认不打开。当用户发帖时间太短的时候就启用。

[2013-11-01 08:03] WLyKan opened #231 "今天发现垃圾帖，医疗广告猖獗"
觉得这方面可以向stackoverflow学习，通过网友投票，对一个用户的质量进行判断，剔除垃圾用户

[2013-11-01 08:23] tiye opened #232 "需要关闭用户功能"
管理功能没有方案注销对应的帐号.. 删帖速度不如发贴速度..
http://cnodejs.org/topic/52736304f8e070ed701e240b#5273648df8e070ed701ea57a

[2013-11-01 09:19] fengmk2 opened #233 "TypeError: Cannot set property 'tags' of null"
[code]

[2013-11-09 04:33] ghost opened #235 "Everything is in Chinese"
Can't understand it. Please translate.

[2013-11-13 08:06] Softor opened #236 "我的用户名无法登录了，问题诡异。"
我的ID: Nodejs

无法登录了。

请排查。

[2013-11-22 00:36] fengmk2 opened #237 "TypeError: Cannot set property 'last_reply' of null"
[code]

[2013-11-22 02:11] #237 closed, assigned to fengmk2

[2013-11-22 02:42] youyudehexie opened #238 "崩了，502，修复失效。"
rt

[2013-11-22 02:54] #238 closed, assigned to fengmk2

[2013-11-22 14:02] fengmk2 opened #239 "Cannot read property 'name' of null"
[code]

[2013-12-04 07:46] lonso opened #240 "在帖子回复的时候频繁点击回复按钮，返回json数据。算BUG吗》？"
网络太烂。。点出来的。。

[2013-12-14 16:50] dead-horse opened #241 "七牛的头像图片401"
![](http://ww4.sinaimg.cn/large/69c1d4actw1ebjps5eq1rj213401ygn1.jpg)

[2013-12-18 05:52] #241 closed, assigned to nobody

[2013-12-20 04:00] whwnow opened #243 "能不能更新一个支持express3.x的新分支啊?"
大家一起贡献也好啊,这么好的学习资源,用的是express2.x,新手没接触过2,学习起来各种受阻啊~T T

[2013-12-21 13:00] fengmk2 opened #244 "关于 nodeclub 的 代码管理权限"
正式将 nodeclub 的push权限赋予 @jiyinyiyong 和 @alsotang , 他们两个将负责nodeclub后续的 pull request review和主力代码开发.

[2013-12-23 03:44] tiye opened #246 "implementing OAuth"
Related https://github.com/cnodejs/nodeclub/pull/245#issuecomment-31102691

计划是这样吗?
1. Github 账户登录功能,
2. ~~现有账户迁移,~~
3. ~~开放用户注册~~

[2013-12-24 11:48] tiye opened #249 "中文夹杂英文单词时自动调整空格和大小写"
参考 Ruby China 的做法 https://github.com/ruby-china/ruby-china/issues/184

[2013-12-24 11:49] tiye opened #250 "编辑回复的功能"
比如文本标记, 还有错别字的场景

[2013-12-25 02:13] #246 closed, assigned to nobody

[2013-12-25 05:46] fengmk2 opened #253 "TypeError: Cannot read property 'id' of undefined"
[code]

[2013-12-25 14:15] sillykelvin opened #254 "无法注册"
点击注册，会跳转到github认证，点击“允许”之后，会跳到`http://cnodejs.org/auth/github/new`，但输入账号密码之后，无论是选择“注册新账号”或者是“关联旧账号”，都会跳到登录界面，显示“账号名或密码错误”。

因为无法登录，没有可去的地方提bug，所以在这里提个issue，谢谢~~

[2013-12-26 02:32] #254 closed, assigned to nobody

[2013-12-26 02:34] #253 closed, assigned to alsotang

[2013-12-26 02:36] fengmk2 opened #256 "MongoError: E11000 duplicate key error index: db.users.$email_1 dup key: { : null }"
[code]

[2013-12-26 02:47] #244 closed, assigned to tiye

[2013-12-26 05:32] #210 closed, assigned to nobody

[2013-12-26 05:32] #185 closed, assigned to nobody

[2013-12-26 05:32] #199 closed, assigned to nobody

[2013-12-26 05:45] #196 closed, assigned to nobody

[2013-12-26 05:45] #198 closed, assigned to nobody

[2013-12-26 05:45] #232 closed, assigned to nobody

[2013-12-26 05:47] #243 closed, assigned to nobody

[2013-12-26 05:49] #136 closed, assigned to nobody

[2013-12-26 05:49] #236 closed, assigned to nobody

[2013-12-26 05:52] #231 closed, assigned to nobody

[2013-12-26 05:52] #228 closed, assigned to nobody

[2013-12-26 05:53] #235 closed, assigned to nobody

[2013-12-26 05:53] #114 closed, assigned to nobody

[2013-12-26 05:54] #95 closed, assigned to fengmk2

[2013-12-26 05:56] #240 closed, assigned to nobody

[2013-12-26 05:57] #233 closed, assigned to nobody

[2013-12-26 05:57] #183 closed, assigned to nobody

[2013-12-26 05:58] #219 closed, assigned to nobody

[2013-12-26 06:00] #214 closed, assigned to nobody

[2013-12-26 06:05] #143 closed, assigned to nobody

[2013-12-26 06:06] #213 closed, assigned to nobody

[2013-12-26 06:08] #239 closed, assigned to nobody

[2013-12-26 06:09] #191 closed, assigned to nobody

[2013-12-26 06:09] #189 closed, assigned to nobody

[2013-12-26 06:10] #173 closed, assigned to nobody

[2013-12-26 06:10] #145 closed, assigned to nobody

[2013-12-26 06:11] #94 closed, assigned to nobody

[2013-12-26 06:12] #93 closed, assigned to nobody

[2013-12-26 06:12] #176 closed, assigned to nobody

[2013-12-26 06:13] #47 closed, assigned to fengmk2

[2013-12-26 06:14] #119 closed, assigned to nobody

[2013-12-26 06:14] #127 closed, assigned to nobody

[2013-12-26 06:17] #123 closed, assigned to JacksonTian

[2013-12-26 06:17] #50 closed, assigned to fengmk2

[2013-12-26 06:17] #26 closed, assigned to nobody

[2013-12-26 06:19] #38 closed, assigned to nobody

[2013-12-26 06:19] #48 closed, assigned to fengmk2

[2013-12-26 06:19] #61 closed, assigned to fengmk2

[2013-12-26 06:19] #56 closed, assigned to nobody

[2013-12-26 06:20] #92 closed, assigned to nobody

[2013-12-26 06:20] #100 closed, assigned to nobody

[2013-12-26 06:22] #115 closed, assigned to JacksonTian

[2013-12-26 06:23] #102 closed, assigned to nobody

[2013-12-26 06:23] #131 closed, assigned to nobody

[2013-12-26 06:24] #140 closed, assigned to nobody

[2013-12-26 06:25] #225 closed, assigned to nobody

[2013-12-26 06:32] #153 closed, assigned to nobody

[2013-12-26 06:34] #167 closed, assigned to nobody

[2013-12-26 06:34] #226 closed, assigned to nobody

[2013-12-26 07:10] gonglexin opened #260 "通过 Github 注册时用户名使用 github 的 username 而不是 name"

[2013-12-26 08:54] #250 closed, assigned to nobody

[2013-12-28 04:47] ghost opened #261 "忘记密码功能bug"
我点了忘记密码，邮箱收到重置密码的邮件。
进入那个链接显示undefined 8080 reset pass
链接地址为
http://undefined:8080/reset_pass?key=dEYmJ4W5A9nskkkk&name=xsh6528

[2014-01-03 16:40] dead-horse opened #265 "MongoError: E11000 duplicate key error"
[code]

[2014-01-08 08:01] #256 closed, assigned to alsotang

[2014-01-08 08:01] #260 closed, assigned to nobody

[2014-01-08 08:01] #265 closed, assigned to nobody

[2014-01-08 08:01] #124 closed, assigned to JacksonTian

[2014-01-08 08:02] #249 closed, assigned to nobody

[2014-01-08 08:02] #261 closed, assigned to nobody

[2014-01-10 06:04] kgiirjf8 opened #266 "真崩溃！！"
真崩溃！！

[2014-01-10 06:41] #266 closed, assigned to nobody

[2014-01-11 02:29] fengmk2 opened #269 "CSRF 失效"
别人可以直接通过login 页面不断地重试密码.

也导致发贴页面不做任何验证...

![image](https://f.cloud.github.com/assets/156269/1893048/2678b4c6-7a68-11e3-971a-02979fc9b1cf.png)

[2014-01-12 15:51] markyun opened #270 "安装后，启动报错"
![image](https://f.cloud.github.com/assets/2833137/1896467/8881dde8-7ba1-11e3-8270-a9cb2bce45ac.png)

先安装mongodb模块
// install node npm mongodb

然后拷贝配置文件
$ cp config.default.js config.js

然后启动？

$ node app.js

有什么地方错了？

[code]

my0802@MAJINYUN0802 /d/Study/nodejsDemo/nodeclub-master
$

my0802@MAJINYUN0802 /d/Study/nodejsDemo/nodeclub-master
$

[2014-01-13 06:46] kopes18 opened #271 "关联完github账号以后为什么还是不能注册啊？"

[2014-01-13 07:25] #271 closed, assigned to nobody

[2014-01-14 14:50] yzyspy opened #272 "注册无法收到邮件"
注册无法收到邮件

[2014-01-15 03:31] #272 closed, assigned to nobody

[2014-01-15 03:32] #270 closed, assigned to nobody

[2014-01-15 03:32] #269 closed, assigned to alsotang

[2014-02-10 13:54] xyz2k8 opened #275 "用户注册成功后，还需要登录。"
用户注册成功后，还需要登录。

[2014-02-10 13:56] xyz2k8 opened #276 "注册页面第一个字段与表头无间隔，还有其他地方也有类似问题。"
涉及到view目录下几个文件。

[2014-02-12 06:01] fengmk2 opened #277 "TypeError: Cannot read property '_id' of undefined"
[code]

[2014-02-19 07:05] #277 closed, assigned to alsotang

[2014-02-19 07:06] #276 closed, assigned to nobody

[2014-02-19 07:10] #275 closed, assigned to nobody

[2014-02-20 11:01] alsotang opened #279 "cnodejs.org js 文件更新"
![qq20140219-1](https://f.cloud.github.com/assets/1147375/2217533/4aee1b72-9a1e-11e3-9df1-047412e555cf.png)

七牛的 js 文件需要更新是吧？

[2014-02-21 05:04] #279 closed, assigned to nobody

[2014-02-23 02:33] tiye opened #282 "通过 nodejs-china.org 访问 CNode 不能通过 GitHub 登录"
域名已经绑定, 我这边测试成功 http://nodejs-china.org/
回调跳转到 cnodejs.org 域名, 所以从 nodejs-china 域名不成功..
用户名密码登录测试成功

目前新加域名不清楚对 Google 统计会带来什么影响... 大概需要增加配置

[2014-02-23 14:28] booxood opened #283 "502"
2014年 2月23日 星期日 22时26分45秒 CST

[2014-02-23 15:13] #283 closed, assigned to nobody

[2014-02-26 10:35] #282 closed, assigned to nobody

[2014-02-26 11:50] tiye opened #284 "页面添加个 GitHub 的 Ribbon?"
这样好不好:
https://github.com/blog/273-github-ribbons
<a href="https://github.com/you"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canon

[2014-02-27 15:54] #284 closed, assigned to nobody

[2014-02-27 16:04] tiye opened #286 "拖了大一点的 logo 和 icon, 以及 AI 文件"
icon:
![cnodejs-icon](https://f.cloud.github.com/assets/449224/2284268/70a93bc2-9fc7-11e3-9b7c-180772d2eb09.png)
Logo:
![cnodejs](https://f.cloud.github.com/assets/449224/2284269/70f8aa68-9fc7-11e3-8c07-c115c10bae42.png)
AI 文件 [cnodejs.ai](https://drive.google.com/file/d/0BzNUiG02rjc9T18zSjF5VXlaLWc/edit?usp=sharing)

用 Illustrator 拖的效果在大尺寸下不完美. 建议更改是为了一致性..
细节需要的话还得在 AI 文件或者官方的 [eps](http://nodej

[2014-03-15 16:53] tiye opened #293 "What is Combo?"
接触很少,, 目前用过只有 Grunt, 不知道 CNode 的 CSS 部署方案怎么做的,
看来看去不清晰, 先问一下.. 整个流程如何设计的?

顺带吐槽一下开发环境 CSS 就带后缀我 Workspace 不能映射调试真纠结了.

[2014-03-16 05:09] #286 closed, assigned to nobody

[2014-03-19 14:50] tiye opened #297 "marked-prettyprint 的仓库在哪?"
考虑到两个事情...
- Marked 版本更新, 接口已经改变, 或许升级了比较好
- 为了前端后端一致地进行渲染, 高亮的方式需要进行调整

我想的方案是找个可以前后端通用, 并且可以只渲染单个节点的高亮模块
然后去掉 Epic, 定制一个编辑器, 来保证发文章时体验一致..

然后 marked-prettyprint 模块, 没看明白仓库是哪, 做了哪些更改?
https://www.npmjs.org/package/marked-prettyprint

[2014-03-24 12:52] hylin opened #300 "列表标题颜色是否考虑弱化一下"
这类列表标题一般比较少用#000吧，与白色背景对比过于强烈了。
建议#333之类的

[2014-03-24 13:10] hylin opened #301 "页面细节优化"
1.页面左侧主内容宽度自适应，现在宽度写死的，在1024和高分辨率下效果不好
2.移动端：浏览/回复量，更新时间，标题位置调整，之前为了快速适配，这里细节没怎么处理。
3.移动端：content部分留出左右边距
先写这儿，这两天提pr给大家看看效果。

[2014-03-24 16:28] tiye opened #302 "drop EpicEditor and Showdown"
改了个把小时... 界面上看基本没问题了, 去掉了原来的编辑器, 用很简单的方案替换了:
https://github.com/jiyinyiyong/nodeclub/tree/update-markdown
一个小问题是代码改得有点多, 照说功能都运行成功是没问题了, review 下再说..
大的问题是去掉 Showdown 之后有 Test 通不过不好提交, 麻烦 @alsotang 看下怎么搞

..图片上传功能跪好久了吧, 我改了以后彻底没考虑上传的逻辑了...

[2014-03-24 16:31] tiye opened #303 "make replies editable"
主要是回复以后发现格式不对需要编辑的情况, 或者其他错误..
我的编辑器调整的 PR 里加了预览的步骤, 应该有改善,
还是觉得应该有编辑回复.. 比如新打开一个页面用于回复.
不清楚数据库逻辑上做编辑回复是否会有影响?

[2014-03-25 14:05] #301 closed, assigned to nobody

[2014-03-25 14:18] #300 closed, assigned to nobody

[2014-03-25 14:21] #293 closed, assigned to nobody

[2014-03-25 14:24] #297 closed, assigned to nobody

[2014-03-26 02:59] fengmk2 opened #305 "Ctrl+Enter 快捷回复 失效"

[2014-03-27 01:13] Dn9x opened #306 "回帖出现Forbidden"
回帖的时候会出现Forbidden,如图：
![](http://images.cnblogs.com/cnblogs_com/Dn9x/562583/o_err.JPG)
但是比如设置自己的信息保存的时候也会出现，发帖或者回复帖子也会出现。坛子里面有人说是回帖时间过长。

[2014-03-27 04:57] #302 closed, assigned to nobody

[2014-03-30 13:41] dramogu opened #310 "登录提示 duplicate key error"
[code]

[2014-03-30 16:40] tiye opened #311 "Some ideas on future plans"
前面注意到和想到的一些问题, 有些想法先写一点在这, 按问题分类好了:
### 编辑器功能不一致

我认为比较好的体验是纯文本输入, 再和上线完全一致的预览, 然后提交
另外图片上传的功能也要考虑下, 想到几点
- ~~现在已经提交编辑器的 PR, 希望合并后没问题~~
- 图片上传也许可以做个独立的图床, 方便回复时贴过来好了
### 输入内容的格式化

希望编辑预览改善后事情能有好转, 毕竟预览功能足够清晰了
不过我还是觉得需要人为进行纠正..
- 格式要靠管理员权限来订正, 反正不费太多时间, 我打算做
- 回复的格式有问题, 也需要调整. 所以期待做一个编辑回复的功能
### 内容标签分类功能缺失

好吧.. 这功能以前是有的, 但完全没发挥效果..
标签很有用, 问题在于添加不方便, 而且不能一贯执行下去就没意思了
另一个是首页的界面交互和标签不是很搭配, 需要调整
- 我想通过

[2014-04-01 09:35] alsotang opened #312 "wiki页的建立"
1. 在 https://github.com/cnodejs/nodeclub 上建个 wiki，供新手入门、环境搭建之类的。
2. 在 cnodejs.org 的 header 上给个链接指过来。不在 nodeclub 上开发 wiki 功能了。在 github 上大家也好修改和讨论。

@jiyinyiyong

这个东西好像没有什么开发工作量，你看看合不合适？

[2014-04-01 10:23] #312 closed, assigned to nobody

[2014-04-01 12:08] tiye opened #313 "Split style.css into more than 5 files"
计划手动对文件做拆分, `layout.css` 里依然使用合并的代码.
大致上:

[code]

[2014-04-04 04:20] JacksonTian opened #317 "英文字体太难看了，眼睛痛"

[2014-04-06 03:11] tiye opened #319 "从 CSS 支持表格布局"
虽然 Markdown 写表格真的很麻烦... 不过有时候用不了还真难受
http://cnodejs.org/topic/53400fa5018dc21c2200ddb6

[2014-04-07 03:37] funkyLover opened #320 "打开话题时为什么不做成打开新标签页或新窗口呢"
每次打开一个新话题就直接转页
之后又要按后退好麻烦
要不就是要自己右键打开新标签页或新窗口感觉略麻烦,
好吧,是我本人略懒- -

[2014-04-07 05:03] #320 closed, assigned to nobody

[2014-04-08 16:30] 18601673727 opened #322 "删掉github关联帐号中的邮箱，点用github帐号登录就会出现这个报错"
![image](https://cloud.githubusercontent.com/assets/3302620/2646199/f6df5c02-bf3a-11e3-9f71-996ed72dfeaa.png)

[2014-04-10 02:32] alsotang opened #323 "现在的 at 样式不好看"
![image](https://cloud.githubusercontent.com/assets/1147375/2663383/3fda5538-c058-11e3-8798-9d63a0036055.png)

[2014-04-10 03:28] #310 closed, assigned to nobody

[2014-04-10 06:31] ETiV opened #324 "cnodejs.org 无法成功注册"
本身不是代码问题，无奈给 nodejs@126.com 发邮件等了几天也没回复，所以只能提 issue 了。

现在注册提示这样的文字：

[code]

我已经确定之前没注册过，并且发现这个问题后，把 github 上的 keep email private 给取消掉了，可仍旧是上面的提示。

我觉得这里的逻辑有问题。

常理来讲，既然有“注册”和“使用Github登录”是两个入口，“注册”的行为和流程应该仅限定在本网站里，为啥现在“注册”入口实际的行为还是走了github授权……想不透

[2014-04-10 17:34] #324 closed, assigned to nobody

[2014-04-14 03:45] #323 closed, assigned to tiye

[2014-04-14 03:59] #306 closed, assigned to nobody

[2014-04-14 04:05] #317 closed, assigned to nobody

[2014-04-14 05:16] #303 closed, assigned to nobody

[2014-04-17 01:44] #319 closed, assigned to nobody

[2014-04-17 02:06] tiye opened #327 "考虑是否将部分报错问题引导向 SegmentFault?"
方案:
- 发贴的界面做一个提示, "如果是提问, 请发在 SegementFault 的子站".
- 麻烦 @weakish 帮评估下 SF 那边是否可行?

原因:
- 论坛的排序不适合提报错的问题和筛选正确的答案, 而且论坛也不想往那发展
- 没有关闭帖子的机制, 状态为"已经解决"的帖子沒能很好处理

缺点:
- 论坛流量会有流失, 需要增强其他一些方面初步, 比如招聘, 文章
- SF 的界面, 用户群, 和 CNode 差别大.. 两边切换不方便

[2014-04-17 14:41] fundon opened #328 "密码重置问题"
到密码重置页面，提交了几次，但一直未收到重置邮件。
帮忙检查下。
cfddream@gmail.com.

[2014-04-21 05:55] tiye opened #329 "SIngle column layout"
尝试修改界面成为单栏布局, 变动太大, 商量下:
分支: https://github.com/jiyinyiyong/nodeclub/tree/single-column
Demo: http://nodeclub.tiye.me/

另外我打开了 Tag 界面, 计划使用 `<select>` 标签来选择 Tag.
将 Tag 传入服务端的逻辑目前没有完成.. 后端需要确认下

[2014-04-21 15:40] tiye opened #332 "Cannot login directly by visiting www.cnodejs.org"
从 Ruby China 链接过来的网址是: http://www.cnodejs.org/
结果处在未登录状态... 这个 cookies 怎么搞..

[2014-04-22 03:42] #332 closed, assigned to nobody

[2014-04-22 03:45] alsotang opened #333 "关于 cnodejs.org 要换新的邮箱"
现在的 126 邮箱密码重置也发不出，gmail pop 收信也总报错收不了，评论通知也不发。

准备从 126 邮箱换出来。

我考察考察各个服务看。

目前想用 gmail 或者 qq 邮箱。

[2014-04-22 03:54] alsotang opened #334 "搜索功能"
废掉现有的搜索功能，用 google 的 site 关键词来做搜索。

[2014-04-22 06:42] #334 closed, assigned to nobody

[2014-04-23 06:53] dukewan opened #337 "使用nodeclub建设社区时发现bug"
自己在使用nodeclub建设社区时，发现一个可能会造成login_name产生duplicate key的bug

情景如下：
- 使用 a@gmail.com 注册了一个账号aaa，这个账号是你的github账号，但是aaa还没有绑定github账号
- 然后你又使用 b@gmail.com 注册了第二个账号bbb, 这时，你将github账号绑定到bbb账号时，你的login_name会被替换为a@gmail.com

导致nodeclub中 aaa和bbb 这两个账号的login_name都是a@gmail.com，这与login_name是 unique冲突，导致mongodb报错。

[code]

[2014-04-24 02:58] #305 closed, assigned to nobody

[2014-04-25 04:01] #328 closed, assigned to nobody

[2014-04-27 11:32] yorkie opened #341 "建议：修改回复区样式"
现在回复区的模式，建议改成类似tweets那种一条线的结构，以时间为坐标（其实就是timeline嘛）。
现在的树形结构的回复导致的结果是最下面的回复并不是最新的回复，有时候想看最新的回复 慢慢找时间 比对是一件很伤脑、眼的事情

:P

[2014-04-27 13:47] #341 closed, assigned to nobody

[2014-04-27 13:50] #337 closed, assigned to nobody

[2014-04-27 13:50] #333 closed, assigned to nobody

[2014-04-27 13:50] #329 closed, assigned to nobody

[2014-04-27 13:52] #327 closed, assigned to nobody

[2014-04-27 13:53] #322 closed, assigned to nobody

[2014-04-27 13:53] #313 closed, assigned to nobody

[2014-04-27 13:54] #311 closed, assigned to nobody

[2014-05-14 03:01] fritx opened #345 "响应式不行啊"
![screenshot from 2014-05-14 10 59 03](https://cloud.githubusercontent.com/assets/6647633/2966526/e262ae60-db13-11e3-8b13-5e63edbb2070.png)

每条评论右侧的用户名和日期把评论内容给挤得很窄

[2014-05-14 14:30] java-sparrow opened #346 "关于版块标题的反馈"
版面右侧的**右侧无人回复的话题**确实不错，但是版块标题能不能换成诸如**等你抢沙发**之类的比较活跃的文字？

[2014-05-18 03:56] chenboxiang opened #347 "github账号登陆的关注信息有误"
我的账号是chenboxiang，在首页个人信息区域显示的关注数是1，但是点击进到关注页面后，没有数据。[关注页面链接](http://cnodejs.org/user/chenboxiang/following)

[2014-05-25 02:36] Phinome opened #348 "CNodejs.org signout时报错"
详细信息：
       Error: invalid csrf token at createToken (/home/ubuntu/nodeclub/node_modules/csurf/index.js:77:19) at /home/ubuntu/nodeclub/node_modules/csurf/index.js:57:7 at Object.<anonymous> (/home/ubuntu/nodeclub/node_modules/csurf/node_modules/uid2/index.js:46:8) at Object.ondone (/home/ubuntu/nodeclub/node_modules/newrelic/node_modules/continuation-local-storage/node_modules/async-listener/glu

[2014-05-26 06:02] shuson opened #349 "layout file location issue"
In line 54 of [app file](https://github.com/cnodejs/nodeclub/blob/master/app.js) ,

[code]

It seems to make the location of layout.html file in root directory, but apparently, this file is located in ./views/layout.html

[2014-05-26 09:52] #349 closed, assigned to nobody

[2014-06-01 14:46] #345 closed, assigned to nobody

[2014-06-01 14:46] #346 closed, assigned to nobody

[2014-06-01 14:47] #348 closed, assigned to nobody

[2014-06-09 00:33] fengmk2 opened #354 "csrf的问题"
(3).One-Time Tokens(不同的表单包含一个不同的伪随机值)

在实现One-Time Tokens时，需要注意一点：就是“并行会话的兼容”。如果用户在一个站点上同时打开了两个不同的表单，CSRF保护措施不应该影响到他对任何表单的提交。考虑一下如果每次表单被装入时站点生成一个伪随机值来覆盖以前的伪随机值将会发生什么情况：用户只能成功地提交他最后打开的表单，因为所有其他的表单都含有非法的伪随机值。必须小心操作以确保CSRF保护措施不会影响选项卡式的浏览或者利用多个浏览器窗口浏览一个站点。

对上述描述，cnode的防御机制是这种？

[2014-06-09 11:47] #354 closed, assigned to nobody

[2014-06-10 13:05] Youtube-de opened #355 "无法注册啊"
从github过来后，一点注册就出现：

您 GitHub 账号的 Email 与之前在 CNodejs 注册的 Email 重复了，也可能是您的 GitHub 没有提供公开的 Profile Email 导致注册失败。请访问：https://github.com/settings/profile。

我的 Profile Email 绝对是公开的

[2014-06-27 12:00] yorkie opened #357 "UI Bug"
链接：http://cnodejs.org/topic/536c52fae27db9974f0014d1
截图：
![screen shot 2014-06-27 at 7 58 24 pm](https://cloud.githubusercontent.com/assets/1935767/3411090/8d2b378a-fdf2-11e3-99d1-a9fc3510ccf9.png)

[2014-06-30 09:17] czhou opened #358 "Ubuntu 14.04下无法运行"
启动服务后，输出如下：

[code]

然后通过浏览器访问http://localhost:3000，程序就崩溃退出了，error stack如下：

[code]

我的node及npm信息如下：

[code]

[2014-07-01 15:14] #358 closed, assigned to nobody

[2014-07-01 15:18] #355 closed, assigned to nobody

[2014-07-04 09:29] heixiaoshan opened #359 "新消息提醒"
window访问，新消息提示后打开出现下图所示错误

[2014-07-10 03:32] meteormatt opened #361 "cnode可以支持emoji表情吗?"
http://www.emoji-cheat-sheet.com/
好像[Ruby-China](https://ruby-china.org/)那边是支持的.
不过我只有这个想法, 不知道怎么实现.:cry:
有人可以指点下, 或者帮忙实现吗?

感觉好像是在markdown里面的支持emoji语法.
不知道猜测的对不对.

[2014-07-13 13:06] yorkie opened #364 "markdown的github自动识别成连接了"
貌似markdown中遇到github就会变成[github](github.com)，我不确定是什么问题呢，具体看：http://cnodejs.org/topic/53c27320400ca4581b90033c/#53c27ad24830d85a1b8f2c8f

我本意是写：

[code]

[2014-07-15 06:04] yorkie opened #365 "更新validator"
bug如下：
![screen shot 2014-07-15 at 1 51 36 pm](https://cloud.githubusercontent.com/assets/1935767/3581151/5f17dcf8-0be5-11e4-84f4-6c61769d00f9.png)

yorkie.ninja这个域名应该是合法的，应该是老版本validator的bug，不过涉及到API更改吧。
最新版本的validator中这个bug已修复：

[code]

[2014-07-15 08:07] #365 closed, assigned to nobody

[2014-07-15 10:25] deepure opened #366 "iPad下侧栏的打开方式太容易误触发了"
iPad竖屏时侧栏的触发功能阀值不合理，经常浏览的时候误触发。侧栏的功能用顶部的汉堡包按钮触发其实就够了。

[2014-07-19 11:43] dust8 opened #367 "设置页更改密码bug"
在设置页面，可以只输入旧的密码，新密码为空，可以提交成功，我的号就没了。。。。

[2014-07-20 09:26] #367 closed, assigned to nobody

[2014-07-23 07:44] popohum opened #368 "搜索问题"
https://www.google.com.hk/#hl=zh-CN&q=site:cnodejs.org+js
国内谷歌被墙，搜索功能无法使用
由于 www.google.com.hk 响应时间过长，导致 Google Chrome 无法加载网页。该网站可能已崩溃，或者您的互联网连接出现了问题。

[2014-07-23 09:12] #368 closed, assigned to nobody

[2014-07-27 10:37] leizongmin opened #369 "/my/messages页面出错"
截图如下：
![img](http://img.itc.cn/photo/ol6kNoevBX8)

相关帖子：http://cnodejs.org/topic/53d3b26d8ed6f4002b828eae#53d48385895ba3062baae888

[2014-07-28 03:48] #369 closed, assigned to nobody

[2014-08-05 09:01] tiye opened #370 "考虑下跟 golang 中文社区交换链接吗"
网站 http://golangtc.com/
作者 @jimmykuu
仓库 https://github.com/jimmykuu/gopher

[2014-08-06 03:31] #370 closed, assigned to nobody

[2014-08-06 14:09] JacksonTian opened #371 "友情链接貌似有问题"
http://cnodejs.org/topic/53e1e643743c3d89310e529c 看看。cc @alsotang

[2014-08-07 02:58] #371 closed, assigned to nobody

[2014-08-07 12:49] lonso opened #372 "重复提交"
{"error":"鎮ㄧ殑鍥炲閫熷害澶揩銆�"}

网络情况不好的情况下，连续多点几次。

[2014-08-08 03:10] #372 closed, assigned to nobody

[2014-08-12 02:18] backsapce opened #374 "[BUG] 主页显示avatar的问题"
主页的avatar连接错误导致了主页头像不能显示

[code]

这句有个小错误,user模型中没有avatar_url属性,此处应该是avatar属性吧
建议改为

[code]

[2014-08-12 03:37] #374 closed, assigned to nobody

[2014-08-12 12:24] #366 closed, assigned to nobody

[2014-08-12 12:26] #357 closed, assigned to nobody

[2014-08-18 03:33] alsotang opened #380 "跳转框的样式"
分页加入跳转到某一页  https://github.com/cnodejs/nodeclub/pull/379

[2014-08-19 06:25] #361 closed, assigned to nobody

[2014-08-24 09:25] wuwb opened #383 "不能找回用户名及不能用邮箱登录，忘记用户名就悲剧了，不好不好"
不能找回用户名及不能用邮箱登录，忘记用户名就悲剧了，不好不好

[2014-08-29 09:03] #383 closed, assigned to nobody

[2014-08-31 05:42] leizongmin opened #386 "controllers/user.js 代码有缺陷"
`res.json({status: 'failed'});` 后没有`return`，后面的代码会继续执行，会导致报错。

位置：https://github.com/cnodejs/nodeclub/blob/7e030b5d9ffc8330273ab1c9990612748df1419e/controllers/user.js#L220

[code]

[2014-09-01 03:32] #386 closed, assigned to nobody

[2014-09-03 15:19] backsapce opened #387 "[BUG]index页个人信息栏目关注信息显示不正确"
1--首先登陆，然后进入top100，关注几个人，然后回到论坛主页，发现个人信息中的关注的数目显示没有变化。

2--点击其他页面（比如/user/:name），右边的个人信息都显示了正确的关注数目，只有/index依然没有变化。

3--退出重新登陆，或者发一张贴，或者回一张贴，然后回到主页，发现个人信息中的关注数目显示正确。

4--个人信息中的其他几项都没有这个问题，只有“关注”这一项有问题。

5--进入top100，假设原来主页上显示的关注数目是10，在top100中选一个人关注，然后马上取消关注，回到主页，关注数目变成9。但是点击其他页面，个人信息显示正确。

看了一上午代码没有发现是什么原因造成的。

ps：粉丝数我没有测

pps：为何明明写了删帖模块，为何界面上没有加删帖按钮（只有管理员能POST）？

[2014-09-04 10:00] vfasky opened #389 "升级 mongoose 到 3.x"

[2014-09-04 12:18] #387 closed, assigned to nobody

[2014-09-04 12:51] #380 closed, assigned to alsotang

[2014-09-04 12:52] #359 closed, assigned to nobody

[2014-09-06 09:52] strwind opened #391 "使用express.Router()，使路由更模块化"
可以使用express.Router(), 也可以使用app.route,让不同的URL处理的路由更模块化，同时也可以使用链式调用

[2014-09-07 09:51] strwind opened #393 "代码中有js保留字问题"
换成其他名字，或者采用 [ ]  调用

[2014-09-07 10:32] strwind opened #394 "事务的支持？"
哎，NoSql的硬伤~~

[2014-09-07 12:10] tolerious opened #395 "发帖是提示字数太多或太少"
试了很多遍，还是老样子的。
![Alt text](http://ww2.sinaimg.cn/bmiddle/a036a21ajw1ek462n5ikjj20ua0gk760.jpg)

[2014-09-07 19:48] #394 closed, assigned to nobody

[2014-09-07 19:48] #393 closed, assigned to nobody

[2014-09-09 03:57] #395 closed, assigned to nobody

[2014-09-09 10:52] tiye opened #401 "新编辑器的 Markdown 配置"
这几天是什么情况, commit 频率完全不一样的?

新编辑器替换以后发现 Markdown 换行的配置不生效了,
我没调试过代码, 粗略看新的编辑器里直接引用了 `marked` 对象. 这个对象未必执行 `setOptions`
https://github.com/cnodejs/nodeclub/blob/master/public/libs/editor/editor.js#L7132
之前的 Markdown 配置在仓库里还能找到:
https://github.com/cnodejs/nodeclub/blob/54d3fe642256043609a3ac3f166221cd1fb5d2f7/public/javascripts/markdown_editor.js#L9
好像直接改 `public/` 下的文件不太靠谱, 有没有计划这个东西怎么改?

[2014-09-09 12:45] joeylin opened #402 "关于avatar_url潜在的问题"
最近在用cnode的一些代码做个项目，发现一个问题。
user的avatar_url是一个虚拟属性，靠访问器来访问的，
在req.session.user = user;的时候，这个属性是不会被保存的，
前端的图片地址 是依赖这个属性的。
而使用req.session.user.avatar_url来保存这个值的话，
是没有效果的，因为mongoose model里面没有定义avatar_url这个字段。
所以造成上传图片成功之后，session里面的数据始终无法刷新，一定要重新保存一份。

[2014-09-11 14:00] keenwon opened #403 "mongoose索引的问题"
我在mongoose的官方文档上看到了这个：

然后在Models下看到些类似这样的代码：

[code]

这么做不会有问题吗？在启动的时候重建索引？

[2014-09-12 08:00] #403 closed, assigned to nobody

[2014-09-13 16:17] leizongmin opened #404 "易用性与可扩展性改善计划"
## 1、使用方式

现在的使用方式是：
- 1、克隆代码：`git clone https://github.com/cnodejs/nodeclub.git`
- 2、安装依赖模块：`npm install`
- 3、创建配置文件：`cp config.js.default config.js`
- 4、启动：`node app`

如果仅仅作为cnodejs.org网站来运行，这样似乎是没啥问题的，而当把nodeclub定位为一个通用的论坛程序，让更多的人通过nodeclub来搭建自己的网站，这种方式就显得不那么友好。以下是我设计的使用方式：

1、创建文件`app.js`

[code]

2、启动：`node app`

这种方式的好处有：
- 1、通过NPM来安装并使用，更符合Node.js应用的惯例，同时也不需要额外依赖Git来安装
- 2、通过版本号来确定使用那个nodec

[2014-09-17 09:57] hylin opened #406 "回复对话框样式和问题"
1.回复框样式太丑了，2px边框+black颜色。里面排版也不好。
2.这种辅助性质的对话框，不要hover就显示，加个延时比较好。
3.对话的位置最好固定，比如在下方、或者右侧顶端对齐等。
4.下面的情况是bug？
![http://cnode.qiniudn.com/FpEy7U0_ZUHWFqgAD_i0Y84GeLwa](http://cnode.qiniudn.com/FpEy7U0_ZUHWFqgAD_i0Y84GeLwa)

[2014-09-18 04:17] yorkie opened #408 "可以关注自己"
![screen shot 2014-09-18 at 12 06 53 pm](https://cloud.githubusercontent.com/assets/1935767/4314974/a6218c56-3eea-11e4-95e2-612cc4d09b43.png)
![screen shot 2014-09-18 at 12 16 47 pm](https://cloud.githubusercontent.com/assets/1935767/4314975/abda7824-3eea-11e4-9970-470740cd850c.png)

问题应该就在下面连接里面：
- https://github.com/cnodejs/nodeclub/blob/9c6f56ce84c32c6f56e4c62aed800346a08480b7/controllers/user.

[2014-09-18 05:23] #402 closed, assigned to nobody

[2014-09-18 05:23] #401 closed, assigned to nobody

[2014-09-18 05:23] #391 closed, assigned to nobody

[2014-09-19 02:47] #406 closed, assigned to nobody

[2014-09-19 03:07] hylin opened #409 "继续对话框优化问题"
列几点讨论下
1.@未参与评论的用户需要排除展示对话框
2.对话框展示加入延时，鼠标可以移动到对话框中，对话框中增加回复按钮，方便快速回复而不用在滚动页面查找这一条评论
3.对话框加入高度限制，超过高度出现滚动条；或者限制下对话框中每条消息长度，然后点击可以定位到原始评论位置。

[2014-09-19 07:22] tolerious opened #410 "论坛啥时候能重新上线哈？"

[2014-09-19 08:24] #410 closed, assigned to nobody

[2014-09-21 05:57] #347 closed, assigned to nobody

[2014-09-21 09:33] #389 closed, assigned to nobody

[2014-09-21 15:05] lys623 opened #412 "本地运行localhost：3000走注册流程报错？"
![image](https://cloud.githubusercontent.com/assets/4364314/4348891/77e0eb4e-41a0-11e4-920b-ec05d918030c.png)

[2014-09-21 15:33] #412 closed, assigned to nobody

[2014-09-21 15:44] #409 closed, assigned to nobody

[2014-09-22 06:13] liuzhengming opened #413 "怎么上传附件，如.zip .mp4等文件"
怎么上传附件，如.zip .mp4等文件

[2014-09-22 07:03] #413 closed, assigned to nobody

[2014-09-26 05:56] alsotang opened #415 "响应式 css 优化"
![image](https://cloud.githubusercontent.com/assets/1147375/4416460/c8c5d674-4541-11e4-9b9c-5da055b9d564.png)

头像下面文字重叠

[2014-09-26 10:03] #415 closed, assigned to nobody

[2014-10-09 06:07] hailiang-wang opened #418 "Get an error when pushing into cloudfoundry service provider"
hi, buddies

I get an error during app staging in cloudfoundry service such as [bluemix](https://ace.ng.bluemix.net) or [pivotal](https://run.pivotal.io) .
From the trace, it seems that a package fails to rebuild in the cloud.

I am going to fix this issue.
If anyone tried to push nodeclub into cloudfoundry before, give me some advice.
Thanks.

[code]

[2014-10-09 06:12] youyudehexie opened #419 "如果在论坛里面，看到一个很烦得家伙，老是每天过来刷自己站得流量，能不能加一个屏蔽功能，不想看到那家伙了。"
登录后，把该人添加黑名单后，我无法看到该人帖子。那就最好了。

[2014-10-09 08:23] hailiang-wang opened #420 "hosting nodeclub on ubuntu 12.04 x64 has an error"
Something happens that break the nodeclub server .
I just set up nodeclub in a ubuntu server.
It is started successfully, but when I visit the home page, it crashes.

[code]

After searching a while, I think [this discussion](http://stackoverflow.com/questions/22698661/mongodb-error-setting-ttl-index-on-collection-sessions) may help.

[2014-10-09 13:02] #418 closed, assigned to nobody

[2014-10-10 00:28] hailiang-wang opened #421 "connect-mongo does not work with ReplicaSets"
hi, guys

Find a defect with MongoStore, this defect impacts the flexibility of nodeclub.

[code]

To make it more clear, my db url is like this

[code]

But if the url just have one host, such as _mongodb://foo:bar@d1.mongolab.com:39530/hw_, then it works.

The root cause - https://github.com/kcbanner/connect-mongo/issues/115 .
So, I am going to test it with _connect-mongostore_.

[2014-10-10 05:17] clevertension opened #422 "为什么只有github注册,其他的呢?"
可以考虑和auth0集成啊

[2014-10-10 06:15] niruiqing opened #423 "不支持IE6？"
IE6下无法正常使用

[2014-10-10 06:35] #421 closed, assigned to nobody

[2014-10-10 11:30] #420 closed, assigned to nobody

[2014-10-16 06:55] alsotang opened #425 "输入框中 at 操作始终有问题"

[2014-10-16 09:29] alsotang opened #426 "查看对话框的 zindex"
当对话太靠下，会被 footer 挡住

[2014-10-16 12:20] #426 closed, assigned to alsotang

[2014-10-16 13:33] #425 closed, assigned to alsotang

[2014-10-16 13:34] #423 closed, assigned to nobody

[2014-10-16 13:34] #422 closed, assigned to nobody

[2014-10-16 13:35] #364 closed, assigned to nobody

[2014-10-16 13:36] #404 closed, assigned to nobody

[2014-10-16 13:36] #408 closed, assigned to nobody

[2014-10-21 02:57] tiye opened #429 "精华帖自动转发 cnodejs 微博"
手动维护微博太繁琐了, 建议在论坛当中集成该功能. 设想规则如下:
- 非招聘板块 vote 数量增加到 4(?) 触发
- 招聘板块标题匹配 `/node/i` 触发
- 标题前三字符内容含 `"公告"` 触发

[2014-10-24 15:28] #429 closed, assigned to nobody

[2014-10-24 15:29] #419 closed, assigned to nobody

[2014-10-24 15:45] alsotang opened #430 "CNode 持续改进"
@Ricardo-Li
1. 去除 https://cnodejs.org/users/top100 的粉丝数，改为文章数、评论数和积分。
   排序按积分来。
   全部用户都应显示头像
2. 在用户新建主题，并选择“问答”版块时，给出这篇文章的提示：http://www.beiww.com/doc/oss/smart-questions.html
   选择“招聘”版块时，我已经完成了类似的功能，参照着做就好了。
3. 为现有的三个 get api 写测试，需要测试带参数的结果
4. 将用户界面中，管理员的屏蔽接口和删除所有发言的接口分开。
   现在这两个功能都在一个按钮上，把它们分开。服务端现在有个 `userController.block` 的接口，再多弄一个 `userController.deleteAll` 接口出来，用来删除评论和主题
5. 被屏蔽用户允许退出登录

[2014-10-25 05:06] xingrz opened #431 "API 加上渲染成 HTML 的内容"
如题，因为在客户端将 Markdown（而且还是 GFM）渲染成 HTML 成本貌似比较高，所以建议加上。

比如加一个字段 `content_rendered`，或者学 GitHub API 通过请求的 `Accept` 头来区分？

[2014-10-25 09:10] zzz6519003 opened #432 "[新手问题]请问有没有什么方法关掉注册必须点激活邮件？"
还有就是有没有方便测试的管理员账号~ thx！

[2014-10-25 09:49] #432 closed, assigned to nobody

[2014-10-25 15:20] fraserxu opened #434 "API 支持 CORS"
问题如下图, 希望能在API服务器上加入对CORS支持.

![screen shot 2014-10-25 at 11 19 10](https://cloud.githubusercontent.com/assets/1183541/4780146/5c5a07a0-5c5a-11e4-8fc9-772985d34994.png)

否则我就要使用悲剧的JSONP了...

[2014-10-26 04:56] #434 closed, assigned to nobody

[2014-10-26 05:58] #431 closed, assigned to nobody

[2014-10-26 10:14] #430 closed, assigned to nobody

[2014-10-26 12:25] hailiang-wang opened #437 "As a user, I want to share a topic into my wechat moments"
# Description

Nodeclub supports weibo sharing out of box, but as People use wechat more often now, we should give the user another option for sharing by wechat.
# Solution
- First, add another button along side weibo btn
- Second, when the user click the btn, popup a dialog that has a QR code which encodes the current topic url, in order to do such a job, another js client module is used. [qrcode

[2014-10-27 11:26] tiye opened #439 "验证 token 时有 500 错误"
我同事反馈的问题... 按照文档应该是 443, 但是

[code]

本地环境里跑是对的:

[code]

[2014-10-27 11:52] #439 closed, assigned to nobody

[2014-10-28 02:22] albertshaw opened #440 "要不要考虑换一个markdown解析库"
之前报了一个marked的xss问题，https://github.com/chjj/marked/issues/492, 不过因为是特定浏览器下的反射型xss，所以我自己也没太在意(在cnodejs也[提过](https://cnodejs.org/topic/5056695398ee0904200b79ec#reply84)，估计你们也不在意这个)，隔了这么久才想起来看他们解决了没，却发现仍然是open的。

然后发现这个issue被https://github.com/julianlam/nodebb-plugin-markdown/issues/20 引用了，顺着过去看才发现marked问题不少，导致nodebb的markdown插件换了个解析库https://github.com/jonschlinkert/remarkable。

其中一个问题https://github.co

[2014-11-01 13:50] xingrz opened #442 "样式微调建议"
![image](https://cloud.githubusercontent.com/assets/288288/4871904/8481710a-61cd-11e4-8df7-331864961a34.png)

今天无意中发现了一些小问题。。。
- 代码块左边没了边线，右边直接顶住边缘了，是因为 overflow 了吗。。。
- 因为 GitHub 的新样式`已经把代码块和行内代码的边线去掉了`，所以看着有点纠结。。。
- Retina 下图标质量问题，考虑 svg 或者 font icon 吧。。。

好吧，纯属强迫症。。。

[2014-11-02 00:10] 119786155 opened #444 "单元测试环境和产品环境使用的 database 有必要分开么？"
fetch and merge 最新的代码后，make test......

 哦！ test/api/v1/tools.test.js 中的 case:『should 403 when accessToken is wrong』挂掉了！

为什么呢？
我想起 几周之前我在本地启动 node app之后自己注册并登录过了。

单元测试环境和产品环境使用的 database 有必要分开么？

[2014-11-02 03:31] #444 closed, assigned to nobody

[2014-11-02 12:23] #442 closed, assigned to nobody

[2014-11-02 12:23] #437 closed, assigned to nobody

[2014-11-03 02:30] alsotang opened #445 "更换目前的 icons"
http://fortawesome.github.io/Font-Awesome/icons/
![image](https://cloud.githubusercontent.com/assets/1147375/4878095/dffa1472-6300-11e4-8119-9a754a6dda2a.png)
上图这些图标都已经找不到出处了，把出现那些 icon 的地方换成 Font-Awesome 的。

[2014-11-03 15:55] alsotang opened #446 "用户页的最近发表话题有遗漏"
https://cnodejs.org/user/justjavac
该用户最近发帖不少，但是在用户页却显示着很旧的信息

[2014-11-04 03:32] tiye opened #447 "建议突出分享到新浪微博的功能"
从后台的统计看 cnodejs 微博吸引到论坛的流量比较可观, 我觉得用微博的 icon 替换当前的按钮, 效果会更好一点.

[2014-11-04 05:11] nosqldb opened #448 "发布的时候出现500 status错误"
500 status

可能是内容有点大？utf8保存大概50k的样子

[2014-11-04 13:09] #446 closed, assigned to nobody

[2014-11-04 13:13] #448 closed, assigned to nobody

[2014-11-06 16:00] tiye opened #449 "API 使用改进建议"
做 Web 版用到的 API, 几个地方觉得改下好
- topic content 内容里的换行主要是 `\n`, 客户端手动转 `<br>` 效果不佳..
  看这个帖子以及对应请求 http://r.nodejs-china.org/#/topic/545b97cc3e1f39344c5b3c1a
  Markdown 模块 当中是否有改进的参数之类的?
- accesstoken login 返回的数据, 没有头像
- message 的 topic, 注意到有的 topic 没有带 `author`, 没有具体确认.. 有 `author` 对前端更好

[2014-11-09 01:39] i5ting opened #450 "bug：保存设置后，avatar的头像没了，显示的是默认头像"

[2014-11-09 08:34] #450 closed, assigned to nobody

[2014-11-09 08:36] #449 closed, assigned to nobody

[2014-11-12 04:06] alsotang opened #451 "API 改进"
1. https://cnodejs.org/topic/545b97cc3e1f39344c5b3c1a#54623755789ab1f8158e1d37 topic 中返回更多信息。新增：点击、回帖数量、发布时间

[2014-11-12 06:11] #445 closed, assigned to nobody

[2014-11-13 04:25] #451 closed, assigned to nobody

[2014-11-13 09:06] alsotang opened #454 "icon for homepage"
![image](https://cloud.githubusercontent.com/assets/1147375/5025733/3d8f1278-6b57-11e4-9f14-315f1e6c98a7.png)
这个纸飞机用来表示个人主页不合适（用来表示邮箱还差不多）。
换一下这个地方。
@Ricardo-Li

[2014-11-14 01:46] nosqldb opened #455 "建议恢复设置头像与增加昵称功能"
1.头像，设置头像的功能取消了，建议恢复啊，gravatar的链接还是有点慢的，也不灵活。
2.昵称，增加个设置昵称的功能，后台字段已经有name与login_name区分了。

[2014-11-15 16:10] xiangpaopao opened #456 "求助mac上安装遇到点问题"
make test的时候报错

[code]

[2014-11-17 13:34] #456 closed, assigned to nobody

[2014-11-17 13:34] #454 closed, assigned to nobody

[2014-11-17 13:35] #455 closed, assigned to nobody

[2014-11-17 13:35] #447 closed, assigned to nobody

[2014-11-19 09:13] alsotang opened #458 "代码中的 at 不用 link"
https://cnodejs.org/topic/546c4e258a83dbb874f03438
![image](https://cloud.githubusercontent.com/assets/1147375/5103145/5ec1e3b4-700f-11e4-87f9-1c29d3b49ec1.png)

[2014-11-19 11:58] #458 closed, assigned to alsotang

[2014-11-20 13:31] spacewander opened #459 "有没有打算开多一个“精华”节点？"
开多一个独立的“精华”节点，汇总带“精华”标签的帖子，可以让用户能够直接看到最受推荐的内容，同样也提高了高质量文章的关注度。
如果有这个打算的话，我很乐意帮助实现这个特性。

[2014-11-20 14:58] #459 closed, assigned to nobody

[2014-11-22 11:02] ruanyl opened #461 "pagination 的字体颜色问题"
在个人信息的回复列表和主题列表的分页字体颜色较难分辨。
https://cnodejs.org/user/xxx/replies
https://cnodejs.org/user/xxx/topics
![6961ae7b-3d89-420f-9eb1-bb6838d4cad5](https://cloud.githubusercontent.com/assets/486382/5153899/a10fef06-7247-11e4-9fdd-d2bb252b2c16.png)
这是首页分页的：
![8fa3dc1b-0966-4596-a71b-0c71a6787bb6](https://cloud.githubusercontent.com/assets/486382/5153904/c71f3e36-7247-11e4-84f4-8025ae568306.png)

[2014-11-26 10:21] #461 closed, assigned to nobody

[2014-11-28 13:47] huanglong-zz opened #463 "在 topic 下传图片失败"
用的 7 牛图床，已经付费，可用状态。
#### 本地跑调试环境

图片上传到 public/upload 是成功的。
#### 本地跑 production 环境

图片上传到 7牛 是成功的。

推到 digitalOcean 的 ssd 主机上跑，一切照常，唯独图片上传会挂掉：

请求格式类似：
http://xx.com/upload?_csrf=EJEK5iap-wGXbdLBHzhYZnP6057Pim7tBNRI

topic.js 的 407 行，

[code]

打印的错误是：

[code]

查了半天，也没查出个所以然来，还请指教。

[2014-11-29 12:20] #463 closed, assigned to nobody

[2014-12-08 06:33] lanceli opened #464 "[API] 登录用户查看主题回复时，无法知道哪些是自己已点赞的回复"
登录用户查看主题回复时，无法知道哪些是自己已点赞的回复。

`get /topic/:id`返回ups里面是user的_id

[code]

`post /accesstoken`和`get /user/:loginname`都无法得到登录用户的_id

方案1:
ups返回loginname

方案2:
`post /accesstoken`返回_id

[2014-12-08 06:54] #464 closed, assigned to nobody

[2014-12-10 15:41] 0xashu opened #465 "用户页面的个人网站链接跳转错误"
比如以下页面，当用户填写的个人网站链接没有 http(https) 协议的情况下，页面会跳转错误.

https://cnodejs.org/user/i5ting

[2014-12-11 03:09] #465 closed, assigned to nobody

[2014-12-11 10:21] yuhaoju opened #466 "社区的注册链接也会进行github验证？"
我先用github登陆进去的。
然后我退出账号，再点注册，又变成github登陆的状态了。

[2014-12-11 13:17] #466 closed, assigned to nobody

[2014-12-14 05:28] haoflynet opened #467 "页面布局混乱，可能是静态资源未加载"
![360 20141214104036](https://cloud.githubusercontent.com/assets/6014844/5426554/c6cdeac8-8394-11e4-99e2-5100d740f751.png)
所有页面均是混乱的，目测是css文件未加载，但是页面并没出现任何错误，请问我该如何解决该错误呢？

在论坛和issue里面找了一下，未找到答案，以下是make install的结果

npm WARN package.json combo@0.0.1 No repository field.

make[1]: Entering directory `/var/www/nodeclub/node_modules/bson/build'
  CXX(target) Release/obj.target/bson/ext/bson.o
  SOLINK

[2014-12-14 07:47] #467 closed, assigned to nobody

[2015-01-04 16:02] fengmk2 commented on #440
也会出现性能问题 remarkable

https://github.com/cnpm/cnpmjs.org/issues/552

我现在能随意将 cnode 弄挂，请尽快切换到 markdown-it

[2015-01-04 16:13] fengmk2 commented on #440
https://github.com/jgm/CommonMark/issues/263

[2015-01-04 16:34] fengmk2 commented on #440
html: false https://github.com/cnodejs/nodeclub/blob/master/common/render_helper.js#L23 没有开启 html，那么就没问题了。。。

[2015-01-05 02:25] alsotang commented on #440
好的好的，晕呐。

[2015-01-05 02:34] alsotang commented on #440
当时之所以禁止 html 也是因为开启了 html 之后，xss 的风险太大，我无法信任 markdown 的库可以把各种 xss 陷阱都绕过。而且就目前的情况来看，只用 markdown 语法大家也能顺畅交流，就直接关闭了。

[2015-01-05 02:53] fengmk2 commented on #440
@alsotang 嗯，将 html 关闭吧。

[2015-01-05 04:59] fengmk2 commented on #440
@alsotang 另外一种选择，开启 html，然后再加一层 js-xss 过滤 https://github.com/leizongmin/js-xss

[2015-01-05 05:03] alsotang commented on #440
我当时特意去掉了 js-xss 这个库。我看了他的实现，里面各种正则，也还是属于黑名单的机制。一年前我还绕过了一次：https://cnodejs.org/topic/52b827e9588ff25a72ce204a <https://cnodejs.org/topic/52b827e9588ff25a72ce204a>

还是不开启 html 了。

[2015-01-05 05:05] fengmk2 commented on #440
ping @leizongmin

[2015-01-05 05:05] fengmk2 commented on #440
总得与时俱进啊，老雷也会不断修复 bug 的

--
fengmk2
Sent with Sparrow (http://www.sparrowmailapp.com/?sig)

On Monday, January 5, 2015 at 1:03 PM, alsotang wrote:

[2015-01-05 05:06] alsotang commented on #440
肯定得与时俱进，不过开启 html 的必要性不强吧？

[2015-01-05 07:28] CocaCola183 commented on #432
谢啦，是我配置的问题，现在已经改好了

[2015-01-06 01:21] leizongmin commented on #440
js-xss是基于白名单过滤的，但是实现过程中总会有点Bug，__使用过程中若发现安全问题我会马上修复，不过这需要大家共同参与，提issue__。我希望js-xss模块是由大家共同完善的。

[2015-01-06 01:24] fengmk2 commented on #440
现在完全过滤html，导致一些3年前比较好的文章完全无法看了

Sent from my iPhone

[2015-01-06 01:29] leizongmin commented on #440
我个人意见是需要开放部分HTML标签，只支持Markdown显得太保守。总不能因为遇到一点问题就一刀切去掉HTML支持。

[2015-01-06 03:23] fengmk2 commented on #440
重新 reopen，开放讨论

[2015-01-06 03:24] fengmk2 commented on #440
如 https://cnodejs.org/topic/4f16442ccae1f4aa270010ab

[2015-01-06 03:37] alsotang commented on #440
有历史遗留问题是肯定的，当然这也导致了原来很多隐藏的 xss 都失效了

[2015-01-06 03:42] alsotang commented on #440
上到 github，下到百度贴吧，谁敢支持用户回复 html

[2015-01-06 03:54] albertshaw commented on #440
白名单支持是可以的吧，markdown其实就是相当于变相白名单嘛。

[2015-01-06 09:21] zzz6519003 commented on #432
贵阿里还要node开发么哇哈哈~

[2015-01-06 09:25] alsotang commented on #432
要啊，一直在招人，来份简历吧亲

[2015-01-06 09:39] dead-horse commented on #432
路过.. 我这也需要噢，顺便发我一份吧哈哈

[2015-01-06 13:03] fengmk2 commented on #440
github支持html的。
百度，为什么要学百度，百度md都不支持

Sent from my iPhone

[2015-01-07 03:10] alsotang commented on #440
失误失误，github 确实是支持 html 的：https://github.com/github/markup/tree/master#html-sanitization <https://github.com/github/markup/tree/master#html-sanitization>

[2015-01-08 13:50] alsotang opened #468 "markdown 渲染时的 html 支持"
@fengmk2 @leizongmin

我周末的时候加一下这部分代码

[2015-01-08 13:52] alsotang commented on #468
markdown 的渲染库换成 markdown-it https://github.com/markdown-it/markdown-it

[2015-01-09 00:01] fengmk2 commented on #468
good

Sent from my iPhone

[2015-01-11 06:24] #440 closed

[2015-01-11 06:30] alsotang commented on #440
@fengmk2 https://cnodejs.org/topic/4f16442ccae1f4aa270010ab 老的帖子已经可以看了，还在微调样式中

[2015-01-11 06:30] alsotang commented on #468
closed by https://github.com/cnodejs/nodeclub/commit/3587bcabb1e7137153cca39886d16f18f4ae6b22

[2015-01-11 06:30] #468 closed

[2015-01-11 12:08] loyd1234 opened #470 "请高手帮忙看看什么情况？运行时候说了bower.json有错误"
H:\Github\yoyo\pro1>grunt serve
Running "serve" task

Running "clean:server" (clean) task
Cleaning .tmp...OK

Running "wiredep:app" (wiredep) task
Warning: ENOENT, no such file or directory 'H:\Github\yoyo\pro1\app\bower.json'
Use --force to continue.

Aborted due to warnings.

Execution Time (2015-01-11 12:02:23 UTC)
clean:server   15ms  ■■■ 6%
wiredep:app   235ms  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
■

[2015-01-11 12:09] #470 closed

[2015-01-16 06:24] chinghanho opened #472 "使用 Github 登入的帳號與舊帳號不同步"
首頁上看到的是這樣：

![screen shot 2015-01-16 at 2 21 54 pm](https://cloud.githubusercontent.com/assets/1897143/5772291/0f1dac9a-9d8b-11e4-881b-9fe363c69bee.png)

點進去後變這樣：

![screen shot 2015-01-16 at 2 22 44 pm](https://cloud.githubusercontent.com/assets/1897143/5772295/31b8cd98-9d8b-11e4-9951-f9f2e0038377.png)

且最近參與的話題也只有舊的。 :confused:

[2015-01-16 06:48] alsotang commented on #472
可能当时上新账号系统的时候发生了一点冲突，我去看看

[2015-01-16 06:51] alsotang commented on #472
修复了一下，你看看

[2015-01-16 14:27] chinghanho commented on #472
OK 了，謝謝！:D

[2015-01-16 14:27] #472 closed

[2015-01-24 12:52] tughluq opened #473 "make install报错，过不去"
以下是错误日志：

12294 silly gunzTarPerm extractEntry node_modules/yakaa/SECURITY.md
12295 silly gunzTarPerm extractEntry node_modules/yakaa/lib/debuglog.js
12296 silly gunzTarPerm extractEntry node_modules/yakaa/CONTRIBUTING.md
12297 silly gunzTarPerm extractEntry node_modules/yakaa/test/error.js
12298 silly gunzTarPerm extractEntry node_modules/yakaa/test/keepalive.js
12299 error Error: ENOENT, lstat '

[2015-01-24 15:30] tughluq commented on #473
安装了 gyp解决了

[2015-01-27 09:45] wanghaisheng opened #476 "fork之后的github登录配置"
您好，
我fork了一份代码，如果想在本地使用github的功能，是否修改config.js文件中的如下代码即可
[code]
但问题来了，这里的clientSecret是怎么得到的呢
callbackURL是否就是Developer applications-Register a new OAuth application -Authorization callback URL 这里是否必须是公网的域名

[2015-01-27 11:05] alsotang commented on #476
去 github 申请 client secret
url 不必是公网的

[2015-01-27 13:48] wanghaisheng commented on #476
thx

[2015-01-27 13:48] #476 closed

[2015-01-27 15:52] wanghaisheng commented on #448
同样的问题我也遇到了 新建话题时提交的内容过大，根据上面的回复
我在app.js里添加了
app.use(bodyParser.urlencoded({limit: '50mb'}));
但是仍然是500的错误

[2015-01-28 03:32] alsotang commented on #448
把 bodyparser.urlencoded 移到 bodyparser.json 的上面试试

[2015-01-28 05:18] wanghaisheng commented on #448
answer to body-parser parsing too large contents
[code]
[reference](http://stackoverflow.com/questions/19917401/node-js-express-request-entity-too-large)

[2015-01-28 05:23] wanghaisheng opened #477 "Relic Unknown license key"
本地调试的时候，提交一个新话题，提交操作成功但是后台的log中报错
[code]

[2015-01-28 05:32] alsotang commented on #477
google 之后有什么解决方案？对于哪个解决方案看不懂？把解决方案一起贴上来我看看。

[2015-01-28 05:36] wanghaisheng opened #478 "Relic Unknown license key"
本地调试的时候，提交一个新话题，提交操作成功但是后台的log中报错
[code]

[2015-01-28 05:39] alsotang commented on #478
与 #477 重复

[2015-01-28 05:39] #478 closed

[2015-01-28 05:40] #473 closed

[2015-01-28 05:41] wanghaisheng commented on #477
看起来似乎是我连接了VPN的原因
https://discuss.newrelic.com/t/failed-to-connect-to-newrelic-with-express-4-1-1/2461/13

[2015-02-03 09:02] feitian124 opened #479 "回复的显示体验不好"
如下图所示, 头像显示在前面, 用户名和时间显示在后面, 看到头像还不能确定回复者是谁, 要转一下眼珠到末尾看下用户名和回复时间, 我觉得体验不怎么好. 至少用户名和头像放在一起.
![](http://ming.qiniudn.com/reply.png)

 像 https://ruby-china.org/topics/23892 那样的回复样式怎么样?

[2015-02-03 09:15] microlv commented on #479
感觉应该使用开放的评论系统,省时省力.
如disqus

[2015-02-03 09:18] alsotang commented on #479
.................
@andy 当自定义 feature 多的时候，用那些东西反而麻烦。disqus 对于 markdown 预览，js 语法高亮什么的。hack 它很麻烦的。

[2015-02-03 09:28] feitian124 commented on #479
@alsotang 你 At 了谁? andy是一个 Moscow, Evil Russia 的哥们, 也不是这个项目的贡献者亚...
言归正传, 需要的话我我可以提交一个 pull request, 最近正研究 cnodejs 代码~

[2015-02-03 14:15] alsotang commented on #479
@feitian124 不好意思，在 github 的邮件中， @microlv 显示为 andy.lv 。
pr 的话，样式好看点就好啦。你提的这个 issue 欢迎有 pr 一起来：）

[2015-02-03 15:06] leekangtaqi opened #480 "本地搭建"
a神         本地 install没报错
test : should format date 报错了

115 passing (6s)
  1 failing

  1) test/common/tools.test.js should format date:
     AssertionError: expected '1969-12-31 19:00' to match /1970\-01\-01 0\d:00/
    at Assertion.fail (/usr/local/nodeclub-master/node_modules/should/lib/assertion.js:112:17)
    at Assertion.prop.(anonymous function) [as match] (/usr/local/nodeclub-master/node_m

[2015-02-03 15:14] alsotang opened #481 "连续@同一个人会有问题"
https://cnodejs.org/topic/54d0254bef1b48510c27e1da#54d0e5abef1b48510c27e2f0

[2015-02-04 03:44] lanceli opened #482 "通过github关联已注册账号导致用户名被修改"
当时注册的用户名为ilanceli， 话说lanceli已被注册

当关联自己github @lanceli 后，自己的用户名被修改成lanceli。

[2015-02-04 04:43] alsotang commented on #482
我订正了一下数据，你的用户名回到 ilanceli 了。
以及，之前有个用户跟我说希望 cnode 用户名随 github 变更我才加的逻辑。现在我把用户名变更的逻辑去掉了，以后用户名一旦注册不可更改。

你看 ok 了没？

[2015-02-04 05:47] lanceli commented on #482
我的账号已恢复正常

恩 不可更改的好

[2015-02-04 10:51] feitian124 commented on #480
我也碰到了:
1. 时间报错, 猜测是时区.
2. 注册邮寄收不到:
1. debug 模式不会发邮件.
2. 需要配邮件服务器.
建议直接到 mongodb 里面将注册的用户设为 active 就可以了

[2015-02-04 11:54] alsotang commented on #480
如上面所说

第一个问题应该是时区的问题，new Date 最早的日期是 19700101，你那里到 1969 去了。
第二个问题，把自己设成 admin 看看能不能免激活。不用的话就去 mongodb 里面改改。

[2015-02-04 14:52] #481 closed

[2015-02-04 14:55] #477 closed

[2015-02-04 14:55] #482 closed

[2015-02-04 15:47] leekangtaqi commented on #480
非常感谢！ a神 f神
时间问题解决了，
可是邮件还是发不出去
config.js里 我设置了 第三方__126__，并且把__debug__设成了__false__

//邮箱配置
mail_opts: {
    host: 'smtp.126.com',
    port: 25,
    auth: {
      user: 'leekangtaqi@126.com',
      pass: '40124555r'
    }
  },
还是发不出去。

过了一会报了个错：
You can debug your app with http://localhost:3000
New Relic for Node.js halted startup due to an error:
Error: Unknown license key
  at StreamSink.parser

[2015-02-05 05:17] #479 closed

[2015-02-07 09:14] i5ting opened #484 "个人页面加一个精华帖部分吧"
https://cnodejs.org/user/i5ting

## 目前

- 最近创建的话题
- 最近参与的话题

## 期望

目前

- 精华帖
- 最近创建的话题
- 最近参与的话题

[2015-02-07 10:04] alsotang commented on #484
哥，像你这样的发帖大户，创建的话题也没超过一页。进去一看就知道哪些是精华了啊

[2015-02-08 11:31] alsotang opened #485 "使用 iojs"
主要是觉得现在 iojs 太新了。
1. 等 cnpm 可以正确安装 iojs 的依赖
2. travis 可以跑通 iojs 的测试

现在已经开启一个 iojs branch

[2015-02-08 13:26] alsotang commented on #485
bcrypt 这个库现在最新版是 0.8.1，无论 mac 上还是在部署 cnode 的服务器上，npm install 的时候都有几率报错。报错原因可能跟一个 `child_process` 库的 api 改动有关。
however，线上已经在用 iojs 1.1.0 了。

[2015-02-08 13:26] #485 closed

[2015-02-14 09:01] i5ting opened #487 "自己给自己回复也会有未读提示，算bug吧"
https://cnodejs.org/topic/54df0b73dd69e60a39c31270#54df0e77dd69e60a39c31275

[2015-02-14 13:36] #487 closed

[2015-02-14 13:37] alsotang commented on #487
已修复

[2015-02-17 05:55] luoyjx commented on #480
你试试把
[code]
那里改成：
[code]
看下能不能行
我才用nodemailer做了示例的
[传送门](http://blog.gaoqixhb.com/p/54e19950f8899e822ec02d52)

[2015-02-17 08:16] luoyjx opened #488 "要不要加个脚本来监控下cnode，以防节假日网站挂掉大家都访问不了的问题"
腊月二十九cnode挂了，估计都回家过年去了...囧...
自己捣鼓了下，贴下sh脚本代码
[code]

然后加入到crontab里

至于异常之后的操作，我是在想有三个模式：
* notify模式，挂掉时只发送邮件通知（做个单独的mail_notify.js执行文件？）
* auto模式，挂掉时尝试运行脚本重启
* hybrid模式，notify+auto

（不过我自己都没搞过，哈哈...）

[2015-02-17 14:51] JacksonTian commented on #488
有监控宝的吧。

发自我的 iPhone

[2015-02-17 14:54] luoyjx commented on #488
监控宝似乎也不能重启服务呀，这都有差不多半天不能访问了...

[2015-02-17 17:13] alsotang commented on #488
我们的服务在遇到异常情况会自动重启的啊，pm2 已经做了这事了。

我有监控宝的，只是白天没有电脑。

2015-02-17 22:54 GMT+08:00 yanjixiong <notifications@github.com>:

[2015-02-18 03:03] luoyjx commented on #488
了解了，昨天是遇到啥情况了，必须得手动搞定

[2015-02-18 03:10] luoyjx commented on #488
既然大神们已实现过这个功能就先关掉issues啦，新年快乐大神们:)

[2015-02-18 03:10] #488 closed

[2015-03-01 01:27] i5ting opened #490 "更新io.js-cn作为友情社区"
http://cn.iojs.org/

[2015-03-02 08:10] alsotang commented on #490
fix by #491

[2015-03-02 08:10] #490 closed

[2015-03-04 04:37] Matrixbirds opened #495 "cannot find module './config' solution"
the error info :
module.js:340
         throw err;
Error: Cannot find module './config'

![stepone](https://cloud.githubusercontent.com/assets/9990676/6478363/77eeac14-c26c-11e4-9b46-3cfb400eb7bb.jpg)

Because the default module file named config.default.js so you should rename or add the config.js file
in this project
For example: you can just copy config.default.js to config.js that is very simp

[2015-03-05 14:15] JacksonTian commented on #495
之前readme里有提到`cp config.default.js config.js`的操作。谁删了？@alsotang

[2015-03-05 14:59] DongHongfei opened #496 "编辑器样式问题"
![833b3419-d996-4ef0-a279-dd8bdeee8034](https://cloud.githubusercontent.com/assets/5700428/6507073/8c8bba44-c38a-11e4-8124-ea803253359e.png)

解决方案：
增加样式 .CodeMirror-sizer{min-width:100px!important}

[2015-03-06 02:52] alsotang commented on #496
merged by  #497

[2015-03-06 02:52] alsotang commented on #496
thx

[2015-03-06 02:52] #496 closed

[2015-03-06 02:53] alsotang commented on #495
fixed by #497

[2015-03-06 02:53] #495 closed

[2015-03-11 06:11] shixianjun commented on #480
win7下安装报错呀
$ npm install
/

d:\gitpro\nodeclub\node_modules\bcrypt>node "d:\Program Files (x86)\nodejs\node_
modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebui
ld
gyp ERR! configure error
gyp ERR! stack Error: Can't find Python executable "python", you can set the PYT
HON env variable.
gyp ERR! stack     at failNoPython (d:\Program Files (x86)\nodejs\node_modules\n
pm

[2015-03-11 06:12] shixianjun commented on #480
python 我在cmd下是可以的呀

[2015-03-11 07:46] alsotang commented on #480
win7 我搞不定..

[2015-03-13 03:56] shaqueoneal commented on #480
121 passing (8s)
  1 failing

  1) test/api/v1/tools.test.js should response with loginname:
     Uncaught Error: Error setting TTL index on collection : sessions
    at /home/share/z07042/MyPrj/nodeclub-master/node_modules/connect-mongo/lib/connect-mongo.js:161:23
    at /home/share/z07042/MyPrj/nodeclub-master/node_modules/connect-mongo/node_modules/mongodb/lib/mongodb/db.js:1430:36
    at __exe

[2015-03-13 04:13] alsotang commented on #480
线上是用 2.6 的。

2015-03-13 11:56 GMT+08:00 shaqueoneal <notifications@github.com>:

[2015-03-13 09:51] shaqueoneal commented on #480
这个没有卸载脚本吗？ms Makefile 没有 uninstall 也没有clean？这样不好吧？

[2015-03-14 07:36] alsotang commented on #480
makefile 里的操作都没有影响到项目文件夹以外。删了文件夹就好了。

2015-03-13 17:51 GMT+08:00 shaqueoneal <notifications@github.com>:

[2015-03-16 09:43] hezedu opened #499 "前端分页问题。"
点精华，然后再点第二页，还是跑到全部第二页里。

简单的解决方案：
[code]
然后你懂的。

[2015-03-16 12:01] #499 closed

[2015-03-16 12:03] alsotang commented on #499
解决了。我在后端解的。

[2015-03-17 09:29] alsotang opened #500 "增加锁帖功能"
锁帖之后，帖子不能继续回复。

主要是针对一些招聘贴的。我个人不反对招聘贴，但不能恶意来顶贴。

如果有用户不停顶贴的话，也不至于直接删掉。

[2015-03-17 14:02] #500 closed

[2015-04-02 16:34] alsotang opened #503 "CNode 改进计划 2015-04"
1. 去掉 nginx 的 ratelimit 限制
2. nodejs 层面 ratelimit 加入
3. avatar 代理
4. 缓存用上 redis
  包括 common/cache.js 和 session
  更新对应的 readme 和 config.js
5. 删除改为软删除
6. 研究数据库备份策略
7. 加快 moogodb 的查询速度

[2015-04-02 23:58] luoyjx commented on #503
要不要研究朴神说的垃圾检测，哈哈~

[2015-04-03 00:12] luoyjx commented on #503
上次想了一下策略，可能很逗比~
- 这个值初始1
- 在每次发帖的时候 * 2
- 达到2的10（或20）次方的时候暂时锁定用户（忘记nodeclub锁定用户的帖子能不能显示了），再积极的小伙伴好像一天也发不了10（或20）个高质量帖子
- 定时任务每天将这个值除以2的4次方，小于4的就不除

也没有仔细想~

[2015-04-03 02:12] alsotang commented on #503
我打算直接限制每天只能发三个贴

在 2015年4月3日 上午8:12，yanjixiong <notifications@github.com>写道：

[2015-04-03 04:57] luoyjx commented on #503
隐约觉得稍感束缚。
恩，不过可以先试行，看效果如何。

[2015-04-03 06:25] jysperm commented on #503
提供一个方案，可以为每个用户统计「活跃天数」这个指标，即总共有多少天发过帖子。不考虑性能的话，直接查这个用户的所有帖子，按日期分组，分组的数量就是活跃天数。

然后限制用户每天的发帖数量最多为他的活跃天数（再加上一）。如果是新用户的话第一天只能发一个帖子，第二天可以发两个，以此类推，如果是老用户的，接近于无限制。另外除了发帖限制，这也是一个很不错的用来量化用户活跃度的指标。

[2015-04-03 12:46] NitroXenon opened #504 "手機無法發表主題"
如題
希望能在手機版網頁上加入發表主題功能

[2015-04-03 16:09] alsotang commented on #504
请下载客户端。主页的右下角有二维码扫描。

[2015-04-04 02:06] NitroXenon commented on #504
..沒有載點? 如果只用手機，根本無法發文和下載客戶端 :(

[2015-04-04 05:58] foolmath commented on #503
Cookie 里只保存 user_id 是不是不安全

[2015-04-04 13:09] #503 closed

[2015-04-05 09:28] 03128crz opened #505 "make install报错，貌似bcrypt出问题了"
npm WARN engine xmlbuilder@2.5.0: wanted: {"node":"0.8.x || 0.10.x || 0.11.x  || 1.0.x"} (current: {"node":"0.12.2","npm":"2.7.4"})
npm ERR! git clone --template=/root/.npm/_git-remotes/_templates --mirror http://ikt.pm2.io/ikt.git /root/.npm/_git-remotes/http-ikt-pm2-io-ikt-git-58fd7291: undefined
npm ERR! git clone --template=/root/.npm/_git-remotes/_templates --mirror http://ikt.pm2.io/ikt.git

[2015-04-05 10:05] 03128crz commented on #505
原来是python版本低于2.7导致的，设置下版本
 npm config set python /usr/local/python27/bin/python2.7

[2015-04-05 10:05] #505 closed

[2015-04-05 10:05] 03128crz opened #506 "make test 有一个不通过，是什么原因，请问有影响吗"
134 passing (8s)
  1 failing

  1) test/common/cache.test.js should expire:
     Uncaught AssertionError: expected { age: 23 } to not exist
    at /storage/app/nodeclub/test/common/cache.test.js:18:22
    at /storage/app/nodeclub/common/cache.js:13:5
    at try_callback (/storage/app/nodeclub/node_modules/redis/index.js:592:9)
    at RedisClient.return_reply (/storage/app/nodeclub/node_modules/red

[2015-04-06 08:23] alsotang commented on #506
重跑一次试试？

2015-04-05 18:05 GMT+08:00 james <notifications@github.com>:

[2015-04-07 07:02] wanghaisheng opened #507 "autherror 和 ratelimit forbidden"
更新到最近版本后   注册新的用户提示如下错误

{ [AuthError: Invalid login - 550 �û���Ȩ��½] name: 'AuthError', data: '550 �û���Ȩ��½', stage: 'auth' }

  // 邮箱配置
  mail_opts: {
    host: 'smtp.126.com',
    port: 25,
    auth: {
      user: 'club@126.com',
      pass: 'club'
    }
  },
中的用户名和密码在126的网页中是可以登录的

[2015-04-07 07:39] wanghaisheng commented on #507
被126的文档骗了
新建的账号还是要手动在设置里开启SMTP的选项

[2015-04-07 08:00] wanghaisheng commented on #507
// 邮箱配置
  mail_opts: {
    host: 'smtp.126.com',
    port: 25,
   auth: {
      user: 'wondersinformatic@126.com',
      pass: 'clubclub'
    }
  },

  // 邮箱配置
  mail_opts: {
    host: 'smtp.126.com',
    port: 465,
    secure: true,
	auth: {
      user: 'wondersinformatic@126.com',
      pass: 'clubclub'
    },
	debug: true,
    tls: {
        rejectUnauthorized: false // allow invalid certificat

[2015-04-07 08:04] wanghaisheng commented on #507
github授权的账号是可以登录的，但发布话题，提交之后会报
ratelimit forbidden

[2015-04-07 08:06] wanghaisheng commented on #507
参考这里https://cnodejs.org/topic/543c756f91eadb0f73aa33f4
认证错误应该是公司内部做了限制 不知道还有没有其他办法

[2015-04-07 09:00] alsotang commented on #507
新版本加了 ratelimit，对照一下你现在使用的 config.js 与 github 仓库里面的 config.default.js
，是不是少了下面三个字段

  create_post_per_day: 1000, // 每个用户一天可以发的主题数
  create_reply_per_day: 1000, // 每个用户一天可以发的评论数
  visit_per_day: 1000, // 每个 ip 每天能访问的次数

在 2015年4月7日 下午4:07，wanghaisheng <notifications@github.com>写道：

[2015-04-07 09:27] zenboss opened #508 "用户名zenwong密码无法通过邮箱找回，请帮助。"
一直用的密码登录不上去了，召回邮箱也无法找回，系统说没有这个邮箱的注册，请帮忙，谢谢。

[2015-04-07 09:50] wanghaisheng commented on #507
果然。。。fix
这个auth error有没有办法呢

[2015-04-07 10:29] alsotang commented on #508
z*g+cnodejs@gmail.com 数据库中显示注册邮箱是这个，通过这个邮箱找回密码就好了。

在 2015年4月7日 下午5:27，zenboss <notifications@github.com>写道：

[2015-04-08 04:53] zenboss commented on #508
感谢

[2015-04-08 10:03] hylin commented on #504
@NitroXenon 从屏幕右侧向左横向滑动有惊喜

[2015-04-08 10:24] NitroXenon commented on #504
Omg 可以了 發現新大陸啊
感謝~

[2015-04-08 10:24] #504 closed

[2015-04-08 15:24] #507 closed

[2015-04-09 13:30] Samurais commented on #480
@alsotang
README里写node是v1.5，从官方网站找不到 https://github.com/joyent/node/tags
请问线上是什么版本？

[2015-04-10 03:01] alsotang commented on #480
@Samurais https://iojs.org/en/index.html

[2015-04-13 04:08] i5ting opened #510 "建议加了精华给一个通知"
目前加了精华是没有任何显示的，建议加一个通知

[2015-04-14 01:32] jinceon opened #511 "回复删除后主题的最后回复时间和最后回复人"
假设某主题有7个回复。
这时用户A去提交第8个回复。提交成功后，最后回复人显示为A。
用户A随即就删除刚刚发表的回复。删除成功后，最后回复人依然显示为A。

最后回复时间同理。

[2015-04-14 01:36] jinceon opened #512 "编辑回复时，新增的@用户"
假设第一次回复时，@张三 @李四 @王五，会发消息通知这3人。
提交成功后，修改该回复，同时新增加@孙六。
系统并未增量通知@孙六。

是否会考虑修改？其实我也感觉这是好无聊的问题，真要@谁的话再发一条评论就好啦，哈哈
如果会考虑修改，但是你们忙的话，其实我周末也可以试试提交pr，哈哈

[2015-04-14 03:00] alsotang commented on #512
不改了吧，保持简单。

在 2015年4月14日 上午9:36，JinCeon <notifications@github.com>写道：

[2015-04-14 03:01] alsotang commented on #511
这个地方确实可以在删除回复之后去更新一下对应的帖子

在 2015年4月14日 上午9:32，JinCeon <notifications@github.com>写道：

[2015-04-14 03:01] alsotang commented on #511
这个地方倒是环境 pull request 哈

在 2015年4月14日 上午11:00，alsotang <alsotang@gmail.com>写道：

[2015-04-14 03:05] #512 closed

[2015-04-17 07:08] dayuoba opened #514 "README中的疑惑"
这是什么版本？

[2015-04-17 09:08] alsotang commented on #514
iojs.org 啊

2015-04-17 15:08 GMT+08:00 dayu <notifications@github.com>:

[2015-04-17 14:30] dayuoba commented on #514
好吧，还是感谢你的回答
为什么不跑node 0.10呢

[2015-04-18 02:27] jinceon opened #515 "【评论倒序查看】或【评论分页】或增加【滚到底部】的按钮"
文章的评论，是不带分页的。
当评论达到几十条时，滚动查看最新的评论就已经有点烦人了。

假如前面的49条我已经看过了，我就想直接到底看最新的评论。咋办？

电脑还好，有滚动条。
Ipad上木有哇。

[2015-04-18 13:39] i5ting opened #516 "ratelimit forbidden. limit is 3 per day."
ratelimit forbidden. limit is 3 per day.

不合理。。。。。。

[2015-04-19 04:02] alsotang commented on #516
我增大一点，改到7

2015-04-18 21:39 GMT+08:00 alfred sang <notifications@github.com>:

[2015-04-19 04:03] alsotang commented on #516
那段时间有人刷论坛所以比较谨慎

2015-04-19 12:02 GMT+08:00 alsotang <alsotang@gmail.com>:

[2015-04-19 11:56] #514 closed

[2015-04-19 13:49] wy19901227 commented on #480
把跑起来的步骤  写的 详细点   谢谢了 ，跑不起来。。。

[2015-04-23 07:59] kaixinsoft commented on #480
win7下安装报错呀
$ npm install
/

    bcrypt@0.8.1 install d:\gitpro\nodeclub\node_modules\bcrypt

我也是这个搞不定，bcrypt rebuild的话，好像挺麻烦，失败告终

[2015-04-23 08:00] luoyjx commented on #480
要装VS

[2015-04-23 08:01] kaixinsoft commented on #480
安装的vs2010，python好像没有装

[2015-04-23 08:02] luoyjx commented on #480
python 2.7

[2015-04-23 08:05] kaixinsoft commented on #480
C:\Program Files\nodejs>npm install bcrypt --registry=https://registry.npm.taoba
o.org
npm WARN package.json path@0.11.14 path is also the name of a node core module.
npm ERR! Windows_NT 5.1.2600
npm ERR! argv "C:\\Program Files\\nodejs\\\\node.exe" "C:\\Program Files\\nodejs
\\node_modules\\npm\\bin\\npm-cli.js" "install" "bcrypt" "--registry=https://reg
istry.npm.taobao.org"
npm ERR! node v0.12.

[2015-04-23 08:22] kaixinsoft commented on #480
C:\Program Files\nodejs>npm install bcrypt
npm WARN package.json path@0.11.14 path is also the name of a node core module.
/

C:\Program Files\nodejs\node_modules\bcrypt>if not defined npm_config_node_gyp (
node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modu
les\node-gyp\bin\node-gyp.js" rebuild )  else (rebuild)
  blowfish.cc
  bcrypt.cc
  bcrypt_node.cc
C:\Program Fi

[2015-04-23 14:27] alsotang commented on #480
用 windows 玩 node 会遇到很多麻烦，还是考虑用 *nix 吧

2015-04-23 16:23 GMT+08:00 kaixinsoft <notifications@github.com>:

[2015-04-24 00:32] kaixinsoft commented on #480
好吧，去linux下折腾一下

[2015-04-24 03:46] huaian opened #519 "github oatuh 中的callbackurl是什么？"
// github 登陆的配置
GITHUB_OAUTH: {
clientID: 'your GITHUB_CLIENT_ID',
clientSecret: 'your GITHUB_CLIENT_SECRET',
callbackURL: 'http://cnodejs.org/auth/github/callback'   },

把callbackURL 中的域名换成自己的，跳转就报500 status

http://131.43.53.73/auth/github/callback?code=b7e1002a777f74490ab5

[2015-05-04 12:14] luoyjx commented on #515
把回到顶部切两半，加个“回到底部”，哈哈

[2015-05-06 07:57] stiyes opened #522 "ejs 设置多个layout怎么配置？"
大部分页面都是有边栏和侧边栏的，单有些专题或者活动页面又要是单页形式的，有办法可以多个layout么

[2015-05-06 08:01] JacksonTian commented on #522
include.

[2015-05-06 08:25] stiyes commented on #522
我的已经是，模板文件layout.html，再加几个模板文件，oneColumn.html，towColumns-left.html,threeColumns.html，这样子~~

[2015-05-06 12:21] alsotang commented on #522
在 render 的时候应该是可以指定 layout 的吧？特定页面指定一下就好了。

不过还是不太懂你问的是什么。

2015-05-06 16:25 GMT+08:00 stiyes <notifications@github.com>:

[2015-05-06 13:52] luoyjx opened #523 "proxy/topic加一句代码首页就可以缓存了"
100行加一行
[code]

变成
[code]

然后再到controller/site里加缓存，你看需不需要
@alsotang

[2015-05-07 02:20] alsotang commented on #523
暂时还是不要了。现在这方面的性能问题也不大。

按照这篇文章来说，对于这类场景我还是倾向于 html 片段缓存：https://cnodejs.org/topic/55210d88c4f5240812f55408

[2015-05-07 02:28] luoyjx commented on #523
我看了半天...结果发现我说的好像就是缓存首页的文章列表片段啊~

[2015-05-07 05:18] alsotang commented on #523
html 片段缓存中的【片段】是指渲染出来之后的 html。

[2015-05-07 05:21] luoyjx commented on #523
指的是，通过将几个部分分离到几个html模板中缓存这几个html渲染后的结果么

[2015-05-07 08:01] wikieswan opened #524 "线上部署注册邮件问题"
问题：

我fork了一份代码，本地部署了一份代码，跑起来都没问题，注册邮件也是可以收到。

但是线上的代码就无法收到注册邮件，请问怎么解决？

贴出我的config.js

[code]

[2015-05-07 08:34] #523 closed

[2015-05-07 12:14] alsotang commented on #524
线下都行的话，那配置应该是没问题的

在 2015年5月7日 下午4:02，wikieswan <notifications@github.com>写道：

[2015-05-07 12:14] alsotang commented on #523
你就不能 google 一下什么是【html片段缓存】吗

[2015-05-07 12:29] luoyjx commented on #523
只是确认下是不是ejs 缓存的片段....

[2015-05-07 12:43] wikieswan commented on #524
@alsotang  恩，config.js配置没问题的，这种情况可能是主机问题吗？能给个解决的思路吗？

[2015-05-08 11:32] alsotang commented on #524
把本地的config.js原封不动放上去还不行的话，说不定是主机的问题。

在 2015年5月7日 下午8:43，wikieswan <notifications@github.com>写道：

[2015-05-08 11:32] alsotang commented on #524
用的是哪里的主机？

在 2015年5月8日 下午7:31，alsotang <alsotang@gmail.com>写道：

[2015-05-09 02:44] wikieswan commented on #524
可能是主机的问题吧，用的香港的vps，现在正在联系主机服务方，正在查找问题！等有结果马上回复

[2015-05-15 03:31] yunnysunny opened #525 "建议增加自定义头像的功能"
现行的cnode社区的头像无法修改，希望增加修改自定义头像的功能

[2015-05-18 01:21] XueSeason opened #526 "一个数据库事务性相关的BUG"
尝试了下创建主题的功能，在controller/topic.js的put方法中执行Topic.newAndSave成功后执行回调时，突然服务器出错，导致User.getUserById并未执行到，最终结果是主题被添加到数据库中，而user的信息并没有被改变。

[2015-05-18 01:46] alsotang commented on #526
真正常。虽然不少场景从常理上说是需要事务，但不是 100% 需要事务的地方一般都不使用事务，否则并发量稍微一上来，数据库就会被事务卡死了。

在 2015年5月18日 上午9:21，薛纪杰 <notifications@github.com>写道：

[2015-05-22 13:36] zdnet opened #528 "Please add db number support in config file"
hi, request an enhancement as below:
  redis_host: '127.0.0.1',
  redis_port: 6379,
  redis_db: 3 <-- could add db number indicator?

thanks.

[2015-05-24 07:52] #528 closed

[2015-05-24 07:58] alsotang commented on #528
已经加上了

[2015-05-27 06:48] wikieswan commented on #524
是邮箱设置问题，现在才想起来关闭issue，sorry！谢谢@alsotang的帮助。

[2015-05-27 06:48] #524 closed

[2015-05-28 01:48] anderson916 opened #531 "上传多个图片，在markdown编辑框只显示第一个图片"

[2015-05-28 01:49] anderson916 commented on #531
查了七牛，也只上传了一个图片。

[2015-05-28 04:43] alsotang commented on #531
我看了看编辑器的实现，只支持一次上传一个文件。我把选择多文件的特性关掉了，免得造成误解。

[2015-05-28 04:43] #531 closed

[2015-05-28 05:41] alsotang opened #533 "/agent 代理部分加上缓存"
目前没有 etag 和 last-modified 的缓存，只有 max-age 的。

[2015-05-28 13:08] #533 closed

[2015-05-28 13:13] alsotang commented on #533
感谢 @huacnlee 提醒这个地方。

[2015-05-31 02:58] Matrixbirds commented on #519
github上是否为你的域名开发app授权？

[2015-05-31 02:59] Matrixbirds opened #535 "回帖为何不做成异步的？"
RT.每次回复一个主题就得刷新整个页面 是不是开销略大？

[2015-06-01 04:09] luoyjx commented on #535
不像新闻，回帖其实也有很多重要的内容，异步对收录不友好吧貌似？

[2015-06-01 08:05] alsotang commented on #535
只是单纯没有做而已。开销并不大啊。

2015-06-01 12:09 GMT+08:00 yanjixiong <notifications@github.com>:

[2015-06-01 08:07] luoyjx commented on #535
又是懒。。。

[2015-06-01 09:23] huacnlee commented on #535
实现一下挺简单的

[2015-06-02 07:08] toby20130333 commented on #507
有人遇到过吗 我之前126邮箱发送激活邮件妥妥的，最近发送老是失败，用户都说收不到激活邮件

[2015-06-02 08:40] alsotang commented on #507
126 对于发送邮件的限制吧

在 2015年6月2日 下午3:08，一衣带水 <notifications@github.com>写道：

[2015-06-02 09:17] toby20130333 commented on #507
那就没有办法解决吗？换成企业邮箱能否解决这个问题呢

[2015-06-07 02:37] saleopt commented on #480
这个版本是只有前台，还是前台及后台管理都有？

[2015-06-08 03:58] alsotang commented on #480
整套代码都在这里

2015-06-07 10:37 GMT+08:00 saleopt <notifications@github.com>:

[2015-06-10 02:48] tvvocold opened #536 "快捷登录"
很赞的 Club!
可否加入更多快捷登录方式比如新浪微博，Google +/twitter 等？

[2015-06-10 05:46] alsotang commented on #536
不好意思没有计划。

2015-06-10 10:48 GMT+08:00 Ray <notifications@github.com>:

[2015-06-10 08:23] #536 closed

[2015-06-10 08:28] tvvocold opened #537 ""Parameter 'url' must be a string, not " + typeof url"
$node app.js
[code]
$ make start
[code]
求解

[2015-06-14 08:00] jinceon commented on #511
4月14.。。。。呃

[2015-06-14 08:00] #511 closed

[2015-06-15 03:37] alsotang commented on #511
@jinceon 这个已经修了

[2015-06-15 03:54] jinceon commented on #511
嗯嗯，所以我已经closed掉了

[2015-06-29 07:46] chen844033231 opened #540 "登录密码用明文传输?是不是需要加密下"
直接用from的post,用户名和密码都是明文的. 很容易盗号.

[2015-06-29 08:01] alsotang commented on #540
这个，看有没有被人盯上吧。。站点是已经 https 了

2015-06-29 15:46 GMT+08:00 marchen <notifications@github.com>:

[2015-06-30 14:56] luoyjx opened #542 "production模式貌似view cache已经打开了"
https://github.com/strongloop/express/blob/master/lib%2Fapplication.js#L117-L119
这里还需要么？
https://github.com/cnodejs/nodeclub/blob/master/app.js#L114
还是说加上这个？
[code]

[2015-07-01 06:49] alsotang commented on #542
这个地方确实是冗余了。

[2015-07-02 03:03] toby20130333 commented on #525
嘿嘿 我也希望新增自定义头像的功能，求大神把这个功能加上去 学下

[2015-07-07 03:06] y411040724 opened #543 "UPYUN Open Talk 永不止步：移动应用架构的重塑与优化"
# UPYUN Open Talk 永不止步：移动应用架构的重塑与优化 #

![](http://lock522.b0.upaiyun.com/11.jpg)

面对各自产品的独特挑战，架构师们的作用举足轻重。他们擅用相对简单的底层服务，和敏捷开发实践，完成极度复杂高效的架构。

UPYUN Open Talk 第十一期《永不止步：移动应用架构的重塑与优化》再次抵达上海，邀请到“in”安卓负责人冯明、“扇贝”产品与技术负责人吴焱红、“饿了么”移动端负责人胡彪，分享移动应用背后的架构演进之路。

## 活动时间 ##

2015 年 7 月 25  日  13:00 - 17:30

## 活动地址 ##

上海 · 徐汇，古美路 1582 号总部园 2 期 C 幢  2 F

## 报名链接 ##

[http://www.huodongxing.com/go/upyun-open-ta

[2015-07-07 03:19] #543 closed

[2015-07-07 04:28] JacksonTian commented on #543
发在这里是神马意思？

[2015-07-21 06:42] kvkens opened #546 "在API页面退出是500"
https://cnodejs.org/api
在api页面内，右侧退出，返回post 500错误。其他页面正常。

[2015-07-21 06:59] #546 closed

[2015-07-21 07:02] kvkens commented on #546
速度很快啊tang ,nice!

[2015-07-21 07:04] alsotang commented on #546
嗯嗯，刚好看到。

2015-07-21 15:02 GMT+08:00 JayChou <notifications@github.com>:

[2015-08-03 16:47] leapon opened #549 "帖子的关闭回复功能"
在问题类型的帖子里，建议加个flag。
问题提出者可以点一下，表示问题已解决，不允许再更贴了。

长时间没更新的帖子，也可以自动加这个flag （比方说，睡觉六个月以上的帖子）

[2015-08-04 01:55] JacksonTian commented on #549
不喜欢关闭帖子的功能。
点到那种帖子 感觉论坛就是一阵久远的气息。。

[2015-08-04 02:48] highsea opened #550 "社区挂了15分钟啦……从9个9到1个9"
8月4日 大约从10.40 开始的吧，[如图](http://images0.cnblogs.com/blog2015/531703/201508/041046090173380.png)

从曾经的 **9个9** 到 **1个9**

![.](http://images0.cnblogs.com/blog2015/531703/201508/041046090173380.png)

[2015-08-04 04:15] alsotang commented on #550
.........之前也没有 9个9 啊

如果你知道 cnode 有多少运维人员的话，你就知道我这响应速度有多快了..............

我正在积极联系某个志愿者加入我的运维队伍。

2015-08-04 10:48 GMT+08:00 高海 <notifications@github.com>:

[2015-08-04 04:24] alsotang commented on #549
目前这个功能是可以很快加上的。我们的帖子目前已经有【锁帖】的功能了，只是目前只能管理员自己操作。如果让发帖者可以操作自己的帖子的话，也是合理的。

不过我看百度贴吧和 V2 好像也都没这么弄啊，挖坟贴也不少... @leapon 你是看哪类帖子的出现才提出这个需求的呢？

[2015-08-04 04:35] albin3 commented on #550
当个志愿者出现…

[2015-08-04 05:41] highsea commented on #550
好吧……  下午 1.30 社区又挂了；如果有需要的话，十分乐意加入 唐少爷 的志愿者队伍，虽然技术还不咋的

[2015-08-04 06:45] alsotang commented on #550
下午挂是跟志愿者在调试.....还撑得住，大家放心..宕机只是偶然情况

[2015-08-04 09:05] JacksonTian commented on #549
手工锁帖支持。自动锁帖不怎么喜欢。有时候挖坟还是很有意思的

[2015-08-04 09:44] alsotang commented on #549
https://cnodejs.org/topic/55a6b4ef5a4b4a86539c3005  @leapon 这个帖子并不能说明锁帖功能的必要性吧...

[2015-08-05 09:00] zh-h commented on #549
听说百度贴吧挖坟试试看。为什么要锁帖

[2015-08-07 11:24] alsotang opened #551 "去掉【收藏】有关的功能"
各位客户端的开发者，之后我们社区不打算提供的收藏功能，麻烦应用检查一下是否有接触到相关的功能，如果有的话，可以全部去掉。

如果有类似需求的话，可以考察一下下述两个服务提供的接口：

https://getpocket.com
https://evernote.com

[2015-08-07 11:27] TakWolf commented on #551
收到，正在处理中

[2015-08-07 14:08] TakWolf opened #552 "api消息接口：get /messages 获取已读和未读消息 是返回用户创建开始所有的消息吗"
这个返回的是所有的消息吗，还是会返回最近xx条消息？
目前没收到太多消息，没测到上限

[2015-08-07 14:24] alsotang commented on #552
已读是最近几十条，具体20还是30忘了。
未读是所有未读。
未读那个接口，访问的时候，就会全部标记为已读。
所以取 count 的话，有专门的 count 接口。

在 2015年8月7日 下午10:08，幻影狼人 <notifications@github.com>写道：

[2015-08-07 14:41] #552 closed

[2015-08-10 12:24] TakWolf opened #553 "网站备案期间，API调用地址会变更吗？"

[2015-08-11 03:12] alsotang commented on #553
不会的，网址不变，api 就不会变。

而且备案期间，我只会部分关闭 web 网站，api 接口不受任何影响。

[2015-08-11 03:12] #553 closed

[2015-08-12 03:23] TakWolf opened #554 "api接口中关于 avatar_url 这个参数"
我看到commit中有提到取消通过代理的方式获取avatar

目前线上接口获取的avatar_url是直接地址
而之前获取的格式是  agent/{url}，客户端调用的时候是手动拼接的：`https://cnodejs.org + /agent/{url}`

以后返回的avatar_url规定为不使用代理而是直接地址了吗？

[2015-08-12 03:25] TakWolf commented on #554
最好可以都返回直接地址，即使以后又恢复成代理模式，api也返回代理后的完整地址

这样调用端就不需要重新打包发布了

[2015-08-12 03:28] TakWolf commented on #554
和这个相同的还有两个情况，分别是用户@协议和web端上传图片的url地址协议，目前客户端进行了过滤处理

![image](https://cloud.githubusercontent.com/assets/6064962/9215989/152da8d0-40e5-11e5-93b4-09773d43c9ea.png)

这两个协议长远来看是不是也是不可靠的

[2015-08-12 03:45] alsotang commented on #554
1. 这个 `avatar_url` 的地方，以后我都返回直接地址。
2. 下面提到的两个协议，长远来看是可靠的。

[2015-08-12 03:58] TakWolf commented on #554
OK, get!

[2015-08-12 03:58] #554 closed

[2015-08-12 04:02] alsotang commented on #554
这个地方是我的设计失误，现在我已经将这块代理逻辑从 model 中迁移至 view 中了。

2015-08-12 11:58 GMT+08:00 TakWolf <notifications@github.com>:

[2015-08-12 10:43] TakWolf opened #555 "用户的accessToken有效期是多少"
例如，用户不小心泄露的accessToken，希望通过例如修改密码的行为，让当前的accessToken失效，让服务器产生新的accessToken

目前的策略是什么？

[2015-08-12 11:28] alsotang commented on #555
目前并没有这方面的策略。。。。

要做的话，可以加个重新生成 accesstoken 的逻辑和按钮进去。

在 2015年8月12日 下午6:43，TakWolf <notifications@github.com>写道：

[2015-08-12 12:01] TakWolf commented on #555
http://cnode-api.takwolf.com

https://github.com/TakWolf/CNode-Image-Upload-API

已经部署这个服务来解决图片上传的问题

希望可以添加这个功能让用户随时选择让token失效

[2015-08-14 10:45] duoyun commented on #550
挂了好久了？如果需要运维人员，我可以提供帮助，用nodeclub好多年了。

[2015-08-14 10:47] fengmk2 commented on #550
http://cnodejs.org/about
先登录再访问

[2015-08-14 10:57] duoyun commented on #550
太神奇了，未登录首页有个提示比较好

[2015-08-17 02:31] alsotang commented on #550
在备案中，首页没法出现提示..登录一下就好了

2015-08-14 18:57 GMT+08:00 Cyrus.Chu <notifications@github.com>:

[2015-08-17 08:46] xr commented on #550
@alsotang 在digitalocean居然也需要备案了？

[2015-08-17 09:12] alsotang commented on #550
迁移回国内了

2015-08-17 16:46 GMT+08:00 liangular <notifications@github.com>:

[2015-08-20 02:03] zysam opened #557 "cnodejs.org 挂好几天，客户端倒是能访问，登陆却需要扫网页的二维码，真是一个悲伤的操作。"
RT

[2015-08-20 03:42] alsotang commented on #557
不是挂。。是正在备案。看置顶帖。

2015-08-20 10:03 GMT+08:00 Bidens <notifications@github.com>:

[2015-08-20 08:52] mittya opened #558 "请教：服务器部署 “Cannot read property 'user' of undefined”"
在本地系统部署正常，放到服务器上（Ubuntu 14.04 x64 on DigitalOcean）就出现这个问题了，开始的时候还是正常的，运行了半天就出现了。

原来是自己修改后的版本，后来直接从 nodeclub 上 clone 的也出现了同样的问题。

`config.js` 里的 `session_secret ` 和 `auth_cookie_name ` 已修改。

服务器上配置好最后运行的 `make start`。

在这里请教下是什么问题呢？谢谢！

=

开启 debug 后错误日志：

[code]

[2015-08-20 10:03] alsotang commented on #558
感觉是没装 redis？

2015-08-20 16:52 GMT+08:00 MY <notifications@github.com>:

[2015-08-20 10:21] mittya commented on #558
@alsotang :+1: 非常感谢！

服务器重启了几次，redis 服务没有启动，得弄个自动启动了。

第一次部署 Node 应用，自己还得了解多些东西。

[2015-08-20 10:24] #558 closed

[2015-08-20 13:47] yorkie commented on #557
http://107.170.206.53/

[2015-08-20 15:11] luoyjx commented on #557
你用ip的话要加端口的 http://107.170.206.53:8080/

[2015-08-20 17:14] yorkie commented on #557
好吧～

[2015-08-21 03:41] alsotang commented on #557
去 https://cnodejs.org/about 登陆一下就好了。

2015-08-21 1:14 GMT+08:00 Yorkie Liu <notifications@github.com>:

[2015-08-21 03:41] alsotang commented on #557
首页在备案的时候，被迫只能显示无法访问。【备案中】都不给写。

2015-08-21 11:40 GMT+08:00 alsotang <alsotang@gmail.com>:

[2015-08-21 15:55] zzz6519003 opened #559 "Not Found. Resolve Domain Error."
长城带宽
Not Found. Resolve Domain Error.

[2015-08-21 15:57] #559 closed

[2015-08-23 04:08] alsotang commented on #559
备案中

2015-08-21 23:57 GMT+08:00 Snowmanzzz(Zhengzhong Zhao) <
notifications@github.com>:

[2015-08-23 04:09] alsotang commented on #559
暂时关首页了

2015-08-23 12:08 GMT+08:00 alsotang <alsotang@gmail.com>:

[2015-08-26 09:34] duyexu commented on #515
希望可以加上评论分页功能

[2015-08-26 15:47] zh-h commented on #515
@jinceon 今天没空，明天开干？我一早就想到了添加分页功能，可是我现在还不能在本地运行，maven缺失了下载不了。

[2015-08-26 16:42] jinceon commented on #515
@zh-h 没明白和maven有什么关系

[2015-08-26 17:04] zh-h commented on #515
@jinceon 就是还没办法在本地运行，mevan有报错，有些包下载不来

[2015-08-27 05:48] zh-h commented on #515
@jinceon 乱了乱了，我还以为我提问的是另一个网站的议题。

[2015-08-31 15:02] federerlee commented on #480
I am using node 0.12.6. After fixing some errors, and update the modules there are still problems existing, And I have tried the solutions listed above, but all of them don’t work for my case. I have searched on the google, but cannot find the solution yet. It should be related to the version violate problem. But any other ways to fix them?  BTW, my OS is Ubuntu 14.04 LTS. Thank you in advance!

E

[2015-08-31 15:03] federerlee commented on #480
and I change to downgrade to use node v0.10.40. After reinstalling missing modules, node app.js is applicable. And then it runs!
log prints:
Nodeclub listening on port 3000
God bless love…
You can debug your app with http://localhost:3000
When vising http://localhost:3000, the interfaces for Nodeclub shows. But error log again, show blow.
I think it should also be related to version violation prob

[2015-08-31 15:11] federerlee commented on #480
when running the command line: make test
What It listed are just warnings, but no error details for both 0.12.6 and 0.10.40:
make:*** [test] Error 1

[2015-09-01 03:07] alsotang commented on #480
@federerlee remove the `node_modules` directory, and re-install all deps.
`bcrypt` is a c++ addon, so it's sensitive with v8 version.

[2015-09-02 06:19] federerlee commented on #480
@alsotang Thank you! Your solution works on 0.10.40:
sudo rm node_moduels -r
npm install
...
node app.js
 Then everything seems OK.
NodeClub listening on port 3000
God bless love....
You can debug your app with http://localhost:3000

Started 2015-09-02T06:14:02.497Z GET / 127.0.0.1
  Cache set {"deleted":false}pages 0ms
  MONGO topics.find {"conditions":{"deleted":false,"tab":{"$ne":"job"},"reply_

[2015-09-02 06:23] alsotang commented on #480
嗯嗯，跑得动就好啦

Er er, run move Jiuhaola -- by google translate

2015-09-02 14:19 GMT+08:00 federerlee <notifications@github.com>:

[2015-09-17 07:46] KingMax521 opened #560 "make test 出错，不知道怎么查原因"
我是在本地虚拟机上跑的，非debug模式可以正常跑。
我想关闭debug测试下邮件注册，然后就跑不起来了。。。。

$ make test
undefined:3
return function bound initialize(req, res, next) {
                      ^^^^^^^^^^

SyntaxError: Unexpected identifier
  at Function (native)
  at wrapHandle (/var/www/rdfe/node_modules/newrelic/lib/instrumentation/express.js:273:19)
  at Function.cls_wrapMiddlewareStack [as use] (/var/www/rdfe/node_modules/newrelic

[2015-09-17 13:17] albin3 commented on #557
这个issue可以关了吧…

[2015-09-17 16:04] #557 closed

[2015-09-29 09:11] nqdy666 opened #561 "node库oneapm 1.2.8在node4.1.1导致程序启动报错"
我fork的cnodejs源码在自己电脑上部署。
在node0.12.0，程序运行正常，oneapm 也运行正常。
在使用node4.1.1，只要把var oneapm = require(‘oneapm’)注释掉，程序运行是正常的，一加上就导致程序启动爆错。
不知道cnodejs社区在测试node4.1.1版本时，有没有遇到一样的问题。

[2015-09-29 09:24] albin3 commented on #561
这应该是oneapm方面代码的问题吧。。

[2015-09-29 09:26] alsotang commented on #561
@wyvernnot 看一看？

[2015-09-29 09:28] alsotang commented on #561
我看 1.2.8 已经是 oneapm 最新的了。等待 oneapm 的同学回复中。

2015-09-29 17:25 GMT+08:00 Albin. Zeng <notifications@github.com>:

[2015-09-29 10:25] wyvernnot commented on #561
跟进中

[2015-09-29 12:37] nonstriater opened #562 "user.js controller 跨层调用问题"
在-deleteAll方法里面，我看到如下代码：
![image](https://cloud.githubusercontent.com/assets/3192105/10164032/86c5fefa-66e9-11e5-803d-7aabafa0aa7d.png)

我理解的程序结构是 proxy 作为model 的上层封装，controller是不是不应该跨层直接调用model的接口。

[2015-09-30 02:36] alsotang commented on #562
我们这套代码里面，model 基本是没有方法的，所以 proxy 就是对于操作 model 的一系列方法。

在 2015年9月29日 下午8:37，移动开发小冉 <notifications@github.com>写道：

[2015-10-05 23:21] dotku commented on #480
时区问题如何修复呀？！不过是跑起来了... 另外 nodeclub 是基于什么框架的？

[2015-10-07 03:06] lijy91 commented on #551
是出于什么考虑把接口移除的呢？

[2015-10-08 03:12] alsotang commented on #551
用 evernote

2015-10-07 11:06 GMT+08:00 痕迹 <notifications@github.com>:

[2015-10-09 04:15] alsotang commented on #561
@wyvernnot 有消息了吗

[2015-10-10 06:24] wyvernnot commented on #561
已经在 oneapm@1.2.9 里修复，这个问题是由于 `binded function` 在 Node.JS 不同版本下 `name` 不一致导致的。

**举例说明:**

`Math.abs.bind(Math).name` 的返回值在 node4.0 之前为空，在 node4.0 里是 `bound` ，但是在 node4.１及后来的版本里是 `bound abs`

**相关讨论:**

https://github.com/nodejs/node/issues/2754

目测　#560 也是同样的原因导致的

[2015-10-10 06:40] alsotang commented on #561
https://github.com/cnodejs/nodeclub/commit/3c742e735dec48a8c1951faec96892c15211c228

我把 oneapm 升级到 1.2.9 了。

[2015-10-10 06:40] alsotang commented on #561
话说，oneapm 的 nodejs 探针是开源的吗？

[2015-10-19 06:02] KevinJay opened #563 "Cannot find module './assets.json'"
debug=true时，可以正常运行程序；
但debug=false时，就报“Cannot find module './assets.json'”；
请问要如何解决？谢谢~

nodeclub版本： 2.1.0

[2015-10-19 07:21] JacksonTian commented on #563
执行 make  build

[2015-10-19 07:30] #563 closed

[2015-10-20 05:07] TakWolf opened #564 "API接口，get /messages 获取已读和未读消息 这个接口中，没有mdrender参数"
get /messages 这个接口中返回的对象中，有一个reply对象，其中的content字段为 markdown格式

这个接口中没有给 mdrender 参数来进行预渲染

[2015-10-20 05:24] alsotang commented on #564
https://github.com/cnodejs/nodeclub/commit/3e084dc3a0fd48d1457f7eae101a911400923343

已经加上了，你看看好了没？

话说你微信是什么？我这里搜不到你。我们加一个吧，我号码是：alsotang

[2015-10-20 05:32] TakWolf commented on #564
动作好快啊！！

[2015-10-20 05:33] TakWolf commented on #564
我的微信是  TakWolf [幻影狼人]

我搜了一下你的，感觉不像啊...

[2015-10-20 05:41] #564 closed

[2015-10-21 07:35] TakWolf opened #565 "用户头像一致性的问题"
用户发的帖子：

https://cnodejs.org/topic/562662ab1af271c54823a77e

![image](https://cloud.githubusercontent.com/assets/6064962/10630445/2545b00e-7809-11e5-8fbc-913ba6be3f32.png)

而在用户页面查看的时候，头像变化了：

https://cnodejs.org/user/pd0395

![image](https://cloud.githubusercontent.com/assets/6064962/10630470/3ae66c0a-7809-11e5-8524-4e415a8f8d65.png)

网站和API接口都有这个问题

[2015-10-21 07:36] luoyjx commented on #565
这个问题我也有发现过，不过感觉像是github那边cdn节点的问题

[2015-10-21 07:42] TakWolf commented on #565
这俩用户积分数目不一样，不清楚是不是同一个用户

另外，我在网站首页显示的积分

![image](https://cloud.githubusercontent.com/assets/6064962/10630536/c4b71da8-7809-11e5-81ab-1bc2aeb0cf29.png)

和我在个人页面的积分

![image](https://cloud.githubusercontent.com/assets/6064962/10630546/d035596a-7809-11e5-9a0f-3974743f2247.png)

数目也是不一致的

我看到很多请求的返回状态都是304，猜测服务端做了缓存判断，不清楚是不是和这个有关

![image](https://cloud.githubusercontent.com/assets/6064962/10630580/1

[2015-10-21 08:12] alsotang commented on #565
这个问题一直存在，是用户名重复的问题，我也很奇怪重复的用户名是怎么通过数据库 unique index 检查的。

之前遇到这种情况，都是删除其中用户。我看看

[2015-10-21 08:14] alsotang commented on #565
现在好了，我把老的那个用户删了

[2015-10-21 08:15] alsotang commented on #565
头像一致性的话，由于 github 对于同一个用户都是给一段不变的 avatar 地址，所以正常情况下，github 那边更新的话，我们这边就会随着更新。因为 avatar 地址不会随着用户更新而改变。

[2015-10-21 08:15] luoyjx commented on #565
我之前时不时变回原来的头像。。。然后过一阵又变回来

[2015-10-21 15:22] alsotang commented on #565
呃。。如果有稳定的可重现场景就好了。。

2015-10-21 16:15 GMT+08:00 yanjixiong <notifications@github.com>:

[2015-10-21 15:23] luoyjx commented on #565
这个还好啦，地址都是github那边的，所以我怀疑是他的哪个节点缓存没更新了

[2015-10-25 08:05] luoyjx opened #566 "关于未读消息提醒"
不通过顶部导航入口进入文章的时候，是不是也可以把这篇文章的消息提醒给更新掉

[2015-10-26 07:35] #566 closed

[2015-10-27 00:45] luoyjx commented on #565
![image](https://cloud.githubusercontent.com/assets/4217102/10746553/12a91ec2-7c87-11e5-8c0a-06f809d642a8.png)
又出现了。。。

[2015-10-27 02:26] alsotang commented on #565
你倒是发个链接出来啊

2015-10-27 8:45 GMT+08:00 yanjixiong <notifications@github.com>:

[2015-10-27 02:27] luoyjx commented on #565
https://avatars.githubusercontent.com/u/4217102?v=3&s=120
地址确实是github这边的

[2015-10-28 06:13] tianzhihen opened #571 "有针对管理员的管理功能吗"
如果管理员不会看数据库怎么办？现在有管理员删帖的功能吗？怎么能成为管理员呢？

[2015-10-28 07:03] alsotang commented on #571
呃。。目前没有管理员后台。

但管理员进入帖子里面是可以删帖的。

2015-10-28 14:13 GMT+08:00 tianzhihen <notifications@github.com>:

[2015-10-28 07:47] tianzhihen commented on #571
怎么能成为管理员呢？

[2015-10-28 07:56] tianzhihen commented on #571
怎么能成为管理员呢？

[2015-10-28 10:24] alsotang commented on #571
config.js 里面可以设置

2015-10-28 15:57 GMT+08:00 tianzhihen <notifications@github.com>:

[2015-10-28 10:54] iahu opened #572 "登录成功，但提示"用户名或密码错误""
1. 在登录页面 `https://cnodejs.org/signin` 登录时，但提示失败。
2. 如果跳转到其它页面（如注册页面）可以发现右上角已经有了登录成功后才有的 用户信息

[2015-10-28 11:18] alsotang commented on #572
我这边没有复现。我本地走了一遍新用户注册、激活、登陆的过程。

在 2015年10月28日 下午6:54，fusionBin <notifications@github.com>写道：

[2015-10-28 12:37] iahu commented on #572
提供一下我的截图、系统及浏览器信息

![qq20151028-0 2x](https://cloud.githubusercontent.com/assets/1704588/10788512/05d42642-7db3-11e5-8edc-eb4823c59c4a.png)
[图一：登录错误页面]

![qq20151028-1 2x](https://cloud.githubusercontent.com/assets/1704588/10788513/05d44988-7db3-11e5-82f7-f49a0c635bec.png)
[图二：跳转到其它页面，显示已经登录成功的信息]

---------------------------------------
系统: mac yosemite v10.10.5
浏览器: safari v9.0

[2015-10-29 01:10] tianzhihen commented on #571
感谢 唐少

[2015-10-29 05:53] alsotang commented on #572
我是这么想的。。。你本来就是已登录的状态，但是忘记了用户名密码。所以输入了错误的用户名密码之后，虽然提示错误，但是实际上去看其他页面是已登录的状态。

你用 chrome 匿名模式，难道也会自动登录吗？？

在 2015年10月28日 下午8:37，fusionBin <notifications@github.com>写道：

[2015-10-29 05:58] iahu commented on #572
当然不是已经登录过。chrome 匿名模式也是一样的。

[2015-10-29 06:11] iahu commented on #572
我跟踪了一下，其实是只有点 “注册” 才会出现这个问题，即使我点了登出也一样。
点注册会直接走登录流程，登录流程又会自动尝试用github帐号登录。因为我登录了github，所以直接就跳到了登录成功页面。

[2015-10-29 07:26] alsotang commented on #572
好吧 你可以在配置里面把点击注册直接跳交友网站给关掉的

allow_registry 之类的一个选项

2015年10月29日星期四，fusionBin <notifications@github.com> 写道：

[2015-10-29 07:27] alsotang commented on #572
搜下 config.js 里面的 allow

2015年10月29日星期四，alsotang <alsotang@gmail.com> 写道：

[2015-10-29 07:45] iahu commented on #572
谢谢，了解了。查了下代码，是之前没注意到这个配置项。

不过我这种情况还是挺让人摸不着头脑的，即使chrome左下角github的URL会闪过一会，但也不太会注意到。个人觉得还是在注册页面上放友站的受权登录链接比较友好点。

[2015-10-29 07:52] alsotang commented on #572
那是因为你已经授权过 github，所以它才直接通过的。否则会要你确认的。

[image: 内嵌图片 1]

另外，我们这个地方默认是可以注册的。

在 2015年10月29日 下午3:45，fusionBin <notifications@github.com>写道：

[2015-10-29 07:57] iahu commented on #572
嗯，原因我清楚。
“注册”跳转到github授权登录接口貌似不太容易让人理解。为什么不是点“登录”时跳转？

[2015-10-29 08:04] #571 closed

[2015-11-06 02:15] i-csharp opened #586 "请问怎么跑起来?"
能详细的说一下怎么跑起来吗?比如开发工具用的什么?

[2015-11-06 02:46] TakWolf commented on #586
readme里不是有部署方式吗

[2015-11-06 03:43] i-csharp commented on #586
b

[2015-11-06 03:46] i-csharp commented on #586
我不是想部署  我是想在开发环境跑起来.

[2015-11-06 03:48] i-csharp opened #587 "node app.js 抛异常,怎么搞?"
http_outgoing.js:512
    throw new TypeError('first argument must be a string or Buffer');
          ^
TypeError: first argument must be a string or Buffer

[2015-11-12 13:52] alsotang commented on #404
后来再看，还是一种抽象过度。

大家现在看呢？

[2015-11-12 15:45] xiaokekeT commented on #404
不太支持，不是太有必要

[2015-11-12 16:28] fengmk2 commented on #404
可以参考这种做法 https://github.com/cnpm/npm.taobao.org

[2015-11-20 08:09] TakWolf opened #618 "帖子回复框消失了，无法回复"
https://cnodejs.org/topic/564ed0911986c7df7e92b0ca

![image](https://cloud.githubusercontent.com/assets/6064962/11294765/f2d0125e-8fa0-11e5-946f-6c86e069c70b.png)

Chrome 46，其他帖子浏览正常，不清楚是什么原因

一个新发帖子，估计作者很郁闷。。。

[2015-11-20 08:12] TakWolf commented on #618
好吧，我脑残了。
我的登录状态没了，登录之后就好了。。

[2015-11-20 08:12] #618 closed

[2015-11-21 13:59] alsotang opened #621 "kerberos 安装错误"
![image](https://cloud.githubusercontent.com/assets/1147375/11318780/1145ccce-909b-11e5-8fe3-0ac8fa4491dd.png)

@JacksonTian 安装 mongoose 的时候出现这个错误，我先切到 4.2 去。

[2015-11-21 13:59] alsotang commented on #621
线上版本的问题，使用了 alinode 导致。大部分人可以忽略这个 issue

[2015-11-22 08:29] JacksonTian commented on #621
切到alinode v1.1.0吧。

[2015-11-23 14:28] pluswave commented on #549
不用回复就能mark，这个更重要吧，相当于私人收藏夹。

[2015-11-27 02:30] i5ting opened #633 "图片大于1m的时候提示信息修改"
<img width="561" alt="screen shot 2015-11-27 at 10 29 44 am" src="https://cloud.githubusercontent.com/assets/3118295/11432907/cdca8f9c-94f1-11e5-9493-6dd7154e162f.png">

[2015-11-27 10:07] #633 closed

[2015-11-27 10:40] alsotang commented on #633
![image](https://cloud.githubusercontent.com/assets/1147375/11439425/432a92f2-9536-11e5-9491-b327cad3c424.png)

[2015-12-16 02:53] kevinlvhsl commented on #586
同问。  我的是windows。

[2015-12-16 03:23] alsotang commented on #586
windows 现在应该没有需要编译的东西了。

2015-12-16 10:53 GMT+08:00 kevinlvhsl <notifications@github.com>:

[2015-12-24 02:49] jameBoy opened #667 "消息那块是怎么做的呀?"
看了源码,发现在前台没用找到socket.js,不知道消息通知那块是怎么做的,能指定一下么?

[2015-12-24 03:09] alsotang commented on #667
我们用的极光推送的服务

在 2015年12月24日 上午10:49，isnow <notifications@github.com>写道：

[2015-12-24 05:59] fritx opened #668 "假数据去哪里了？"
记得之前有生成假数据的

[2015-12-24 12:59] alsotang commented on #668
test 文件夹里面

2015-12-24 13:59 GMT+08:00 Fritz Lin <notifications@github.com>:

[2015-12-24 13:41] fritx commented on #668
Thanks 找到了

[2015-12-24 13:41] #668 closed

[2015-12-30 02:33] qxl1231 opened #672 "我本地启动很正常,但是一旦部署到服务器上,就会报下面这个错"
Connect
500 TypeError: Cannot read property 'user' of undefined
 at exports.authUser (/root/qxl/nodeclub/middlewares/auth.js:94:18)
 at Layer.handle [as handle_request] (/root/qxl/nodeclub/node_modules/express/lib/router/layer.js:95:5)
 at trim_prefix (/root/qxl/nodeclub/node_modules/express/lib/router/index.js:312:13)
 at /root/qxl/nodeclub/node_modules/express/lib/router/index.js:280:7
 at Funct

[2015-12-30 03:43] alsotang commented on #672
redis 和 mongodb 都装了吗？

2015-12-30 10:33 GMT+08:00 johnson <notifications@github.com>:

[2015-12-30 03:45] qxl1231 commented on #672
都装了,,如果没装肯定会报redis or mongodb 连接异常,这个看报错,应该是session获取不到user,然后就报的错

[2015-12-30 04:04] leizongmin commented on #672
session-redis 连接不成功不会报错，建议再次确认一下本地 redis 和 mongodb 服务是否正常，以及 nodeclub 中相应的配置信息是否正确。

[2015-12-30 04:12] leizongmin commented on #672
+ `connect-redis` 模块在处理 redis 连接出错问题时，触发 `disconnect` 事件：https://github.com/tj/connect-redis/blob/master/lib/connect-redis.js#L102
+ `express-session` 在监听到 `store` 实例的 `disconnect` 事件时设置 `storeReady = false`：https://github.com/expressjs/session/blob/master/index.js#L150
+ 在处理请求时，如果 `storeReady = false` 则直接跳过：https://github.com/expressjs/session/blob/master/index.js#L159

所以存储引擎无法连接成功时不会报错，其表现是没有 `

[2015-12-30 04:33] qxl1231 commented on #672
[root@iZ23wefo5t9Z nodeclub]# redis-server
10153:C 30 Dec 12:28:21.437 # Warning: no config file specified, using the default config. In order to specify a config file use redis-server /path/to/redis.conf
10153:M 30 Dec 12:28:21.438 # Creating Server TCP listening socket *:6379: bind: Address already in use
[root@iZ23wefo5t9Z nodeclub]# mongod
mongod --help for help and startup options
Wed Dec 30

[2015-12-30 04:33] qxl1231 commented on #672
以上是mongodb和redis-server的命令后的响应.说明都是起着的呀

[2015-12-30 05:07] alsotang commented on #672
redis 报错这边，我专门做了一个检测逻辑的，当 redis 服务器不存在的时候，服务器直接 process.exit(1)。

这个报错看起来确实是 req.session 为空时候的报错

2015-12-30 12:34 GMT+08:00 johnson <notifications@github.com>:

[2016-01-19 08:02] calidion commented on #672
redis部分的连接代码有问题。
参考一下我修改的版本，修复了redis的配置问题：
https://github.com/node-weixin/nodeweixinforum

[2016-01-19 08:11] qxl1231 commented on #672
能否合并到主版本上哈,跟atang 商量下?

[2016-01-19 09:11] calidion commented on #672
@qxl1231   我删除了不少东西。应该无法合回来。

[2016-01-19 10:00] alsotang commented on #672
??
你说的问题是，我这里不支持redis密码吗？

https://github.com/node-weixin/nodeweixinforum/blob/master/common/redis.js
 我看这份文件跟我现在的区别就是这一点。

2016-01-19 17:12 GMT+08:00 Eric <notifications@github.com>:

[2016-01-19 10:39] calidion commented on #672
@alsotang  是的。我发现的问题是这个问题。
楼主所说的问题可能是其它问题， 我测试时也出现过。

[2016-02-14 12:06] hehaiquangv opened #751 "为何邮箱收不到注册激活邮件？"
为何邮箱收不到注册激活邮件？gmail和QQ邮箱都不可以

[2016-02-15 05:19] alsotang commented on #751
smtp没配置正确？

2016-02-14 20:06 GMT+08:00 hehaiquangv <notifications@github.com>:

[2016-02-15 08:42] Johnsstt commented on #586
请问win7怎么跑起来?

[2016-02-16 11:30] nnnbnnn commented on #751
同问，config.js下debug要改成false才能发送邮件吗？改了之后win7下出错
[ERROR] cheese - You must execute `make build` before start app when mini_assets is true.
win7下怎么make build，新手求教。。。。

[2016-02-17 06:36] henry4c commented on #751
同问

[2016-02-17 06:48] alsotang commented on #751
windows 的问题自己 debug 调一下吧。

linux 下面的话，如果 config.js 里面的 debug 是 false，并且 smtp
设置正确的话，应该是发得出的啊。以及，我印象中有一段时间网易邮箱是不给 smtp 权限的，QQ 邮箱就没这种限制。还是一步步 debug 试试吧。

2016-02-17 14:36 GMT+08:00 henry4c <notifications@github.com>:

[2016-02-23 07:14] chunmu opened #768 "the require() question"

[2016-02-23 07:15] #768 closed

[2016-02-24 09:56] CoderBOBO opened #769 "怎么才能加入你们的github 组织"

[2016-02-24 10:01] alsotang commented on #769
没有明确的加入方式啊。。。多在社区活跃就好了

2016-02-24 17:56 GMT+08:00 BOBO <notifications@github.com>:

[2016-02-24 10:04] CoderBOBO commented on #769
@alsotang 我想加入你们的组织，最近在翻译linux的英文文档还有angular的英文文章，初步接触nodejs希望能加入

[2016-02-24 10:06] luoyjx commented on #769
@CoderBOBO 去社区注册个号，没事儿发点干货，提下问就好啦

[2016-02-26 03:45] #565 closed

[2016-02-26 03:59] TakWolf opened #772 "API需求添加请求（2项）"
1.  网站端，话题可以查看对某一个回复的回复列表（评论线索图）。目前API中创建回复包含 reply_id 参数，但是并没有提供查询的接口，是否可以补充？

2. 用户个人数据结构中包含两个列表数据分别是：recent_topics 和 recent_replies ，目前这两个数据的最大值都是 5，这个值可否稍微调大一点（10或者20，这个程度应该不会影响性能）。调整原因是数据太少，列表无法填充满页面，数据多一点的话界面上会好看一些。

[2016-02-26 05:19] #772 closed

[2016-02-26 05:24] alsotang commented on #772
1. 网页端的这个查看对话功能，是个纯前端的功能，我之前在 api 中，忘记暴露 `reply_id` 这个字段了。通过 `reply_id` 字段，则可以知道某条评论对应的上一条是什么。

api 中我已经加上。

2. 调整到了15，如需更大我可以继续调整上去。

[2016-02-29 10:54] zkassing opened #776 "建议判断下浏览器给主页文章列表的标题标签加一个_blank"
因为电脑党更习惯点击在新建标签页打开，而手机党更喜欢当前页面打开，每次电脑浏览社区的时候总是打开一个文章看完顺手就关了，很不方便。手机端可以当前窗口打开右滑返回上一页更方便

[2016-02-29 16:34] benliu723 commented on #751
如果是测试的话，直接去mongodb的数据库，将 users 表的 active 字段设为 true 即可，如果发布到线上，则需要 按照 alsotang的评论来进行设置。

[2016-03-02 04:57] nnnbnnn commented on #751
用MongoVUE直接改数据库是可以，后来通过在win7下安装docker，成功make build，邮件也成功发出！
谢谢！
但是还有关于mongodb容器读取win7数据文件出错，还请大神指点！https://cnodejs.org/topic/56c951a9d1e0945c614187fc

[2016-03-02 23:10] lijingmt opened #782 "make build 过不去，求大神指导，Error: Duplicate target: /public/editor.min.js"
debug改false后，运行不了，提示需要make build，但出错。

debug=true是正常运行。。。

求大神指点。

[2016-03-03 02:53] JacksonTian commented on #782
额 应该是builder-loader升级导致的。我来修一下吧

[2016-03-03 03:37] lijingmt commented on #782
感谢感谢啊，我自己捣鼓了半天。。。对了，你在北京么？我在上海，有机会见见哇

[2016-03-03 03:52] alsotang commented on #782
fixed by #784

[2016-03-03 03:52] #782 closed

[2016-03-03 03:58] JacksonTian commented on #782
@lijingmt 我在杭州。

[2016-03-03 10:05] lijingmt commented on #782
终于过了，不过发送邮件好像还是过不去，163的邮箱可以么？smtp 25端口？

[2016-03-03 10:42] lijingmt commented on #782
已经调通了，马上放正式服务器，多谢大神指导，如果有可能，找机会合作一下。

[2016-03-04 22:04] lijingmt opened #786 "当SESSION失效以后，user的88行，会出一个BUG"
[root@i-tqp6jc7g nodeclub]# node app
/nodeclub/controllers/user.js:88
    user.error = null;
               ^

TypeError: Cannot set property 'error' of null
  at Query.<anonymous> (nodeclub/controllers/user.js:88:16)
  at nodeclub/node_modules/kareem/index.js:177:19
  at nodeclub/node_modules/kareem/index.js:109:16
  at _combinedTickCallback (node.js:370:9)
  at process._tickCallback (node.js:401

[2016-03-04 22:15] lijingmt commented on #786
这个错误重现起来麻烦，我应该是打开一个页面放了一晚上，然后点击设置，就会报这个错误。请大神指点。

[2016-03-05 03:49] leizongmin commented on #786
[code]

应该改为：

[code]

https://github.com/cnodejs/nodeclub/blob/3ff1a90dd7121c42fc51254874df5af1ad9e5286/middlewares/auth.js#L26

[2016-03-06 00:39] lijingmt commented on #786
谢谢，已经好了。

[2016-03-15 06:19] alsotang opened #795 "增加收藏功能"
https://cnodejs.org/topic/56e79399b5b04c8f6d4ec35e

[2016-03-15 06:28] luoyjx commented on #795
哈哈，客户端又得改一波了~

[2016-03-15 14:44] alsotang commented on #795
加功能而已。。

[2016-03-15 14:47] XGHeaven commented on #795
我也非常同意

[2016-03-15 15:54] alsotang commented on #795
@XGHeaven https://cnodejs.org/api 多了 `/topic/collect` 和 `/topic/de_collect` 两个接口。

`/topic/:id` 多了 `is_collect` 参数

[2016-03-15 15:54] #795 closed

[2016-03-15 16:13] alsotang commented on #786
已按照 @leizongmin  的建议修改

[2016-03-15 16:13] #786 closed

[2016-03-15 16:14] alsotang commented on #776
不好意思之前在微博回复了这里没有回。

是否新开标签交给用户自己选择

[2016-03-15 16:14] #776 closed

[2016-03-15 16:14] #769 closed

[2016-03-15 22:45] chenxiaohu commented on #795
个人收藏的帖子列表在哪里啊

[2016-03-16 03:31] JacksonTian commented on #795
这个功能不是之前干掉的么？

[2016-03-16 03:54] alsotang commented on #795
@chenxiaohu 列表在个人profile页面中
@JacksonTian 又有很多人说要加上，就加了

[2016-03-16 06:56] alsotang commented on #795
API 列表更新了一个`主题收藏`章节

[2016-03-16 12:34] XGHeaven commented on #795
@alsotang 唐少，似乎收藏列表不支持 limit 和 page 呀

[2016-03-16 12:44] alsotang commented on #795
@XGHeaven 考虑到收藏不会太多，所以这个选项就没加了。有必要的话，客户端做做分页就好。

[2016-03-16 13:14] XGHeaven commented on #795
@alsotang 我觉得还是有必要的，不管怎样。我先预留着和 get /topics 一样的参数。等什么时候有空了可以加一下 :smile:

[2016-03-16 14:19] alsotang commented on #795
嗯嗯，前期你那里就把 page 设为 1，limit 设个很大的数吧

2016-03-16 21:14 GMT+08:00 Xu Tianyang <notifications@github.com>:

[2016-03-16 14:19] XGHeaven commented on #795
@alsotang 恩，好的

[2016-03-20 01:52] i5ting opened #805 "我的回复列表排序顺序貌似不太对"
https://cnodejs.org/user/i5ting/replies

<img width="1158" alt="screen shot 2016-03-20 at 9 51 50 am" src="https://cloud.githubusercontent.com/assets/3118295/13902405/66bc57b0-ee81-11e5-8778-a2be9c25425d.png">

[2016-03-20 03:43] TakWolf commented on #805
这个问题我也发现了

[2016-03-20 14:11] XGHeaven commented on #805
我发现 api 也不是很正确。https://github.com/cnodejs/nodeclub/blob/master/api%2Fv1%2Fuser.js#L19

目测 bug 是这里https://github.com/cnodejs/nodeclub/blob/master/controllers%2Fuser.js#L305

[2016-03-20 15:27] alsotang commented on #805
@XGHeaven 并不是你指出的那里。

是这样的。我们从回复列表中取出了某个用户最近回复的话题后，用这些 recent_reply_topic_ids 去 topic 表取出topic的标题来。本来这些 recent_reply_topic_ids 是按回复顺序排列的，但是这个列表丢给 mongodb 查询之后，出来的结果并不会严格按照传入的这些 ids 的顺序来，而是会按照 topic 本身的 _id 属性来排。

所以在 recent_reply_topic 数据取出后，需要按照 recent_reply_topic_ids 手动排个序。

----

目前页面和 api 都已经 fix 这个 bug 了。

[2016-03-20 15:29] alsotang commented on #805
@XGHeaven 你指出的那个地方确实也算错误，但是那个 order by created 去除之后，取出的数据的排序仍然是需要手动排一次的。

前两天做那个收藏列表的页面时，我刚好遇到了类似的问题。没想到【最近回复】这边一直藏着这个坑。

[2016-03-21 03:41] XGHeaven commented on #805
@alsotang 我对nodeclub具体的也不太清楚，但是我印象中，mongodb不是有联合查询么？不可以用么？

[2016-03-21 04:42] alsotang commented on #805
我们这个应用创建的时候，mongoose 用得还没那么熟练。。这是个 2011 左右创建的项目了。。
后来重构也没动这一块。

2016-03-21 11:41 GMT+08:00 Xu Tianyang <notifications@github.com>:

[2016-03-21 05:32] i5ting commented on #805
@alsotang http://nodeonly.com/nodesang/#/4/14

《SQL to Aggregation Mapping Chart》
http://docs.mongodb.org/manual/reference/sql-aggregation-comparison/

这个应该比较好理解

[2016-03-22 21:50] lijingmt opened #810 "关于redis漏洞的修补 如果我redis配置了密码，如何在nodeclub里面配置密码？"
大神，我用nodejs搭建了论坛，但发现被入侵了，后来查出来是redis的漏洞。
修复redis需要第一，用非root的方式启动redis，第二，用密码方式，第三，关闭key登录ssh的方式。

请问一下，如果我redis配置了密码，如何在nodeclub里面配置密码？

[2016-03-23 08:18] alsotang commented on #810
这谁教的啊。。。

你 redis 如果只监听本地端口，就不会被其他人连上啊。

[2016-03-24 01:44] lijingmt commented on #810
搞定了，多谢多谢。修改了band ip 为127.0.0.1

[2016-03-24 01:44] lijingmt commented on #810
搞定了，多谢多谢。修改了band ip 为127.0.0.1

[2016-03-24 01:52] lijingmt commented on #810
搞定了，多谢多谢。修改了band ip 为127.0.0.1

[2016-03-24 02:00] lijingmt opened #813 "能够更新可以自己上传头像的部分呢？"
自己写一个怕不专业，求大神更新哇。

[2016-03-24 04:55] #805 closed

[2016-03-25 08:58] huguangju opened #814 "make install ikt failed"
[code]
直接访问 http://ikt.pm2.io/ikt.git
![image](https://cloud.githubusercontent.com/assets/6972433/14041276/33767606-f2aa-11e5-8cef-61a161f05808.png)

ikt还有没有其它安装方式？

[2016-03-25 12:29] alsotang commented on #814
这个我每次安装也失败貌似。

这是个 pm2 的依赖，不装也没事的。我都不懂这个是干嘛的。

2016-03-25 16:58 GMT+08:00 Carson <notifications@github.com>:

[2016-03-28 00:54] #814 closed

[2016-04-02 06:18] i5ting opened #815 "微信里图片无法点击查看"

[2016-04-02 06:18] i5ting commented on #815
ruby-china之前也是，不过现在改了

[2016-04-02 06:23] i5ting commented on #815
比如 https://ruby-china.org/topics/15231 还是会比较方便一点

[2016-04-04 11:46] alsotang commented on #815
你的意思是，图片加个A标签？

2016-04-02 14:24 GMT+08:00 alfred sang <notifications@github.com>:

[2016-04-04 12:04] alsotang commented on #815
貌似这个markdown解析器没有提供相关选项，我问问看

https://github.com/markdown-it/markdown-it/issues/229

[2016-04-04 12:11] alsotang commented on #815
test

![image](https://cloud.githubusercontent.com/assets/1147375/14247558/72e2c606-faa1-11e5-80a9-0e645dcb4d0d.png)

[2016-04-05 03:46] i5ting commented on #815
不需要它提供的，实际上到页面里html里的图片，只要加一个jq插件显示就好了，是不?

[2016-04-05 10:11] alsotang commented on #815
ruby-china 的图片插件在微信浏览器里面应该是挂的吧？我这里看是挂的。web 看的时候倒是好的。

2016-04-05 11:46 GMT+08:00 alfred sang <notifications@github.com>:

[2016-04-05 10:12] alsotang commented on #815
我觉得吧。。这个微信图片查看的功能。。。可做可不做。。

在 2016年4月5日 下午6:10，alsotang <alsotang@gmail.com>写道：

[2016-04-10 13:33] etoah commented on #480
express

[2016-04-11 08:42] qimenxiaozi opened #818 "[feature request]:系统能不能添加查看大图片的功能？"

[2016-04-11 08:54] alsotang commented on #818
我们所有的图载入过来都是原图，前端页面没有对图片进行任何压缩，所以你邮件在新窗口打开图片就是大图了。如果有些图片用这种方式看不是太清楚的话，说明也根本没有原图存在。

[2016-04-11 09:00] qimenxiaozi commented on #818
如果在话题中，插入图片呢，这个图片是怎么保存的？

[2016-04-11 13:29] XGHeaven commented on #818
@qimenxiaozi 如果我没有记错的话，应该是保存在七牛的

[2016-04-12 03:54] alsotang commented on #818
话题中插入图片的时候，原图会直接保存到七牛，然后七牛返回一段url回来

2016-04-11 21:29 GMT+08:00 Xu Tianyang <notifications@github.com>:

[2016-04-12 18:33] TakWolf opened #819 "API调整建议，关于请求返回格式"
目前API请求格式不太统一，举例说明：

1.
主题首页：/api/v1/topics
成功返回 200：
{
    “data”:  [
         // 这里是话题列表
    ]
}

2.
单个话题：/api/v1/topic/5433d5e4e737cbe96dcef312
成功返回 200：
{
    “data”:  {
         // 这里是话题数据
    }
}
错位id返回 422（不知道为啥是422-语义错误，感觉应该为404比较合理）：
{
    "error_msg":"not valid topic id"
}

3.
用户数据： /api/v1/topic_collect/alsotang
成功返回 200：
{
    “data”:  {
         // 这里是用户数据
    }
}
错误 loginname 返回200（这

[2016-04-12 18:49] TakWolf commented on #819
目前存在的问题：
客户端需要明确知道调用接口是否成功，如果成功，则根据类型解析数据，如果失败，则提示错误。
现在接口中 http状态码 有点问题，并且返回值中不是一定包含 success，所以现在没有办法统一的做错误处理。
目前的做法是暴力法，即解析data数据异常，或者获取关键字段为空，则认为调用失败。

改进建议：统一添加 success 字段，客户端忽略状态吗

之后的格式为：
{
    success: true,
    data [ loginname ] : xx
}

[2016-04-12 19:28] TakWolf opened #820 "API关于主题收藏"
get /topic_collect/:loginname 用户所收藏的主题

这个接口是不带分页的对吗？返回的数据是所有的收藏数据还是一部分的数据？

如果是部分数据，还是倾向于最早的设计，吧/topic_collect/:loginname接口集成到用户数据中，这样可以避免访问两次网络，而收藏动作改成：
post /topic/:id/collect 收藏主题
post /topic/:id/de_collect 取消主题

另外，缺少一个接口查询一个话题是否收藏（这个目前也可以通过直接获取整个topic对象来查询，但是存在不需要获取整个的情况）

[2016-04-13 06:46] alsotang commented on #819
@XGHeaven 有时间帮忙处理一下这个吗？

[2016-04-13 06:47] alsotang commented on #819
我的想法跟你一样，我们忽略状态码吧。

成功的话就 success: true。

失败的话，就 success: false, 如果可能，再带上 error_msg

[2016-04-13 06:51] alsotang commented on #820
是最近20（具体数字忘了）条收藏数据。

这些地方我觉得。。。改不改都好吧。。

展示是否收藏的地方，不都要去获取一次文章的吗？

[2016-04-13 12:04] alsotang commented on #819
我来处理一下

[2016-04-13 12:09] alsotang commented on #820
我总结一下，一共如下问题：

一、/topic_collect/:loginname 这个接口是否不带分页？

对的，不带。这个接口会返回最新的100条收藏信息。

二、

[code]

我承认这个写法确实更优雅并且更符合 restful，下次设计接口的时候我注意一下这个问题。这回我不想改了。

三、缺少一个接口查询一个话题是否收藏

这个就用 topic 的接口来查就好了。虽然有冗余数据，不过能不加新接口就不加了，免得增加开发复杂度。数据传输这码事儿，总不能指哪打哪的。

[2016-04-13 12:16] alsotang commented on #819
目前所有 api 接口都会返回 success 字段。目前只有两种状态，true or false。

你看这样如何？

[2016-04-13 12:29] XGHeaven commented on #819
要不我们采用 unix 的错误格式可以么？用一个 `code` 或者 `stauts` 字段，返回值为 0 标识正常状态，返回值为非 0 为对应的错误代码，就跟微信那个样子。不过感觉这样代码复杂了好多 😂

[2016-04-13 12:31] alsotang commented on #819
两种状态其实够用的。。。我们这种不严肃的场景，只要是 success:false 就直接干掉就好了。

在 2016年4月13日 下午8:29，Xu Tianyang <notifications@github.com>写道：

[2016-04-13 12:33] XGHeaven commented on #819
@alsotang 抱歉，最近几天比较忙，我看看今晚有没有空，可以帮忙添加一些东西。

`不严肃的场景` 😂 cnode可是一个大社区

那就 `success:false` 配合上 error_msg 应该就够了

[2016-04-13 14:22] alsotang commented on #819
这个 issue 的东西我已经弄完了。。你加新东西的时候，最好微信跟我聊两句，免得到时候我觉得你做了70%，我又没有精力去完善剩下的30%。。。。

2016-04-13 20:33 GMT+08:00 Xu Tianyang <notifications@github.com>:

[2016-04-13 14:55] TakWolf commented on #820
OK

[2016-04-13 14:55] #820 closed

[2016-04-13 14:59] TakWolf commented on #819
@alsotang  已测，没问题

@XGHeaven 不建议在增加复杂类型，http已经有状态码了，再弄一套新的属于冗余

[2016-04-13 14:59] #819 closed

[2016-04-13 15:05] alsotang commented on #819
http状态码我个人感觉是有点鸡肋的。。。

成功和错误两种状态是个大的区分。而成功一般就没什么好细分的了。错误的状态，如果要继续细分的话，感觉通过 errorcode
的形式来做区分很局限，总不能每个错误都起个新的状态码，这样状态码一多也不方便复用。

我觉得通过 success: false 加 错误信息 的方式还算是信息的，对于我们的场景来说。

当然，错误信息这东西，如果是人来看的话，这样是足够的。如果是机器使用的话，那么最好是通过 errorcode
的形式来表达，否则总不能让客户端去匹配文案嘛。

还是具体场景具体分析啊。。。。

2016-04-13 22:59 GMT+08:00 TakWolf <notifications@github.com>:

[2016-04-13 15:29] XGHeaven commented on #819
@alsotang 好的

我觉得http状态码的好处就是可以将逻辑上的成功处理和实际上的相结合。也就说如果可以直接通过then和catch来判断成功失败，不需要在then里面再判断一次成功失败了。

[2016-04-13 15:34] alsotang commented on #819
你这个比喻确实很好啊。promise 也是大致去区分个 then 和 catch 而已。

2016-04-13 23:29 GMT+08:00 Xu Tianyang <notifications@github.com>:

[2016-04-13 15:51] TakWolf commented on #819
@alsotang  有些情况下，http状态码还是有意义的，至少百位还是要做区分的。比如：
2xx，客户端解析body一定没问题；其他状态我直接构建错误。

否则的话，你要先去解析一下body，这里存在成功或者失败，成功的话再去解析data，逻辑上麻烦了很多。

我们的场景确实比较简单，没那么复杂，有个success足够了。

[2016-04-13 20:50] TakWolf commented on #819
https://github.com/cnodejs/nodeclub/pull/822/files

把http状态码修复了。
另外把 error_msg 全部改成中文了，这样前段调用出现 sucess=false，就直接提示error_msg

[2016-04-14 03:45] alsotang opened #823 "图片带链接时，去掉放大功能"
https://cnodejs.org/topic/570907402a1f230a25be8aab

@XGHeaven 帮忙看看这个。你点击一下帖子中的腾讯云 logo 就能重现了：链接跳了出去，然而图片也放大了。

[2016-04-14 03:46] alsotang commented on #823
`[![](https://dn-cnode.qbox.me/FsvQEUQ9vjOy_6NohcGGt3GfTC8v)](http://www.qcloud.com/)`

那个地方的图片写法是这样的。

[2016-04-14 14:03] alsotang commented on #823
fixed by #e56c6a34f321fc85f1765b42a8c1f63f27208221

[2016-04-14 14:03] #823 closed

[2016-04-14 14:08] XGHeaven commented on #823
OK，我看到了

[2016-04-15 02:11] zhuang-hao-ming opened #825 "supertest那一课，保持cookie，res.headers['Cookie']无法得到cookie内容要使用res.headers['set-cookie']"

[2016-04-15 03:13] alsotang commented on #823
我搞定了。。。

2016-04-14 22:08 GMT+08:00 Xu Tianyang <notifications@github.com>:

[2016-04-15 03:13] #825 closed

[2016-04-15 09:53] IvesXiao opened #826 "当config里面的debug配置成false之后，make build报错"
@Elvi ➜  nodeclub git:(master) ✗ make build
/Users/elvis/code/nodeclub/node_modules/loader-builder/lib/builder.js:131
      item.min = `${dirname}/${basename}.${hashed}${extname}`;
                 ^
SyntaxError: Unexpected token ILLEGAL
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)
    at Module.load

[2016-04-15 11:21] XGHeaven commented on #826
请升级 node 版本。

[2016-04-15 19:16] TakWolf opened #827 "API问题： /messages 接口数据结构缺少create_at字段"
通知的结构是这样的：
![image](https://cloud.githubusercontent.com/assets/6064962/14571308/18d06eb0-037b-11e6-98dc-fca0510bbe76.png)

通知需要显示时间，之前用的是 message.reply.create_at 字段算作 message 的创建时间，但是似乎还存在下面这种结构：

![image](https://cloud.githubusercontent.com/assets/6064962/14571327/2d9bf09e-037b-11e6-83a7-ff1ab2e0171f.png)

这种通知的方式产生的原因是在主题正文 at 某人，这时message中没有reply对象。（这个貌似是历史遗留问题，最新的代码好像不会再产生这种通知了？）

所以，考虑了一下还是觉得

[2016-04-15 20:08] TakWolf opened #830 "关于API参数错误状态码422"
之前API参数错误的状态码写成了422，原因是参考了之前的写法，而且论坛部分参数错误状态也是422。

之后去研究了一下，发现貌似400更合适。400和422含义上是同构的，都有参数错误，无法理解语义的意思。但是400被定义在基本http协议中，而422被定义在RFC 4918 WebDAV中。

stackoverflow上的一个比较详细的讨论：
http://stackoverflow.com/questions/16133923/400-vs-422-response-to-post-of-data

貌似这个问题讨论的还是比较激烈的。
但是综合来看，在我们的情况下，使用400似乎更加合适。

https://github.com/cnodejs/nodeclub/pull/829

[2016-04-18 06:33] alsotang commented on #830
fixed by #829

[2016-04-18 06:33] #830 closed

[2016-04-18 06:35] alsotang commented on #827
嗯嗯，非敏感字段，可以暴露。

fixed by #828

[2016-04-18 06:35] #827 closed

[2016-04-18 06:42] alsotang commented on #830
最近几个 pr 都部署好了。我发现我周末竟然没开电脑。。。

在 2016年4月16日 上午4:08，TakWolf <notifications@github.com>写道：

[2016-04-18 14:01] TakWolf opened #831 "界面上的一些显示问题"
这个帖子：
https://cnodejs.org/topic/5637549fd426a1404cbd0614

看三楼：环境是macbookpro-chrome
![image](https://cloud.githubusercontent.com/assets/6064962/14606720/fce30b9e-05b0-11e6-96b4-0545da26e107.png)

[2016-04-18 14:03] TakWolf commented on #831
![image](https://cloud.githubusercontent.com/assets/6064962/14606772/3a6ffc92-05b1-11e6-93e6-4ca737af2151.png)

收藏按钮是压在线上的，有点略不爽啊

[2016-04-18 14:03] TakWolf commented on #831
我这个人患有有强迫癌，请不要打死我。。。

[2016-04-18 14:10] TakWolf commented on #831
这两个问题还是忽略吧。。。

[2016-04-19 03:20] alsotang commented on #831
在我这里，收藏按钮不是压着的。

但是那个时间的换行问题我也发现了，可关键是换个浏览器这问题就会消失。不懂怎么说这个问题。。。你试着用 inspector
调一下这个换行的问题就会发现神奇了，根本找不到哪句 css 写错了。

2016-04-18 22:10 GMT+08:00 TakWolf <notifications@github.com>:

[2016-04-19 06:29] XGHeaven commented on #831
@alsotang 按钮的问题我看了一下，我这里也是压着的，不过可以尝试将 `line-height` 改成 1，可以好看一些。不知道可以么
![image](https://cloud.githubusercontent.com/assets/9291212/14628181/47a7d718-062e-11e6-8ce0-f6d463136d3a.png)

还有那个换行的问题，确实很神奇。目测是字体的问题。
有下面几个解决方案：
1. 把 .user_info 的 display 从 inline-block 改成 inline
2. 给 .reply_time 添加一个 white-space: nowrap
3. 给 .reply_author 的加粗去掉
4. 将 https://github.com/cnodejs/nodeclub/blob/master/views/rep

[2016-04-19 08:35] alsotang commented on #831
压线问题我已经解决了。

那个神奇的换行问题先忽略吧。。太不常见了。我感觉是浏览器 bug

[2016-04-19 08:54] XGHeaven commented on #831
我也这么觉得，应该是浏览器的问题。似乎就那一个人有问题。

[2016-04-19 10:02] #831 closed

[2016-04-19 11:45] TakWolf opened #832 "我自己的话题收藏数据显示不正确"
看图：
![image](https://cloud.githubusercontent.com/assets/6064962/14637918/1fb77e3c-0667-11e6-9e6e-ab70f524620d.png)

![image](https://cloud.githubusercontent.com/assets/6064962/14637945/4d72421c-0667-11e6-8543-6bca4f8065cc.png)

![image](https://cloud.githubusercontent.com/assets/6064962/14637925/2ae8fdda-0667-11e6-9025-a226a9e28ac4.png)

[2016-04-19 11:47] TakWolf commented on #832
感觉计算方式有问题，删除的收藏帖子貌似也计算了。

我很早之前测试的时候，收藏过自己的帖子，然后没取消收藏就删除了。

[2016-04-19 13:16] TakWolf commented on #832
看来一下实现，这个 user.collect_topic_count 这个是个模型字段，不是算出来的。。。

[2016-04-19 14:44] XGHeaven commented on #832
@TakWolf 而且如果一直发删除收藏的api，那么这个数据将会一直减少

[2016-04-19 15:20] TakWolf commented on #832
@XGHeaven
正常情况下删除帖子，收藏数目减少应该是对的啊
我不清楚为啥我的变成负数了

[2016-04-19 15:34] XGHeaven commented on #832
我的意思是不正常的情况，比如你不小心点了两次取消收藏，于是确实是取消收藏了，但是也减少了两次。

[2016-04-19 17:39] alsotang commented on #832
哈哈，这个地方确实有问题，是这样的。mongodb 不像 mysql 一样连表操作那么方便，`user. collect_topic_count` 其实算是一个冗余的字段，它的值是可以通过 Topic 那张表推算出来的。

实际操作中，我们这边每次调用收藏接口都会把这个数值减1，可能因为你是开发人员，调试接口比较多，很多行为没有跟正常的行为对上，导致出现了这个数据错误。我明天修正一下所有人的。

[2016-04-19 17:40] alsotang commented on #831
真是个神奇的css问题。

2016-04-19 18:02 GMT+08:00 TakWolf <notifications@github.com>:

[2016-04-19 17:48] TakWolf commented on #832
@alsotang  我靠，还没睡。。

所以说，像 @XGHeaven 说的这种情况是存在的对吗？API这里感觉应该判断一下

[2016-04-19 18:10] XGHeaven commented on #832
其实我也没睡 😂
因为代码里似乎没有判断
https://github.com/cnodejs/nodeclub/blob/master/api%2Fv1%2Ftopic_collect.js#L123
取消收藏的时候，似乎并没有判断他有没有收藏过

不过现在我要睡了，晚安。刚刚写了一个同步 cocoapods 索引库的玩意

[2016-04-20 04:07] alsotang commented on #832
目前存在两个问题要修复。

1. 收藏和取消收藏时，都没有判断类似收藏是否存在。导致错误逻辑一直往下走。
2. TopicCollectSchema 可以加唯一索引。

在 2016年4月20日 上午2:10，Xu Tianyang <notifications@github.com>写道：

[2016-04-20 08:18] alsotang commented on #832
旧数据里面，我没有全量修复，只修了 takwolf 你的。。
不过我现在已经阻止重复收藏和重复取消收藏的操作了。

[2016-04-20 08:50] alsotang commented on #832
所有用户和帖子的数据都修复了。

https://github.com/cnodejs/nodeclub/commit/b692e514a0340071c0c45756b27dd6199f589efb

[2016-04-20 08:51] alsotang commented on #832
数据仍然会有一点对不上的，比如takwolf在数据库中有35个收藏，而其中某个帖子被删除了，所以页面中只显示了34个。

[2016-04-20 19:00] TakWolf commented on #832
@alsotang 是的，我现在吧所有的收藏帖子都取消了，数目还有2个

数目这个问题不是很重要，修不修复无所谓。

代码逻辑上修复了判断就OK!

[2016-04-20 19:00] #832 closed

[2016-04-21 03:36] alsotang commented on #832
嗯嗯。。这个收藏数目，大概能匹配上就好了。

2016-04-21 3:00 GMT+08:00 TakWolf <notifications@github.com>:

[2016-04-21 07:03] NetLogoclub opened #833 "运行了几次，程序有100多M了，这个正常吗，顺带问一下新手入门那里的toptip在哪里改"
运行了几次，程序有100多M了，这个正常吗，顺带问一下新手入门那里的toptip在哪里改

[2016-04-21 14:08] NetLogoclub commented on #833
再提个问题，端口可以改为80的吗，我改了没用，要是改，怎么改呢？

[2016-04-21 14:29] TakWolf commented on #833
我的整个目录算上 node_modules 一共也是100多M

新手入门在：views/static/getstart.html

该端口在 config.js 中找到这句：
![image](https://cloud.githubusercontent.com/assets/6064962/14712576/450b3ea8-0810-11e6-97b8-c1b53994e230.png)

[2016-04-22 07:26] NetLogoclub commented on #833
![image](https://cloud.githubusercontent.com/assets/18526620/14734641/652ddff4-089e-11e6-913f-1f236e6183d8.png)
我后面的toptip已经改了，可是前面的没找到啊，在getstart.html里还是没找到@TakWolf

[2016-04-22 07:46] TakWolf commented on #833
好像是我理解有问题，你要找的是哪个topicid?

[2016-04-22 07:52] NetLogoclub commented on #833
![image](https://cloud.githubusercontent.com/assets/18526620/14735186/185d0cdc-08a2-11e6-8ec0-307003a91542.png)
其他的top是这样的，就新手入门那个有点特殊，像我上面截图一样

[2016-04-22 07:57] TakWolf commented on #833
controllers/static.js

找的这句：

![image](https://cloud.githubusercontent.com/assets/6064962/14735328/f0b11858-08a2-11e6-85c2-9c9678687862.png)

PS：我把 topid 看成 topicid 了

[2016-04-22 08:02] NetLogoclub commented on #833
谢谢这么耐心的解答！！！64个赞！！！

[2016-04-22 09:49] will-min opened #834 "把debug改成false,运行就会报错,提示要make build"
如题,node app.js 报错
[2016-04-22 17:46:29.988] [ERROR] cheese - You must execute `make build` before start app when mini_assets is true.
/home/wlm/workspace/sixshot-bbs/app.js:56
    throw e;
    ^

Error: Cannot find module './assets.json'
  at Function.Module._resolveFilename (module.js:325:15)
  at Function.Module._load (module.js:276:25)
  at Module.require (module.js:353:17)
  at require (intern

[2016-04-24 03:21] NetLogoclub opened #835 "七牛上传成功了，但是网站查看不了，原谅小白"
![1](https://cloud.githubusercontent.com/assets/18526620/14765314/4ff56a72-0a0f-11e6-984c-c01f37ebcb75.png)
![2](https://cloud.githubusercontent.com/assets/18526620/14765315/5355ae70-0a0f-11e6-82aa-fb72c1ffa743.png)
![3](https://cloud.githubusercontent.com/assets/18526620/14765316/55ae92c2-0a0f-11e6-9a90-e59510fb7443.png)

[2016-04-24 03:26] NetLogoclub commented on #835
谢谢大神 @

[2016-04-24 06:59] NetLogoclub commented on #835
还有个问题，网站管理员账号怎么设置啊？也没找到 @alsotang

[2016-04-24 07:43] XGHeaven commented on #835
在 config.js 里面有一个叫做 admins 的字段。改一下就好了

[2016-04-24 10:03] NetLogoclub commented on #835
@XGHeaven 那不要密码吗?

[2016-04-24 10:56] XGHeaven commented on #835
不需要的。因为已经在服务器端写死了

NetLogoclub <notifications@github.com>于2016年4月24日周日 18:04写道：

[2016-04-24 10:58] NetLogoclub commented on #835
那怎么管理呢？

[2016-04-24 11:02] NetLogoclub commented on #835
还有图片不显示你知道怎么解决吗？七牛存储空间是有图片了，但是网站里不显示 @XGHeaven

[2016-04-24 12:36] NetLogoclub commented on #834
我都是cd 到目录下，然后make的

[2016-04-24 13:38] will-min commented on #834
@NetLogoclub 肯定都是cd到目录下

[2016-04-25 02:36] XGHeaven commented on #835
很平时一样，只不过会多出来加精，置顶等操作方式

NetLogoclub <notifications@github.com>于2016年4月24日周日 19:03写道：

[2016-04-25 04:06] JacksonTian commented on #834
自己检查下权限

[2016-04-25 04:42] NetLogoclub commented on #834
对，文件有没有操作权限，昨天我在本机配好了，放服务器不行，我火起来把mongo 和redis清空了一下，好像配置也有次数限制？

[2016-04-25 05:29] liygheart commented on #835
@NetLogoclub 你七牛里是不是设置了防盗图过滤域名了？

[2016-04-25 05:39] NetLogoclub commented on #835
没有，刚刚看了一下

[2016-04-25 09:12] NetLogoclub commented on #835
@XGHeaven  我用config.js 中写的admins 注册了一个账号，没发现有加精和置顶的功能啊？还有图片不显示你知道怎么解决吗？谢谢！

[2016-04-25 09:47] XGHeaven commented on #835
加精和置顶是有的。你仔细找找。
图片的问题，你看看生成的URL和你七牛上面的是否正确？

[2016-04-25 10:21] NetLogoclub commented on #835
七牛上是有url，网页源码看看没找到，只有个alt

[2016-04-25 13:14] XGHeaven commented on #835
那在提交图片之前，图片是有的对么？也就是在图片上传之后，在输入框有正确的图片markdown输入格式对么？

NetLogoclub <notifications@github.com>于2016年4月25日周一 下午6:21写道：

[2016-04-25 13:20] NetLogoclub commented on #835
![Uploading git.png…]()

[2016-04-25 13:21] NetLogoclub commented on #835
![git](https://cloud.githubusercontent.com/assets/18526620/14785100/91fc3046-0b2b-11e6-9621-5df1d43892fb.png)
上传之前是这样的格式，我觉得应该是对的

[2016-04-25 13:31] XGHeaven commented on #835
。。。好吧，你有没有看 config.js 他 origin 的格式？？他要求是 http://domain.com 而不是 domain.com，
你去改一下试试

NetLogoclub <notifications@github.com>于2016年4月25日周一 下午9:21写道：

[2016-04-25 13:52] NetLogoclub commented on #835
哇，大神，膜拜膜拜，64个谢谢！我没注意到要http://，基础太差

[2016-04-25 13:55] XGHeaven commented on #835
恩，那就可以 close 了

NetLogoclub <notifications@github.com>于2016年4月25日周一 下午9:52写道：

[2016-04-25 14:14] #833 closed

[2016-04-25 14:16] NetLogoclub commented on #835
我能贪心的说一下，没找到管理员权限吗？我配置了个用户名，然后填写那个用户名去注册，就能成为管理员吗？那要是别人恰好用了这个用户名，那不是管理员权限就给他注册走了？我的也没有加精和置顶功能，又要麻烦大神您了！

[2016-04-25 18:37] XGHeaven commented on #835
是的。所以肯定要在注册完成之后，将用户设置为管理员。你配置文件是什么样子的？

[2016-04-26 00:41] NetLogoclub commented on #835
![image](https://cloud.githubusercontent.com/assets/18526620/14803266/aaea5cb8-0b8a-11e6-9b07-71e738ef0233.png)
就是改了一个登陆名

[2016-04-26 01:22] XGHeaven commented on #835
不是这样的，就那我的登录名字举个例子。
// 一猜我就知道你这里肯定写错了，在说上面都写的很清楚了。。。
[code]
至于为什么这样做，可能是方便以后暂时修改用户的管理权，或者是站长当初写的时候故意的 😓

[2016-04-26 01:23] NetLogoclub commented on #835
好吧，谢谢大神大人，我太开心了，终于一个个 问题都解决了，再次表示感谢！

[2016-04-26 01:23] #835 closed

[2016-04-26 05:55] alsotang commented on #835
示例配置文件也没法事无巨细地写，还是要多调试啊

2016-04-26 9:23 GMT+08:00 NetLogoclub <notifications@github.com>:

[2016-04-26 05:57] NetLogoclub commented on #835
已经很感谢大神了

[2016-04-28 16:00] mlyknown opened #837 "windows下使用问题"
![qq 20160428235844](https://cloud.githubusercontent.com/assets/12880984/14892405/3cbf4004-0d9d-11e6-8992-87055a6e5ca1.png)

windows下报错，首页不能访问

[2016-04-29 06:50] XGHeaven commented on #837
为什么会访问 /admin，这个是不存在的。至少在我本地是这样的

mlyknown <notifications@github.com>于2016年4月29日周五 上午12:00写道：

[2016-04-29 07:10] mlyknown commented on #837
这个号了，我换下redis的版本，就ok了 0.0

[2016-04-29 07:10] #837 closed

[2016-04-29 08:21] liygheart opened #838 "Github上的邮箱修改了，然后用Github重新登录cnodejs.org邮箱还是老的邮箱"

[2016-04-29 08:33] alsotang commented on #838
是的，邮箱一旦填入就固定了

2016-04-29 16:21 GMT+08:00 朋也 <notifications@github.com>:

[2016-04-29 08:41] liygheart commented on #838
这个，，，不是bug?
或者可以麻烦大大给手动改下邮箱么?

[2016-04-29 14:38] XGHeaven commented on #838
// 话说这个邮箱不是应该在设置里能更改的么

朋也 <notifications@github.com>于2016年4月29日周五 下午4:41写道：

[2016-04-29 16:01] liygheart commented on #838
改不了，我试过了
2016年4月29日 22:39，"Xu Tianyang" <notifications@github.com>写道：

[2016-04-29 16:21] alsotang commented on #838
你的id是多少？我帮你改改吧

2016-04-30 0:01 GMT+08:00 朋也 <notifications@github.com>:

[2016-04-29 16:28] liygheart commented on #838
liygheart
现在的邮箱是py2qiuse@gmail.com
谢谢大大
2016年4月30日 00:22，"alsotang" <notifications@github.com>写道：

[2016-04-30 00:17] tianshaokai opened #839 "MongoDB 是 v2.6，Redis 是 v2.8.9 必须安装这个版本吗"
MongoDB 是 v2.6，Redis 是 v2.8.9 可以安装新版本的吗 还有Nodejs 可以安装新版本吗

[2016-04-30 02:48] tianshaokai commented on #839
@alsotang 安装新版本没事吧，可以兼容吗

[2016-04-30 03:14] TakWolf commented on #839
mongodb和redis可以更新到最新版本，亲测没问题
node版本请保持在v4或者v5

[2016-04-30 09:02] alsotang commented on #839
我更新了一下，现在：线上跑的是 Node.js v4.4.0，MongoDB 是 v3.0.5，Redis 是 v3.0.3。

对了，最近node6刚出，还是用5或者4吧

2016-04-30 11:14 GMT+08:00 TakWolf <notifications@github.com>:

[2016-04-30 09:04] alsotang commented on #838
![image](https://cloud.githubusercontent.com/assets/1147375/14935021/a2dff4ce-0ef5-11e6-8f68-bef30c9d5543.png)

这样可以了吧？

[2016-04-30 09:34] XGHeaven commented on #839
v6 我测试的时候，是有问题的。不建议使用

[2016-04-30 09:48] alsotang opened #840 "node 6.0 运行出错"
1. https://github.com/JacksonTian/loader/issues/27 `loader` 库某个使用了 `path.extname` 的地方

2. 所有库都尽量升一次最新版

[2016-04-30 09:53] alsotang commented on #840
我感觉这个6.0的运行问题，再过一个月解决也不迟。。。很多依赖库不一定跟进那么快。

等依赖库都升级完毕了，我再一次升一下我们依赖的所有 npm 库。

[2016-04-30 09:55] alsotang commented on #839
v6 我专门开了一个 issue： https://github.com/cnodejs/nodeclub/issues/840

v6 的测试可以看这里：https://travis-ci.org/cnodejs/nodeclub

2016-04-30 17:35 GMT+08:00 Xu Tianyang <notifications@github.com>:

[2016-05-02 01:51] tianshaokai opened #841 "问一下配置的问题"
mail_opts: {
    host: 'smtp.126.com',
    port: 25,
    auth: {
      user: 'club@126.com',
      pass: 'club'
    }
  },

我需要把 club@126.com  替换为自己的 126 邮箱帐号吗,

 qn_access: {
    accessKey: 'your access key',
    secretKey: 'your secret key',
    bucket: 'your bucket name',
    origin: 'http://your qiniu domain',
    // 如果vps在国外，请使用 http://up.qiniug.com/ ，这是七牛的国际节点
    // 如果在国内，此项请留空
    uploadUR

[2016-05-02 03:09] hawskpy opened #842 "想基于nodeClub 搭建一个带资讯和商城模块的社区"
最近没事，想基于nodeClub 搭建一个带资讯和商城模块的社区，但是发现弄得Club 在app.js 中设定了固定的html模板layout.html ，想在最新开发的资讯和商城中使用自己开发的模板，怎么才能在nodeclub里使用两套模板？

[2016-05-02 04:24] XGHeaven commented on #842
我记得在渲染的时候是可以指定 layout 的

hawskpy <notifications@github.com>于2016年5月2日周一 11:10写道：

[2016-05-02 05:33] hawskpy commented on #842
指定了，感觉没用~也试了其他办法，有成功过得吗？指点一下~

[2016-05-02 06:53] tianshaokai commented on #841
@alsotang 看看我的问题吧

[2016-05-02 09:32] TakWolf commented on #841
1. 我需要把 club@126.com 替换为自己的 126 邮箱帐号吗?
是的，否则邮件系统不能正常工作，这个涉及到用户注册后的邮件验证。不一定非要126，其他邮件服务商也可以，只要正确配置端口和密码。

2.七牛部分：
origin是你在七牛的空间子域名，可能格式为例如：7xqqqg.dl1.z0.glb.clouddn.com，去你的七牛后台查看

uploadURL是七牛上传接口的API地址，因为你在国外，请配置为 http://up.qiniug.com/

[2016-05-02 11:16] hawskpy commented on #842
研究了半天 终于解决了，因为app.js 中设置了默认layout，现在要在新的模块中运用自己的模板，可以在用的模块中做如下更改： req.app.locals._layoutFile=“layout2.html”;

[2016-05-02 11:29] hawskpy commented on #842
更好地方案是搞一个中间件过滤~

[2016-05-02 11:57] liygheart commented on #838
恩恩，感谢大大

[2016-05-02 11:57] #838 closed

[2016-05-03 03:10] tianshaokai commented on #841
![image](https://cloud.githubusercontent.com/assets/6706496/14973828/98927ad8-111f-11e6-8de0-d050617727e7.png)
@TakWolf  这是我配置的邮箱  怎么一直发送不出去啊，哪里错 了啊

[2016-05-03 03:20] TakWolf commented on #841
![image](https://cloud.githubusercontent.com/assets/6064962/14973863/1a97e022-1120-11e6-884d-f4b40bff7c47.png)

配置貌似是正确的，检查一下 config.js 中让 debug = false，调试状态是不会发送邮件的
如果希望在调试环境下测试，直接修改数据库users表中的active = true

[2016-05-03 03:22] tianshaokai commented on #841
谢谢啦

[2016-05-03 03:30] tianshaokai commented on #841
![image](https://cloud.githubusercontent.com/assets/6706496/14974018/3ec173e4-1122-11e6-83a5-b2743187f0a3.png)
设置为false 后 发现 网页拒绝访问了
是不是我缺少其他服务

[2016-05-03 03:37] TakWolf commented on #841
拒绝访问，返回403吗？
调试状态除了邮件之外，其他都正常吗？

如果调试状态都正常，应该不缺服务

[2016-05-03 03:38] tianshaokai commented on #841
调试状态网页也能访问， 就是不能发送邮件 无法登录， 改为true 后，网页什么都不返回

[2016-05-03 03:42] tianshaokai commented on #841
[2016-05-03 11:30:51.460] [ERROR] cheese - You must execute `make build` before start app when mini_assets is true.
/data/nodejs/nodeclub/app.js:56
    throw e;
    ^

Error: Cannot find module './assets.json'
  at Function.Module._resolveFilename (module.js:325:15)
  at Function.Module._load (module.js:276:25)
  at Module.require (module.js:353:17)
  at require (internal/module.js:12:17)
  at Obj

[2016-05-03 03:44] TakWolf commented on #841
重新 mark build 一下

[2016-05-03 03:46] tianshaokai commented on #841
不好意思啊我对nodejs 不是很熟 不知道如何 mark build  你的意思是重新安装 一下 依赖包吗

[2016-05-03 03:50] TakWolf commented on #841
看这里 https://github.com/cnodejs/nodeclub/blob/master/Makefile，这里封装了一些执行命令
mark build 实际执行的是这个命令 https://github.com/cnodejs/nodeclub/blob/master/Makefile#L40

系统环境中确保有mark命令就行，cd 到项目根目录下面，执行命令 mark build

[2016-05-03 03:50] alsotang commented on #841
make build。看 makefile 那里，debug 为 true 的时候，静态资源需要编译一下的。

2016-05-03 11:46 GMT+08:00 田绍凯 <notifications@github.com>:

[2016-05-03 03:52] alsotang commented on #841
是 make 不是 mark。。。

2016-05-03 11:50 GMT+08:00 TakWolf <notifications@github.com>:

[2016-05-03 03:53] TakWolf commented on #841
笔误，我的错

[2016-05-03 03:54] tianshaokai commented on #841
@alsotang @TakWolf  感谢你们的帮助 终于可以访问了，我再试试 邮件 能不能发送成功

[2016-05-03 04:36] tianshaokai commented on #841
邮件还是无法发送  是不是 yeah.net  邮箱不能呢

[2016-05-03 04:42] tianshaokai commented on #841
session_secret: 'node_club_secret', // 务必修改 这里需要修改为什么呢 我这个好像没有改

[2016-05-03 04:46] TakWolf commented on #841
邮箱设置中查看一下，看看是否启用了  “POP3/SMTP服务”

session_secret 应该是一个秘药串，用来加密敏感值的，改一下会比较安全

[2016-05-03 05:06] tianshaokai commented on #841
已经开启了 还是不行啊 @TakWolf  @alsotang  哪里有问题呢

[2016-05-03 05:55] tianshaokai commented on #841
![image](https://cloud.githubusercontent.com/assets/6706496/14975669/9c82deb4-1136-11e6-896e-23fe5b6173d2.png)
报了这个错误是 端口不通吗

[2016-05-03 06:28] alsotang commented on #841
拿错误代码去google

2016-05-03 13:55 GMT+08:00 田绍凯 <notifications@github.com>:

[2016-05-03 07:11] TakWolf commented on #841
目测是密码不对

这个错误我看到过好多次了，凡是部署网易邮箱的，貌似都要折腾一遍这个错误

[2016-05-03 09:39] tianshaokai commented on #841
@alsotang 我查了一下没找到什么答案   网上都是这样一句话 提示的错误说的是SMTP服务器返回了一个提示,当TLS激活的时候（你用了SslServer），你给的某个Command命令是不能执行的，  感觉是我服务器配置有问题，我需要安装什么东西呢

[2016-05-03 15:26] tianshaokai commented on #841
@alsotang  看网上说的资料 安装了几个 库 发现还是不行，能说说具体的解决方案吗？？

[2016-05-04 10:58] tianshaokai commented on #841
![image](https://cloud.githubusercontent.com/assets/6706496/15012289/16e35122-122a-11e6-9da6-69486f708199.png)
@alsotang  帮忙解决一下这问题吧，没找到资料啊

[2016-05-04 11:19] TakWolf commented on #841
你研究一下看看网易邮箱是不是有授权码这个概念，不是密码

[2016-05-04 11:33] TakWolf commented on #841
https://cnodejs.org/topic/56fbfb248a612c5559d16a72

[2016-05-05 08:29] alsotang commented on #840
现在 travis 的测试跑过了，不过一些库还是在使用旧版本的 `graceful-fs`

![image](https://cloud.githubusercontent.com/assets/1147375/15039312/9510ae00-12de-11e6-853d-c86375395092.png)

等他们升级

[2016-05-05 08:30] alsotang commented on #840
我已经去通知 `loader-connect` 和 `mocha` 了。

[2016-05-05 15:49] TakWolf commented on #840
node6.0我也中招了。。。。

拉去了最新的分之，提示：
npm ERR! No compatible version found: loader@2.1.1
npm ERR! Valid install targets:
npm ERR! 2.1.0, 2.0.0, 1.0.0, 0.1.6, 0.1.5, 0.1.4, 0.1.3, 0.1.2, 0.1.1, 0.0.12, 0.0.10, 0.0.9, 0.0.7, 0.0.6, 0.0.5, 0.0.4, 0.0.3, 0.0.2, 0.0.1

[2016-05-06 06:00] alsotang commented on #840
http://npm.taobao.org/package/loader  2.11 是有的啊

2016-05-05 23:49 GMT+08:00 TakWolf <notifications@github.com>:

[2016-05-06 06:00] alsotang commented on #840
你用的 cnpm 还是？可能昨天 cnpm 没有同步到这个库？

2016-05-06 13:59 GMT+08:00 alsotang <alsotang@gmail.com>:

[2016-05-07 09:18] tianshaokai commented on #841
@TakWolf  你知道有什么办法解决这个问题吗，我找了好几天也没找到问题原因啊 @alsotang  你知道什么原因吗，希望给出一个解决方案

[2016-05-07 09:58] tianshaokai commented on #841
host: "smtp.163.com", // 主机
  secureConnection: true, // 使用 SSL
  port: 465, // SMTP 端口
  auth: {
    user: "xxxxxxxx@163.com", // 账号
    pass: "xxxxxxxx" // 授权密码 而不是邮箱密码
  }

已经可以了

[2016-05-07 10:55] tianshaokai commented on #841
@TakWolf @alsotang 我上传的图片到七牛云后，图片无法查看 怎么回事啊，七牛云上的文件还没有文件名称

[2016-05-07 11:16] XGHeaven commented on #841
七牛问题请尝试按照这样解决一下试试 #835

[2016-05-07 12:55] tianshaokai commented on #835
我的图片已经出来了，可是上传的图片没有文件名，文件名都是七牛自动生成的

[2016-05-07 23:48] NetLogoclub commented on #835
你把七牛的文件名改了，然后网页里的文件名也改一下试试，我没试过哦 不过图片在网页里干嘛要名字呢？

[2016-05-07 23:51] tianshaokai commented on #835
链接里没有名字 就看不出来图片是 jpg 还是 png gif 图片，下载下来的时候 也没有文件名称 @alsotang  这是怎么设置文件名称呢

[2016-05-08 00:01] NetLogoclub commented on #835
网页里只是引用了七牛图片的外链地址 你要上传以后命名的话 你需要更改上传后七牛上的图片的外链地址 然后和你网页地址对应起来。你可以自己先在七牛上传一个图片，自己命名的，然后你到网页里去引用 下载的话就可以看到你的命名和格式了

[2016-05-08 01:02] TakWolf commented on #840
![image](https://cloud.githubusercontent.com/assets/6064962/15095498/7cafe082-14fb-11e6-9dc5-c984e57533b2.png)

测试通过了，运行正常

[2016-05-08 03:11] tianshaokai commented on #835
@NetLogoclub  我的意思是上传的时候就定义好名字

[2016-05-08 03:57] tianshaokai commented on #841
@TakWolf  你好 七牛上传文件的程序在哪个文件啊，上传时想设置文件名称

[2016-05-08 03:57] XGHeaven commented on #835
@tianshaokai 会有后缀名的

[2016-05-08 03:59] tianshaokai commented on #835
我搭建的站点上传后没有设置啊，七牛云里也没有，我配置的有问题了吗

[2016-05-10 07:27] TakWolf opened #844 "关于XSS过滤的一些疑问"
这块我不是特别的清楚，姑且还是问一下：

XSS的基本原理我大概有个概念，因为markdown默认支持html标签，所以这里的数据通常要进行过滤。

nodeclub中过滤的时机是发生在渲染的时候吗？还是在提交markdown的时候过滤之后存入数据库。

如果是前者，在API调用的时候，如果mdrender = false，返回的markdown源码是过滤过的还是没过滤过的？

[2016-05-10 07:36] liygheart commented on #844
Markdown可以设置不解析html代码

TakWolf <notifications@github.com>于2016年5月10日周二 15:27写道：

[2016-05-10 07:47] alsotang commented on #844
我们是直接把用户提交的 markdown 原始数据存入数据库，在展示的时候进行 一、markdown 渲染 二、xss过滤。

如果 mdrender = true，那么我们服务端会进行渲染 + 过滤。如果 false 的话，那么既然渲染都交出去了，我们服务端也没法进行 xss
过滤。因为 xss 过滤要求输入的是 html 结构的字符串。

在 2016年5月10日 下午3:36，朋也 <notifications@github.com>写道：

[2016-05-10 08:10] #844 closed

[2016-05-16 07:38] TakWolf opened #845 "线上GitHub登录回调地址配置问题"
https://github.com/login/oauth/authorize?response_type=code&redirect_uri=http://cnodejs.org/auth/github/callback&client_id=0625d398dd9166a196e9

配置的是http，会被重定向为https，多余一次重定向。

偶然发现的，不是啥大问题

[2016-05-16 12:05] alsotang commented on #845
![image](https://cloud.githubusercontent.com/assets/1147375/15288983/974dc164-1ba1-11e6-961e-ecf9bfa0b606.png)

@fengmk2  帮改改？

[2016-05-16 14:41] fengmk2 commented on #845
done

![image](https://cloud.githubusercontent.com/assets/156269/15292766/4411e5b4-1bb7-11e6-9344-1c847e6f7f88.png)

[2016-05-16 14:43] #845 closed

[2016-05-16 14:44] TakWolf commented on #845
@alsotang 网站端的配置也要改，callback_url参数必须匹配

[2016-05-16 18:28] alsotang commented on #845
网站这边也改了

2016-05-16 22:44 GMT+08:00 TakWolf <notifications@github.com>:

[2016-05-18 09:11] liygheart commented on #826
clone一下代码 ，make test，日志
[code]

[2016-05-22 03:11] jamiesun opened #846 "是不是应该加一个注册过滤功能，防止用户而已抢注特殊用户名"

[2016-05-22 07:22] alsotang commented on #846
？？我们的用户系统现在是跟 github 绑定的

2016-05-22 11:11 GMT+08:00 jamiesun <notifications@github.com>:

[2016-05-22 07:24] TakWolf commented on #846
@alsotang 潜在风险，github改名之后，nodeclub不会改名

[2016-05-22 14:07] liygheart commented on #846
@TakWolf github上可以改名？

[2016-05-22 14:09] liygheart commented on #846
@alsotang 为啥不把nodeclub里的使用github登录成功后，就更新github上的资料到自己系统里呢？反正github_access_token是不会变的，github上的头像，email等会变的，在用户使用github重新登录cnodejs.org的时候就给更新，这样不就解决不同步的问题了

[2016-05-22 14:39] alsotang commented on #846
这不算风险吧？

很多应用都是用户名一旦注册无法更改的

2016-05-22 15:24 GMT+08:00 TakWolf <notifications@github.com>:

[2016-05-22 14:46] alsotang commented on #846
我看了一下代码，现在github登录自动更新用户名的代码被我刻意注释了，其他 email之类的都会自动更新的。

忘记为什么注释了，一开始还是打开的。

2016-05-22 22:38 GMT+08:00 alsotang <alsotang@gmail.com>:

[2016-05-22 14:46] alsotang commented on #846
不过用户名不能改也是很正常的行为啦

在 2016年5月22日 下午10:45，alsotang <alsotang@gmail.com>写道：

[2016-05-24 01:55] yongningfu opened #847 "服务器的部署"
目前的nodeclub是部署到多少台服务器上面的？ 抗压如何

[2016-05-25 01:01] NetLogoclub opened #848 "发现系统的一个bug，和各位大大说说，看看你们是不是这样的"
首先，我用github账号登录了一下cnodejs社区，然后我就点退出了，此时我想用另外一个邮箱来重新注册一个账号，我点击注册，这个时候社区就自己登陆了我github账号，竟然不给我注册界面。
希望各位大大测试的时候能够重现这个bug！

[2016-05-25 01:38] liygheart commented on #848
这个不是bug
你登录github.com把自己的帐号退出，然后在cnodejs.org里重新登录在试试

[2016-05-25 01:41] NetLogoclub commented on #848
这个肯定是bug啊，我github可以授权登录后，账号就是在cnodejs里创建了，但是cnodejs.org里我已经退出了啊，再点注册，此时怎么还去管github账号呢，应该看社区的账号了

[2016-05-25 01:44] liygheart commented on #848
在config.deafult.js里有一个配置参数
[code]
cnodejs.org估计指定了不允许本地注册，所以走的都是github方式

[2016-05-25 01:50] NetLogoclub commented on #848
我去，好像这货真的只能走github，我把github号给退了，他真的只提示了github注册

[2016-05-25 01:51] liygheart commented on #848
不是bug吧

[2016-05-25 01:53] NetLogoclub commented on #848
我只能说这些大大们太能搞了

[2016-05-25 01:53] #848 closed

[2016-05-26 07:10] mihongkun opened #849 "怎么样以管理员的身份登录到系统呀"
顶置 和 精华 弄不出来

[2016-05-26 07:22] liygheart commented on #849
config.default.js 里有配置说明

[2016-05-26 19:27] mihongkun commented on #849
@liygheart 正在看... 谢谢

[2016-05-26 19:51] mihongkun commented on #849
@liygheart 看得很仔细 只是在web_router发现了一点蛛丝马迹，至于config.default.js并不懂怎么办

[2016-05-26 20:32] TakWolf commented on #849
https://github.com/cnodejs/nodeclub/blob/master/config.default.js#L78

修改这里

[2016-05-27 13:20] mihongkun commented on #849
@liygheart @TakWolf  我来尝试一下 ，请原谅我粗心没看到

[2016-05-28 09:43] alsotang commented on #847
部署在一台服务器上，一台2核2g的机器，抗压没测过，因为访问量不大。

2016-05-24 9:55 GMT+08:00 yongningfu <notifications@github.com>:

[2016-05-28 09:47] alsotang commented on #848
现在官方这边关闭了常规的注册途径，只能通过 github oauth 注册，当你点注册的时候，它就会跳到 github
去要求你授权。当你github已经登录，并且已经授权的情况下，就自动跳回来了。

2016-05-25 9:53 GMT+08:00 NetLogoclub <notifications@github.com>:

[2016-05-29 00:08] liygheart commented on #848
昨天调试github登录的时候，发现access_token居然每次都不一样，本来我数据库里是保存access_token来判断用户之前是否登录过的，现在只
能用github的用户id了

由于每次登录拿到的access_token都不一样，也就导致了登录一次，github上统计的用户数量就多一个，其实都是一个用户登录的，大大能讲解一下原理吗？

Sent from [Nylas N1](https://nylas.com/n1?ref=n1), the extensible, open source
mail client.

On 5月 28 2016, at 5:47 下午, alsotang &lt;notifications@github.com&gt; wrote:

去要求你授权。当你github已经登录，并且已经授权的情况下，就自动跳回来了。

2016-05-25 9:5

[2016-05-29 06:16] TakWolf commented on #848
@liygheart access_token 是有时效的，每一次登录肯定不一样。用id判断同一个用户是正确的思路

[2016-05-29 09:42] liygheart commented on #848
@TakWolf github的id居然是double，不知道你发现了没？

[2016-06-03 11:11] Hugh-Wang opened #851 "启动 nodeclub 总是报错 求各位帮帮忙~~ 谢谢"
TypeError: OAuth2Strategy requires a clientID option
  at Strategy.OAuth2Strategy (/home/yunfei/kingdom/nodeclub/node_modules/passport-github/node_modules/passport-oauth2/lib/strategy.js:82:34)
  at new Strategy (/home/yunfei/kingdom/nodeclub/node_modules/passport-github/lib/strategy.js:62:18)
  at Object.<anonymous> (/home/yunfei/kingdom/nodeclub/app.js:115:14)
  at Module._compile (module.js:409

[2016-06-05 14:15] starduliang opened #852 "已读消息（更新帖子后）变为未读消息"
场景：
我发了一篇帖子，有小伙儿半给我留言，我看到了我有未读消息，
未读消息全点开看过之后（也就是说没有未读消息了），
我重新更新了（加了点东西）我的帖子，
发现未读消息又出现了（是之前已经读过的），
点开未读消息看一下，
不显示有未读消息了。
我的账号starduliang（和当前github账号关联登陆的）

[2016-06-05 17:28] TakWolf commented on #852
你的帖子正文中是不是at某人了

正文中存在at，编辑更新之后会再次创建一条通知消息

[2016-06-06 03:50] alsotang commented on #852
按理说自己是没法 at 自己的。
但是如果别人更新了它的帖子，帖子中 at 你的话，这时候会有重复通知出现。

我怀疑是回复你的那个小伙伴，在你更新的同时，也更新了他的回复导致的。时间比较巧。

[2016-06-06 04:04] starduliang commented on #852
我测一下再，确认后回复

On Monday, 6 June 2016, alsotang <notifications@github.com> wrote:

[2016-06-06 10:57] starduliang commented on #852
有@   如下：
'npm install npm@3 -g'

但是我刚才稍微加点东西更新一下后没出现之前已读消息全变成未读消息的情况。。。我的幻觉？没事儿我只是提一下。

On Monday, 6 June 2016, Liang Du <starliangdu@gmail.com> wrote:

[2016-06-09 00:30] crishelyumul commented on #537
Solved mine by exporting my app_url.

[2016-06-09 18:33] awong1900 commented on #519
clientid 和 secret你都不给啊。
在github设置项添加应用。

[2016-06-09 21:25] TakWolf opened #854 "配置网易系邮件服务（包括163、126以及YEAH），出现`454 Command not permitted when TLS active` 错误时的解决方案。"
网易系邮件配置如下：
http://help.163.com/10/0731/11/6CTUBPT300753VB8.html

类型 | 服务器名称 | 服务器地址 | SSL协议端口号 | 非SSL协议端口号
-----|----------------|----------------|---------------------|----------------------
收件服务器  | POP   | pop.163.com	| 995 | 110
收件服务器  | IMAP   | imap.163.com | 993 | 143
发件服务器  | SMTP  | smtp.163.com | 465/994 | 25

（126和yeah邮箱，请对应修改服务器地址，端口号还是上面表格中的）

-------------------- 分割线 ----------------

[2016-06-09 21:31] #854 closed

[2016-06-13 14:34] serical opened #855 "make install报错"
初次接触，不太了解，大哥们棒棒忙:)，clone后make install错误信息如下：
[code]
到这里就终止了。。

[code]

[2016-06-13 15:16] alsotang commented on #855
这错误信息看着好奇怪啊。make install 只是简单的 `npm install`  而已。你看看你 npm install 出了什么问题吧

2016-06-13 22:34 GMT+08:00 serical <notifications@github.com>:

[2016-06-13 15:48] serical commented on #855
错误信息跟make install一样的
[code]

[2016-06-14 02:21] berwin opened #856 "评论样式好像是有bug"
![image](https://cloud.githubusercontent.com/assets/3739368/16029230/b6664a56-3219-11e6-9273-3d7b028f5e67.png)

地址 https://cnodejs.org/topic/575e9850d395c3e715cf1e71

[2016-06-14 02:48] alsotang commented on #856
这个问题我专门跟人讨论过的。。。issue找不了，可能是在 cnode 讨论的。

这个问题我也发现了，但关键是，不懂得怎么解决。我们当时都没有搞清楚是在什么情况下，才会出现的换行。而且神奇的是，这个换行的行为貌似是跟用户名相关的。。。。。。。。。。

[2016-06-14 02:53] TakWolf commented on #856
该问题只出现在 macOS 上的 Chrome 浏览器
排版和css样式上找不出任何问题

[2016-06-14 02:55] alsotang commented on #856
上次我们讨论的地址你还找得到吗？@takwolf

2016-06-14 10:53 GMT+08:00 TakWolf <notifications@github.com>:

[2016-06-14 02:59] alsotang commented on #856
https://github.com/cnodejs/nodeclub/issues/831  在这里

[2016-06-14 03:09] berwin commented on #856
好神奇。。。。

[2016-06-14 03:10] berwin commented on #856
其实这个有可能不是CSS的问题，有可能是HTML的问题。。

[2016-06-14 03:12] berwin commented on #856
![image](https://cloud.githubusercontent.com/assets/3739368/16030085/b62f6ac0-3220-11e6-82ad-faee56178d4d.png)
![image](https://cloud.githubusercontent.com/assets/3739368/16030089/be350702-3220-11e6-97d5-da5da5236bcf.png)
![image](https://cloud.githubusercontent.com/assets/3739368/16030099/d1d8e058-3220-11e6-8622-723c8f7b3b5f.png)

[2016-06-14 03:54] awong1900 commented on #855
翻墙了吗，没翻墙用淘宝库吧

[2016-06-14 03:57] serical commented on #855
vultr的vps不用换淘宝的吧？

[2016-06-14 06:12] alsotang commented on #856
嗯嗯，合了你这个pr就好了。。

2016-06-14 11:12 GMT+08:00 Berwin <notifications@github.com>:

[2016-06-14 06:25] serical commented on #855
额。。知道什么原因了，vultr买了个最低的768M的，出现Killed是因为内存不够了，在本地装好了传上去就可以了:)

[2016-06-14 14:39] awong1900 commented on #855
先把node_modules目录全部删除，再重新make install 试试

[2016-06-16 15:38] jamiesun opened #859 "关于AGPL协议的问题"
开发者，你好，最近我在了解AGPL协议的一些细节，对于AGPL协议，要求相关的通过网络调用的应用都要采用和其相同的AGPL协议，而nodeclub采用mongodb作为数据存储，开源协议采用MIT，是不是不符合要求。

[2016-06-16 16:05] alsotang commented on #859
这个问题我还真搞不清楚。

我们之所以使用 MIT，是因为 MIT 是最宽松的协议，比  AGPL 更宽松。所以这么来说的话，更宽松的协议应该是可以调用稍微严格的协议的吧？

[2016-06-16 16:10] alsotang commented on #859
不少公司用着 mongodb 当做商业服务的后端，也没见这方面的新闻出来过。

我们的用法相当常规，感觉应该没有触犯他们的开源协议。

[2016-06-16 17:04] TakWolf commented on #859
不冲突
AGPL相当于在GPL协议基础上添加A（A=AFFERO），解决原有GPL协议在不发布软件，但是在云端以服务形式提供则可以不公开源代码这一漏洞，即AGPL下，如果在云端运行，也必须公布源代码。

在GPL协议下，如果项目修改自原项目（包括静态链接），则衍生项目必须继承GPL协议，并且开放源代码。但是，如果以动态链接调用或者服务的形式被第三方使用，则不再GPL的范围之内。

nodeclub是以服务的形式使用mongodb，本身不包含mongodb的源代码，不需要关心GPL

[2016-06-16 23:40] jamiesun commented on #859
因为我自己也有采用AGPL协议，给用户带来担忧。所以咨询过资深人士后，我自己的项目决定强行移除AGPL协议。

AGPL确实是非常严格的协议，我觉得nodecloub本身采用MIT没有问题，应该是是使用者需要处理这个问题，

[2016-06-16 23:44] jamiesun commented on #859
@TakWolf  还是你的解释比较准确

[2016-06-17 02:51] JacksonTian commented on #859
我们哪里涉及到了AGPL吗？

[2016-06-17 02:52] alsotang commented on #859
@JacksonTian mongodb 是 agpl
@TakWolf 👍

[2016-06-17 02:54] JacksonTian commented on #855
出现killed应该是OS把进程杀了。

[2016-06-17 02:54] #855 closed

[2016-06-22 06:02] buhuan192 opened #860 "redis 的问题 NOAUTH Authentication required."
我在redis配置了密码， nodeclub 就报这个NOAUTH Authentication required.的错
app.js中的配置如下
  store: new RedisStore({
    port: config.redis_port,
    host: config.redis_host,
    db:"0",
    pass:"***"
  }),
请问大神该怎么办呀

[2016-06-30 15:45] JerroldLee opened #861 "经常运行一段时间后就停止运行了，在pm2中有看到以下这样的log"
{name: 'MongoError', message: 'topology was destroyed' }
MongoError: topology was destroyed
请问怎么解决？

[2016-07-01 02:40] alsotang commented on #861
你的server跟mongodb的拓扑关系是怎样的？在同一台主机上？还是用着 bae 之类的东西？

2016-06-30 23:45 GMT+08:00 JerroldLee <notifications@github.com>:

[2016-07-02 08:29] qxl1231 opened #862 "都是最新的这个master分支,本地运行可以启动,但是部署到centeros 的环境中就会报错"
![image](https://cloud.githubusercontent.com/assets/8305742/16539319/f4f8c238-4071-11e6-8703-d10972e1bf3f.png)

代码是本地打的zip包上传到阿里云的,这种情况你们谁遇到过么?

[2016-07-02 08:43] qxl1231 opened #863 "这个页面id,貌似有问题?"
![image](https://cloud.githubusercontent.com/assets/8305742/16539382/03022b10-4074-11e6-8278-5cd41227016a.png)

页面的id属性应该不能重复把

[2016-07-03 01:49] tomoya92 commented on #863
估计是写的时候直接复制的，如果没用到的话，不影响页面渲染

[2016-07-03 07:14] alsotang commented on #863
这是个 if else

[2016-07-03 14:32] JerroldLee commented on #861
在同一台机器上

[2016-07-03 14:37] JerroldLee opened #864 "本地图片上传正常，但发布到服务器后上传图片提示“服务器走神了，上传失败”"
本地图片上传正常，但发布到服务器后上传图片提示“服务器走神了，上传失败”

[2016-07-03 14:52] JerroldLee commented on #864
解决了，是nginx的配置问题

[2016-07-03 14:52] #864 closed

[2016-07-05 09:40] TakWolf opened #865 "样式问题：footer固定到了底部了吗？页面有遮挡"
![image](https://cloud.githubusercontent.com/assets/6064962/16580490/58acc9e8-42d7-11e6-8db9-0b049e55c051.png)

按钮挡住了，我已经发不出去回复了。。。

[2016-07-06 03:07] alsotang commented on #865
?????

难道跟这个有关？https://github.com/cnodejs/nodeclub/commit/8f52f66f6910d85b38294cd8b2ee8c990432ef4f

不过这几天都没有改任何css和html啊

[2016-07-06 03:18] awong1900 commented on #862
express 没装好？

[2016-07-06 09:06] TakWolf commented on #865
@alsotang 之前是这个帖子 https://cnodejs.org/topic/577b7751fb1d649f05fec792  没有回复的时候出现的
我现在看帖子貌似又都正常了。。

[2016-07-11 14:55] jadeball commented on #751
@alsotang 为什么我debuger模式启动 报告如下错误，导致没发调试啊：
/usr/local/bin/node --debug-brk=50988 --nolazy app.js
Debugger listening on port 50988
/work/Bitbucket/antdream/nodeclub/node_modules/log4js/lib/appenders/console.js:3
, consoleLog = console.log.bind(console);
                          ^

TypeError: Cannot read property 'bind' of undefined
  at Object.<anonymous> (/work/Bitbucket/antdream/nodeclub/node_mod

[2016-07-11 15:08] jadeball opened #866 "colone nodeclub代码在本地运行，debugger模式启动为什么抛出log4js异常？网上都搜索不到原因"
colone nodeclub代码在本地运行，debugger模式启动为什么抛出log4js异常？网上都搜索不到原因。
正常模式启动，则没问题，为什么调试模式没法启动，否则怎么调试呢？ @alsotang
/usr/local/bin/node --debug-brk=50988 --nolazy app.js
Debugger listening on port 50988
/work/Bitbucket/antdream/nodeclub/node_modules/log4js/lib/appenders/console.js:3
, consoleLog = console.log.bind(console);
                          ^

TypeError: Cannot read property 'bind' of undefined
  at O

[2016-07-12 04:42] jadeball commented on #866
@alsotang 紧急啊 ，否则都没法调试代码了

[2016-07-12 15:39] alsotang commented on #866
看起来像是 debug 模式改动了 console.log 这个函数？

我没遇到过这个问题。。不懂啊。。

2016-07-12 12:42 GMT+08:00 jadeball <notifications@github.com>:

[2016-07-17 01:34] #859 closed

[2016-07-17 01:39] jamiesun opened #867 "关于 Redis 存储 session 的问题"
nodeclub 中 默认使用 redis 是没有配置密码的，建议把密码配置加进去，在使用必须密码访问的 redis 时，需要额外修改代码才能够运行起来。

[2016-07-17 04:14] dead-horse commented on #859
mongodb 的没问题，然后其实 pm2 也是 agpl .. 没有混合编译使用源码。

[2016-07-17 09:49] alsotang commented on #867
修改之后长什么样？能不能提个 pr 过来？

2016-07-17 9:39 GMT+08:00 jamiesun <notifications@github.com>:

[2016-07-17 09:49] alsotang commented on #867
我这边对 redis 也没有那么熟悉

在 2016年7月17日 下午5:49，alsotang <alsotang@gmail.com>写道：

[2016-07-17 10:01] alsotang commented on #867
https://github.com/cnodejs/nodeclub/commit/4474a93a4fe34a9c6af7d4b311c1d1697c82bdb3

这么修了一下，你看可以吗？

[2016-07-18 01:03] tomoya92 commented on #867
redis配置文件里有绑定ip的配置，就算没密码，也没事吧！

[2016-07-18 01:40] awong1900 commented on #867
确实更完善了。 一般我用防火墙禁掉外网访问。

[2016-07-18 03:04] alsotang commented on #867
有没有人告诉我，我这样改行不行啊。。。？

2016-07-18 9:40 GMT+08:00 Ten Wong <notifications@github.com>:

[2016-07-22 15:55] jamiesun commented on #867
我已经用了，可以

[2016-07-22 15:56] #867 closed

[2016-07-22 16:37] jamiesun opened #869 "增加 docker 部署如何"
我提交了一个 pr #868

在 daocloud 最小的128M 内存的容器中运行良好，这是我部署的 http://forum.toughcloud.net

daocloud 本身可以免费部署（绑定微信）3个128M 的容器。可以用 一个跑主应用，一个跑 mongodb的服务，一个做VOLUME，redis 用 daocloud 的免费50M，这样就可以不花一分钱跑一个完整的 nodeclub 应用。VOLUME的用来放私有配置文件，以及文件上传。

daocloud 的一个128M 容器成本可以低到5元钱，各种配套服务都不错，很适合跑 nodeclub 服务。

有空我再写一个完整的教程。

[2016-07-22 21:17] alsotang commented on #869
建议另起仓库做这件事，应用本身与部署是可以分离的

在 2016年7月23日 上午12:37，jamiesun <notifications@github.com>写道：

[2016-07-23 08:21] jadeball commented on #866
终于找到原因了。我用命令行node --debug 没问题。问题出在2014版的webstorm上。我换了2016版的webstorm则 没问题了。@alsotang

[2016-08-02 20:52] qtisan commented on #869
顶你个肝，说的太好了。

[2016-08-07 06:42] micyee opened #872 "关于用户退出"
最近基于nodeclub写一个小网站，发现用户退出的部分：
`<a href='/signout' data-method="post" rel="nofollow">退出</a>`
在我的代码中不起作用，点击结果是个GET，搜索未果，请教一下，这个该怎么用，谢谢

[2016-08-07 06:59] micyee commented on #872
知道了，jquery-ujs

[2016-08-07 06:59] #872 closed

[2016-08-07 12:19] ouzhou opened #873 "为什么把连接mongodb的代码放在/models/index.js里面？"
我找了好久才找到链接数据库的代码，比较习惯写一个db.js用来专门连数据库，这是什么特殊的姿势吗？

[2016-08-07 14:51] ouzhou commented on #873
突然想通了，写在那个里面确实要方便很多

[2016-08-07 14:51] #873 closed

[2016-08-09 10:02] ouzhou opened #874 "login那个方法登录完成后有一个gen_session方法，请问是怎么保存session的？"
如题，gen_session方法res了一个cookie,我想知道是怎么保存session的？我看到的大多数例子都是req.session.user=xx

[2016-08-10 13:35] linyouhappy opened #875 "建议重整一下项目目录吧。把项目文件移到app文件夹，方便搜索代码"
建议重整一下项目目录吧。把项目文件移到app文件夹，方便搜索代码。不然搜索项目代码好麻烦。

[2016-08-10 13:51] TakWolf commented on #875
为啥要放到app目录下面？

[2016-08-10 14:05] linyouhappy commented on #875
什么目录都可以啊。app随便取个而已。主要是方便搜索关键字。不然，目录这么分散，搜索关键字，你懂的

[2016-08-10 14:07] linyouhappy commented on #875
平时你们不搜索关键字吗？我是用Sublime text写代码的。经常需要搜索关键字。

[2016-08-10 17:59] alsotang commented on #875
没听懂。项目文件是哪些？

[2016-08-11 00:12] tomoya92 commented on #875
我估计楼主的意思是把controllers, models, proxy, views放在新建的一个文件夹app里面，这样搜索代码的时候可以指定只搜索app文件夹里的文件，静态文件干扰太大

[2016-08-11 05:25] linyouhappy commented on #875
对啊。就是tomoya92 说得那样。

[2016-08-13 21:24] TakWolf opened #876 "能否清理一下无效的分支？目前跟进代码查看起来不是特别方便"
比如，现在遗留了大量的 greenkeeper-\* 分支，实际上这些分支合并之后就没啥意义了，现在还保留了很多，非常影响阅读。

其他的一些分支，虽然有一些还没有解决，但是年代也过于久远了，代码结构以及发送很大变化了，基本也无法处理了

自己fork了一份代码，随时会拉取最新进度，但是每次找master要找半天

[2016-08-16 03:15] alsotang commented on #876
每次找 master 找半天？啥意思？branch 在 git 里面跟 tag 的意思差不多的。感觉不清理的问题不大

在 2016年8月14日 上午5:24，TakWolf <notifications@github.com>写道：

[2016-08-16 03:17] luoyjx commented on #876
不是有搜索嘛....

[2016-08-16 03:27] awong1900 commented on #876
感觉可以整理下，一些feature branch可以删了。

[2016-08-16 03:40] TakWolf commented on #876
我自己的情况，平时git通常是在source tree下，因为观察形状更明了。

经常要从主源拉去master分支，就会出现这个尴尬情况：

![image](https://cloud.githubusercontent.com/assets/6064962/17687250/1a16c45a-63a6-11e6-9ffe-3963f14accfe.png)

生成tag之后，通过不怎么关心，用到才去找

而branch是需要随时拉取的，目前很多分支确实是没用的

[2016-08-16 03:59] alsotang commented on #876
........你这个 gui 不能拉取一个 repo 下的所有分支吗？直接全部拉就好了

在 2016年8月16日 上午11:40，TakWolf <notifications@github.com>写道：

[2016-08-17 08:55] callmelanmao opened #877 "为什么配置了七牛，静态文件还是没有上传到七牛，链接也还是使用本地的"
[code]

把uploadurl字段去掉了，其他的字段都是从七牛里面拿过来的，域名也修改成自己的了，谁能告诉我要怎么配置七牛吗？

需要手动上传还是哪个地方配置的有问题呢

[2016-08-17 09:23] callmelanmao commented on #877
解决了， 静态文件使用七牛需要配置 site_static_host: 'xxxx', 字段
至于文件上传好像需要手动才行

[2016-08-17 09:23] #877 closed

[2016-08-31 11:04] matthewgao commented on #851
你注释了，config.js的GITHUB配置那部分

[2016-09-01 06:54] randyliu66 opened #879 "用户用邮箱注册，收到激活邮件，是什么 问题？"
用户用邮箱注册，收到激活邮件，是什么 问题？

[2016-09-01 06:55] randyliu66 commented on #879
收不到

[2016-09-01 07:31] awong1900 commented on #879
先搜索下关掉issue是不是有类似的。而且你要描述清楚你的问题，做过什么尝试。
![image](https://cloud.githubusercontent.com/assets/4022612/18158975/1f0ea86e-7059-11e6-9f78-825e650aaf2a.png)

[2016-09-01 07:45] TakWolf commented on #879
邮件配置参考：
https://github.com/cnodejs/nodeclub/issues/854

另外，debug=true的时候，不会发送邮件

[2016-09-01 09:48] randyliu66 commented on #879
set off debug
build all
163 email set authorized code
set password as auth code and change localhost to domain name ,then restart nodeclub.

Working …

灰常感谢！！！

[2016-09-01 09:48] #879 closed

[2016-09-05 07:55] tomoya92 opened #880 "样式问题"
有人碰到过吗？safari  往上翻不动了

![f4c5fa6b-95f4-4465-8845-1854a2481145](https://cloud.githubusercontent.com/assets/6915570/18240947/2a7048f4-7381-11e6-9b6a-97f8a18517c9.png)

[2016-09-05 07:57] TakWolf commented on #880
https://github.com/cnodejs/nodeclub/issues/865

[2016-09-05 08:03] tomoya92 commented on #880
呃，发之前偷懒了，没有搜一下😂

[2016-09-05 08:08] tomoya92 commented on #880
但是这个问题貌似没有被解决呀

[2016-09-05 08:10] tomoya92 commented on #880
https://cnodejs.org/topic/57cc56fe5f7f910c27696d87  这个话题，刷新时好时坏

[2016-09-05 08:10] TakWolf commented on #880
这个问题我之前遇到过几次，但是无法稳定复现

[2016-09-17 10:53] patrickouc opened #881 "请教一下服务器上安装的问题，没看到报什么错，却访问不了"
我的配置文件config文件
 // mongodb 配置
  db: 'mongodb://45.79.109.190/node_club_dev',

if (process.env.NODE_ENV === 'test') {
  config.db = 'mongodb://45.79.109.190/node_club_test';
}
redis 的配置
![image](https://cloud.githubusercontent.com/assets/4326820/18607712/a554da78-7d07-11e6-9dcf-e3e01539d6e5.png)

服务器上这里redis 跟mongo的地址都写127.0.0.1 是吗
![image](https://cloud.githubusercontent.com/assets/4326820/1860771

[2016-09-17 10:55] patrickouc commented on #881
host 写的是IP 45.79.109.190

[2016-09-17 11:01] TakWolf commented on #881
mongo里面看到有两个数据库说明连接是正确的

访问不了指的是什么？是指外网无法浏览吗？

跑测试可以通过吗？

用命令 make start 来运行，见https://github.com/cnodejs/nodeclub/blob/master/Makefile#L46

[2016-09-17 11:10] patrickouc commented on #881
刚跑测试试了下，报错了 ，第一次好像没报错，我改了配置就报错了。 是的，我想外网访问。
root@ubuntu:~/project/nodeclub# make start
npm WARN package.json passport@0.3.2 No README data
npm WARN package.json oneapm@1.2.20 No repository field.

/root/project/nodeclub/node_modules/loader-builder/lib/builder.js:131
      item.min = `${dirname}/${basename}.${hashed}${extname}`;
                 ^
SyntaxError: Unexpected token ILLEGAL
    at Module

[2016-09-17 11:12] TakWolf commented on #881
配置中的debug需要设置为true
这个时候有一部分静态资源需要编译一下

[2016-09-17 11:14] patrickouc commented on #881
对的， 是true, 默认好像就是true

[2016-09-17 11:15] patrickouc commented on #881
你是说错误是没有编译静态资源是吗？

[2016-09-17 11:18] TakWolf commented on #881
我刚才写错了，应该改成Debug=false

我不知道是不是静态资源的问题，你试一下

你的错误指向这里：
`/root/project/nodeclub/node_modules/loader-builder/lib/builder.js:131`

而build命令：
https://github.com/cnodejs/nodeclub/blob/master/Makefile#L40

`@./node_modules/loader-builder/bin/builder views .`

所以感觉是这个问题

[2016-09-17 11:23] patrickouc commented on #881
You must execute `make build` before start app when mini_assets is true.

/root/project/nodeclub/app.js:56
    throw e;
          ^
Error: Cannot find module './assets.json'
  at Function.Module._resolveFilename (module.js:338:15)
  at Function.Module._load (module.js:280:25)
  at Module.require (module.js:364:17)
  at require (module.js:380:17)
  at Object.<anonymous> (/root/project/nodeclub/app.

[2016-09-17 11:24] TakWolf commented on #881
对的

[2016-09-17 11:37] patrickouc commented on #881
我执行make build 之后报的错，你知道什么意思吗

[2016-09-18 17:42] wjianwei126 opened #882 "发现回复的时候没有验证码功能？ ？？"
不好意思刚才邪恶的测试了几个垃圾回复数据  发现没有spam检查啊 考虑加这个功能吗

[2016-09-18 17:43] TakWolf commented on #882
spam通常都是手动的

[2016-09-18 17:45] wjianwei126 commented on #882
这项目靠的手工删除spam？

[2016-09-18 17:47] TakWolf commented on #882
目前好像是

因为账户是来源于Github，且每天有发帖次数限制（默认30次）

[2016-09-19 03:07] alsotang commented on #882
是啊，目前是手动删除 spam。现在由于是 github 注册所以不会出现大量注册的情况，然后每天发帖上限也有限制，一旦发现 spam
的情况，整个号删除就好了。

2016-09-19 1:47 GMT+08:00 TakWolf <notifications@github.com>:

[2016-09-21 09:18] lovemybb opened #883 "公司要搭建论坛，可以使用源码吗"

[2016-09-21 09:21] JacksonTian commented on #883
可以。nodeclub open sourced under MIT License

[2016-09-21 09:28] lovemybb commented on #883
ok。

[2016-09-21 09:34] alsotang commented on #883
随便用

2016-09-21 17:28 GMT+08:00 lovemybb <notifications@github.com>:

[2016-09-21 09:49] #883 closed

[2016-09-26 12:28] i5ting opened #884 "创建主题会cache次数，当删除主题的时候没有清"
导致无法重复测试

[code]

我觉得在删除主题的时候可以清掉这个次数，不然不太舒服

[2016-09-26 12:33] i5ting commented on #884
https://github.com/cnodejs/nodeclub/blob/master/middlewares/limit.js

[code]

在 https://github.com/cnodejs/nodeclub/blob/master/controllers/topic.js#L285

删除的时候

[code]

[2016-09-26 23:41] #884 closed

[2016-09-27 01:47] awong1900 commented on #884
为什么关了？

[2016-09-28 14:52] XGHeaven commented on #882
弱弱的问一句，spam不是垃圾邮件的意思么？

[2016-09-29 07:44] tomoya92 commented on #849
这个可以关闭了吧？

[2016-09-29 09:02] #849 closed

[2016-09-29 09:02] alsotang commented on #849
哈哈 经常关的不及时。。。

[2016-10-02 12:16] KMPYD opened #887 "debug设成了false后 跑make test的问题"
debug设成了false后就不能访问了

[2016-10-02 12:17] KMPYD commented on #887
root@163.44.148.79's password:
[root@host-163-44-148-79 ~]# cd nodeclub
[root@host-163-44-148-79 nodeclub]# # make test
[root@host-163-44-148-79 nodeclub]# make test
[2016-10-02 21:12:23.301] [ERROR] cheese - You must execute `make build` before start app when mini_assets is true.
/root/nodeclub/app.js:56
    throw e;
    ^

Error: Cannot find module './assets.json'
  at Function.Module._resolveFi

[2016-10-02 12:18] TakWolf commented on #887
非调试状态需要先运行 `make build` 编译静态文件

[2016-10-02 12:22] KMPYD commented on #887
这样设置的：
var config = {
  // debug 为 true 时，用于本地调试
  debug: false,

debug改回true后能访问不能收邮件
因为收不到邮件，注册的用户登录不上去，管理进不了
求解决

[2016-10-02 12:24] TakWolf commented on #887
本地调试状态不会发送邮件，调试状态测试用户注册，直接修改数据库字段

[2016-10-02 12:27] KMPYD commented on #887
make build
是直接这样输入运行就可以吗

[2016-10-02 12:27] TakWolf commented on #887
对

[2016-10-02 12:35] KMPYD commented on #887
可以访问了，就是提示错误65
我先把邮件调通

[2016-10-02 13:01] KMPYD commented on #887
请问github 登录怎么配置

[2016-10-02 13:56] KMPYD commented on #887
本地调试状态不会发送邮件，调试状态测试用户注册，直接修改数据库字段

将 users 表的 active 字段设为 true

还有其他方法进后台吗，我不会改数据库

[2016-10-02 14:00] KMPYD commented on #887
可以收到邮件了

[2016-10-02 14:17] KMPYD opened #888 "请问怎么进管理后台"
// admin 可删除话题，编辑标签。把 user_login_name 换成你的登录名
  admins: { user_login_name: true },

注册了一个admin的用户名邮件激活之后登录，不能管理；
请问上面那个代码怎么改：
  // admin 可删除话题，编辑标签。把 user_login_name 换成你的登录名
  admins: { admin },

这样吗

[2016-10-02 14:18] KMPYD commented on #888
2.这样改吗
  // admin 可删除话题，编辑标签。把 user_login_name 换成你的登录名
  admins: { user_login_admin: true },

[2016-10-02 14:22] TakWolf commented on #887
在你的github设置中，创建一个应用，然后在nodeclub配置中，填写回调地址

[2016-10-02 14:22] TakWolf commented on #887
mongo客户端，可以试试 https://robomongo.org

[2016-10-02 14:23] TakWolf commented on #887
如果问题解决了，记得关闭

[2016-10-02 14:24] TakWolf commented on #888
admins: { KMPYD: true },

这样

[2016-10-02 14:29] KMPYD commented on #887
在你的github设置中，创建一个应用，然后在nodeclub配置中，填写回调地址

回调地址怎么写

[2016-10-02 14:30] KMPYD commented on #887
我申请了应用，那两串字符填写上去，按照你开始给我的代码编译了之后打开不了

[2016-10-02 14:32] TakWolf commented on #887
https://github.com/cnodejs/nodeclub/blob/master/config.default.js#L83

首先配置这里的 clientID    clientSecret

然后把回调地址，也就是 `http://cnodejs.org/auth/github/callback` 填写到你的github设置中

[2016-10-02 14:47] KMPYD commented on #887
我申请的是：
Client ID
44cad0f12d99d7a70013
Client Secret
c69da7749173b85f3c639668a90d9fcd71a4295a
我这里配置；
  // github 登陆的配置
  GITHUB_OAUTH: {
    clientID: '44cad0f12d99d7a70013',
    clientSecret: 'c69da7749173b85f3c639668a90d9fcd71a4295a',
    callbackURL: 'http://cnodejs.org/auth/github/callback'

github：配置
homepage url
和authorizaton callback url
这两个位置输入：
http://cnodejs.org/auth/github/callback

是这样的

[2016-10-02 14:50] TakWolf commented on #887
不要把id贴出来啊，这样不就泄露了吗！调通之后在重新申请一个吧！

github设置：
homepage url ：你的域名
authorizaton callback url ：你的域名/auth/github/callback

[2016-10-02 14:52] KMPYD commented on #887
好的，谢谢

[2016-10-02 14:53] KMPYD commented on #887
session_secret: 'node_club_secret', // 务必修改
  auth_cookie_name: 'node_club',

这个位置怎么改

[2016-10-02 14:54] TakWolf commented on #887
这个是cookie名跟加密秘钥，随便写

[2016-10-02 15:11] #887 closed

[2016-10-03 00:20] #888 closed

[2016-10-10 13:18] jacky007wang opened #889 "能否增加上传图片的API，现在客户端无法发图"

[2016-10-10 13:25] TakWolf commented on #889
这个需求很久之前讨论过，当时的结论是客户端发图需求不大，并且图片上传接口有被滥用的隐患。

cnode建议客户端使用第三方媒体方案

[2016-10-10 13:30] tomoya92 commented on #889
现在网页上传图片也有滥用的隐患吧

[2016-10-11 02:06] awong1900 commented on #889
@TakWolf 第三方媒体方案是怎么的方法？

[2016-10-11 02:15] jacky007wang commented on #889
@TakWolf 我看了一下，cnode网站上目前上传图片是直接post图片文件到 cnodejs.org/upload 这个网址，是不是这个可以做为传图api。

@awong1900 第三方媒体就是说客户端自己选择把图片上传到其他平台或者图床，然后获得图片url，cnode只需要url不用存图片了。

[2016-10-11 03:18] alsotang commented on #889
我个人是觉得客户端发图的需求太弱了。。所以懒得支持这块。。。

而且qiniu的免费额度存储有10g，流量又有10g，客户端直接自己用qiniu就好了。cnode即使现在访问量不小，每个月在qiniu的费用也才不到100元。客户端这边不会有多少图片上传的，感觉不会超免费额度。

[2016-10-11 03:42] jacky007wang commented on #889
@alsotang 嗯，常用的场景是发手机截图，客户端直接上传的话会方便一些

[2016-10-13 09:18] KMPYD opened #890 "请问阿里云安装下载好慢怎么解决"
https://github.com/cnodejs/nodeclub
半天了服务器下载还是10%

[2016-10-13 09:54] awong1900 commented on #890
在服务器 用 wget下载zip 试试。

[2016-10-13 11:20] KMPYD opened #891 "社区搭好了，没有管理后台，请问"
请问新手入门的内容，和个人信息下面的友情链接，这些页面再哪里改

[2016-10-13 11:24] #890 closed

[2016-10-13 11:51] TakWolf commented on #891
没有管理后台，配置里面直接设定管理员用户

[2016-10-13 11:55] KMPYD commented on #891
新手入门和个人信息下面的链接怎么修改

[2016-10-13 11:57] KMPYD commented on #891
在哪个文件改吗

[2016-10-13 12:40] KMPYD commented on #891
还在吗，可以指导一下吗

[2016-10-13 14:59] alsotang commented on #891
grep 一下，去文件里面改

2016-10-13 20:40 GMT+08:00 KMPYD <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2016-10-13 16:55] KMPYD commented on #891
谢谢，找到了，直接改

[2016-10-14 04:06] #891 closed

[2016-10-14 07:22] liangdas opened #892 "账号同步问题"
我想将这个系统用于我们现在的网站，但用户直接用我们自己网站的，请问这个怎么做？

[2016-10-14 07:25] TakWolf commented on #892
我理解以下需求，你有一个网站，然后想用nodeclub做论坛，希望两个网站使用同一个账号系统

目前只能自己改造

[2016-10-14 07:42] liangdas commented on #892
请问有改造的思路吗？

[2016-10-14 07:57] TakWolf commented on #892
简单的改造思路，网站端跟论坛端是两套独立的用户系统，论坛账号创建的时候，需要绑定一个网站端账号。这样两套系统大体是还是独立的，耦合较小

=============================================

非要强制用一套账号，那改的就多了

[2016-10-14 08:07] liangdas commented on #892
就您刚才说的那套方案就行，类似github登陆是吧？这个系统有对应的api吗？

[2016-10-14 08:40] awong1900 commented on #892
用SSO是一个思路，即单点登录。
改造方案简略：
1. 原来网站继续账号创建啊，登录。
2. 论坛登陆时，后台链接到原网站做认证，通过后保存并设置过期。
3. 当session过期，重新定向到原网站做认证。

比如，淘宝的那些子服务，咸鱼啊支付宝都是同一个账户。

[2016-10-14 08:46] liangdas commented on #892
恩恩，我试试，现在我刚搭建起来，后台管理员页面怎么进？

[2016-10-14 08:48] liangdas commented on #892
用SSO是一个思路 是不是就是目前系统里面github登陆的思路？

[2016-10-14 09:06] awong1900 commented on #892
那叫Oauth 不同的东西。  没有后台。  改什么直接改模版。

[2016-10-14 10:18] liangdas commented on #892
分析了一下大概知道怎么弄了,目前这个系统后台功能还比较缺乏，需要努力建设,很好的东西，非常感谢

[2016-10-14 10:20] liangdas commented on #892
我直接共用cookie,读取主网站的session_id就可以了，然后在authUser这个拦截函数里面去主网站获取用户信息,这样这个系统就完全不需要外部登陆和注册了

[2016-10-20 02:05] zhoulvming opened #893 "请问访问贵站post类型api接口时accessToken如何获取"

[2016-10-20 03:10] luoyjx commented on #893
登录cnode网页，右上角 设置  ，拉到最下面

[2016-10-20 14:23] zhoulvming commented on #893
谢谢~~
不过如此的话，第三方开发需要用到post类型的api接口时，还需要先手动到网站登录一下。请问下作者，有无获取accesstoken的接口提供呢

[2016-10-20 14:27] alsotang commented on #893
感觉你在问一个鸡生蛋还是蛋生鸡的问题。。。。

2016-10-20 22:23 GMT+08:00 zhoulvming <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2016-10-20 14:42] TakWolf commented on #893
跟Post没关系吧，Get方法涉及鉴权的也需要accesstoken

[2016-10-20 15:06] zhoulvming commented on #893
想象 一下微信公众号的开发，作为一个提供api接口的网站，获取能够访问一定权限的api接口当然需要得到accesstoken，如果你这个网站的accesstoken是通过手动登录然后拷贝，再粘贴到代码中么？

[2016-10-20 15:08] zhoulvming commented on #893
我目前的需求就是要调用你的reply接口，获取帖子的回复内容，难道还需要我到cnode网站去登录一下么。另外，accessToken都是有时效性的，不知道您的这个accessToken如何利用

[2016-10-21 01:32] tomoya92 commented on #893
@zhoulvming 帖子回复内容不是在帖子详情里吗？不需要accessToken

[2016-10-21 09:54] TakWolf commented on #893
@zhoulvming
正常的情况，你作为第三方想要调用cnode的接口，一定是先调用auth2.0获取其他方式获得用户的授权，返回的就是accesstoken，然后用这个凭证去调用。
-----------
上面的是正常的情况，你的理解也是完全正确的，只是：
-----------
由于一些历史原因，当成api设计的时候，是给客户端设计的。没有提供auth认证，而是：
客户端去设置页面扫描二维码，二维码就是accessToken，这么来获得的
-----------
所以，你也让用户手动粘贴吧，很多cnode的第三方webapp也是这么做的

[2016-10-21 10:49] xcatliu opened #895 "「查看对话」样式很丑，有计划优化下吗？"
![image](https://cloud.githubusercontent.com/assets/5453359/19595983/00f95a30-97bf-11e6-9b92-2666c38fb1c3.png)

[2016-10-21 14:52] zhoulvming commented on #893
@TakWolf

谢谢~，看来只能这么用了。

@alsotang ，不知您说的鸡生蛋蛋生鸡跟我问的问题有何关联？

[2016-10-24 03:27] fairyly opened #896 "在Windows环境中，启动有点问题"
[2016-10-24 11:17:46.513] [INFO] cheese - NodeClub listening on port 3000
[2016-10-24 11:17:46.523] [INFO] cheese - God bless love....
[2016-10-24 11:17:46.524] [INFO] cheese - You can debug your app with http://lo
alhost:3000
[2016-10-24 11:17:46.525] [INFO] cheese -
[2016-10-24 11:17:47.540] [ERROR] cheese - connect to redis error, check your r
dis config { Error: connect ECONNREFUSED 127.0.0.1:

[2016-10-24 06:48] pangguoming opened #897 "npm install NodeClub -g , ERR!"
楼主看下面错误 CentOS 6.7 的系统
[root@ip-172-31-2-153 node-v4.6.1]# npm install NodeClub -g
npm ERR! Linux 2.6.32-642.6.1.el6.x86_64
npm ERR! argv "/root/.nvm/versions/node/v4.6.0/bin/node" "/root/.nvm/versions/node/v4.6.0/bin/npm" "install" "NodeClub" "-g"
npm ERR! node v4.6.0
npm ERR! npm  v2.15.9
npm ERR! code E404

npm ERR! 404 Registry returned 404 for GET on https://registry.npmjs.org/NodeClub
npm ER

[2016-10-24 06:50] TakWolf commented on #897
你在安装啥呢，nodeclub又不是一个npm包

[2016-10-24 06:52] pangguoming commented on #897
额，我今天有点二

[2016-10-24 06:52] #897 closed

[2016-10-25 02:14] awong1900 commented on #896
自己探索了。

[2016-10-25 06:01] jiyinyiyong opened #899 "论坛的积分系统, 感觉太简单了"
粗看是 `(* 5 (* (count replies) (count topics)))`, 很多原则体现不出来, 比如评论是很容易发的, 比如好的话题和普通的话题权重, 比如被点赞的次数.

[2016-10-25 06:58] alsotang commented on #899
`(* 5 (+ (count replies) (count topics)))`吗？用正常的数学表达啊哥。。。

[2016-10-25 07:00] pangguoming opened #900 "make test 出错，commander 模块没安装上， 无法运行"
CentOS 6.7   make test 出错，commander 模块没安装上，但make install 只有警告。

module.js:327
    throw err;
    ^

Error: Cannot find module 'commander'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (/root/nodeclub/node_modules/mocha/bin/_mocha:

[2016-10-25 07:02] jiyinyiyong commented on #899
- -! 有这么严重么, 我一转投 Lisp 社区马上就被追打?

[2016-10-25 08:08] pangguoming commented on #900
https://registry.npmjs.org/macha
下载不了 mocha 模块

[2016-10-25 17:39] alsotang commented on #899
那个地方到底是 + 还是 *？我有点忘了，你看看我后来发的表达式

[2016-10-25 18:12] alsotang commented on #893
我们的 accessToken 目前是没有时效性的，一直生效

在 2016年10月20日 下午11:09，zhoulvming <notifications@github.com>写道：

--
GitHub: https://github.com/alsotang

[2016-10-25 18:15] alsotang commented on #895
目前无计划，不过有 pr 会接的

2016-10-21 18:49 GMT+08:00 xcatliu <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2016-10-25 18:16] alsotang commented on #893
accesstoken是我们现在唯一的api鉴权方式，如果获取它也有接口的话，那么这个接口就不懂该用什么来鉴权了。

2016-10-21 22:52 GMT+08:00 zhoulvming <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2016-10-25 19:01] alsotang commented on #896
官方不支持 windows 环境，windows自行探索

2016-10-25 10:14 GMT+08:00 Ten Wong <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2016-10-26 02:02] jiyinyiyong commented on #899
`+`, 我打错了. 之前对比过论坛的积分数量.

[2016-10-26 07:16] #900 closed

[2016-10-26 07:18] pangguoming opened #902 "github 授权登录出错"
![image](https://cloud.githubusercontent.com/assets/7269202/19716613/5aade446-9b8f-11e6-834e-91e8bb208a19.png)

[2016-10-26 07:22] TakWolf commented on #902
错误已经表明了，需要添加  x-real-ip 头
你是不是nginx代理配置有问题

[2016-10-26 07:34] pangguoming commented on #902
我没有用nginx, 直接node 接80端口

[2016-10-26 07:36] pangguoming commented on #902
另外邮箱 也无法发信
![image](https://cloud.githubusercontent.com/assets/7269202/19717176/f10f8942-9b91-11e6-9dc9-0e1cb6a9e191.png)

[2016-10-26 07:41] TakWolf commented on #902
邮件的所有问题看这个：https://github.com/cnodejs/nodeclub/issues/854

github内个错误出现的条件在详细说明一下

[2016-10-26 07:50] tomoya92 commented on #899
我觉得应该在积分上做点文章比较好

[2016-10-26 07:52] pangguoming commented on #902
github 登录的报错上面说了，用的是 AWS Centos 虚拟机 发布的网址http://neo4j.com.cn/
只装了node.js , mongodb, redis, neo4j

[2016-10-26 08:09] pangguoming commented on #902
@TakWolf ??

[2016-10-26 08:37] TakWolf commented on #902
没遇到过这个问题，感觉上是github配置有问题
这里的配置你贴一下

[2016-10-26 08:55] pangguoming commented on #902
@TakWolf
![image](https://cloud.githubusercontent.com/assets/7269202/19719497/ce92010a-9b9c-11e6-872d-717a6f43b322.png)

[2016-10-26 08:57] pangguoming commented on #902
![image](https://cloud.githubusercontent.com/assets/7269202/19719596/3c682d62-9b9d-11e6-98df-5cd46b9a2843.png)

[2016-10-26 15:50] alsotang commented on #899
现在的积分基本反映的是活跃程度

2016-10-26 15:50 GMT+08:00 朋也 <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2016-10-27 05:57] pangguoming commented on #902
@alsotang

[2016-10-27 06:31] backcj commented on #895
我才发现社区原来是有查看对话功能的。不过我感觉在每条评论的右边加个「回复」按钮，并在存在对话的评论中加个「查看对话」按钮，这样好像更清晰一点

[2016-10-27 07:29] TakWolf commented on #902
不知道了，没遇到过这个错误。
感觉你的配置没有问题。
猜测问题仍然出在代理层上。
Github内部可能要验证客户端ip，如果走了代理，clientIp就变成服务端的了，所有通常用  x-real-ip 记录原始的ip地址。

AWS Centos 虚拟机
这个东西我没用过，不了解。他的网络拓扑是怎么做的？
你检查一下是不是跟这个东西有关系

[2016-10-27 07:57] pangguoming commented on #902
@TakWolf  找到原因了，还没有解决办法
代码：nodeclub-master\middlewares\limit.js 最后面 读req.get('x-real-ip') ，返回空了，
![image](https://cloud.githubusercontent.com/assets/7269202/19759077/cdb40f96-9c5d-11e6-896b-cdd9010692cf.png)

因为，在AWS EC2实例中：
http://stackoverflow.com/questions/25722205/x-real-ip-x-forwarded-for-headers-always-null-on-ec2tomcat

，需要改下代码

[2016-10-27 08:39] pangguoming commented on #902
@TakWolf 搞定了，
req.get('x-real-ip')换成 req.connection.remoteAddress;

[2016-10-28 05:04] #902 closed

[2016-11-11 08:32] backcj opened #903 "文章顶部是不是可以加个被收藏次数"
这样似乎可以更加直观的看到某篇文章的受欢迎程度

[2016-11-19 02:27] minishine opened #904 "nodeclub的后台管理问题"
你好，我在config.js  user_login_name里面已经添加了我的登录名，但是没有看到哪里可以编辑标签和删帖的地方，执行全文搜索“user_login_name”，发现在只有在config.js里面有，没有看到代码引用这个设置的地方，求解答！

[2016-11-19 08:56] alsotang commented on #904
没有后台，admin只是比普通用户多个修改帖子的权限而已

在 2016年11月19日 上午10:27，minishine <notifications@github.com>写道：

--
GitHub: https://github.com/alsotang

[2016-12-15 06:46] jackshiny2013 opened #905 "QiniuBucketNotExistsError: no such bucket"
七牛的配置按照注释说明的修改了，还是报了error

Started 2016-12-15T06:38:47.828Z POST /upload?_csrf= ::1
QiniuBucketNotExistsError: no such bucket

[2016-12-15 07:13] jackshiny2013 commented on #905
bucket多了个空格，已醉

可以直接这样子测试：
var qn = require('qn');
var client = qn.create({
    accessKey: 'ak',
    secretKey: 'sk',
    bucket: ' xx',
    origin: 'http://xx.xx.clouddn.com',
    // timeout: 3600000, // default rpc timeout: one hour, optional
    // if your app outside of China, please set `uploadURL` to `http://up.qiniug.com/`
    // uploadURL: 'http://up.qiniu.com/',
})

client.upload('哈哈', {k

[2016-12-15 07:13] #905 closed

[2016-12-20 03:16] xcatliu opened #906 "查看对话窗口错位"
![image](https://cloud.githubusercontent.com/assets/5453359/21337112/609f5e2a-c6a5-11e6-82ab-22c22852ee74.png)

如图，Hover 之后，浮层跑到左边去了。

Repro: https://cnodejs.org/topic/581b0c4ebb9452c9052e7acb
OS: Windows 10
Browser: Chrome Version 54.0.2840.99 m

[2016-12-21 03:06] alsotang commented on #906
就那个帖子有问题是吧？我看其他帖子貌似好的。。？

[2016-12-21 03:19] xcatliu commented on #906
@alsotang 确实，其他帖子貌似是好的

[2016-12-24 22:28] Caesar73 commented on #904
如果需要添加多个管理员，应该如何修改config呢？谢谢~

[2016-12-25 12:05] alsotang commented on #904
config里面admin那里就是个数组吧？数组里面加多个人就行了

2016-12-25 6:28 GMT+08:00 Caesar73 <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2016-12-26 06:22] jiangli373 opened #907 "未登录用户查看帖子 有的帖子 界面滚动到底部 评论展示不全"
![image](https://cloud.githubusercontent.com/assets/1632862/21476728/522f6292-cb76-11e6-947b-03fb9aacd06a.png)

像这个图所示 界面滚动到底部 评论展示不全

帖子地址：https://cnodejs.org/topic/585f835e708f21aa5db0ecdb

浏览器chrome

操作系统 mac

[2016-12-26 06:33] alsotang commented on #907
一直有这个问题。。然后一直没有重现方式。。

[2016-12-26 06:57] TakWolf commented on #907
关联Issues：
https://github.com/cnodejs/nodeclub/issues/880
https://github.com/cnodejs/nodeclub/issues/865

可能跟这个有关系：
https://github.com/cnodejs/nodeclub/commit/8f52f66f6910d85b38294cd8b2ee8c990432ef4f

[2016-12-26 07:25] jiangli373 commented on #907
![image](https://cloud.githubusercontent.com/assets/1632862/21477676/0817ded8-cb7f-11e6-8c68-64d171672498.png)

貌似是因为 图片还没有加载完 然后算出来的高度不正确

[2016-12-26 07:36] jiangli373 commented on #907
![image](https://cloud.githubusercontent.com/assets/1632862/21477853/cb7fdc8a-cb80-11e6-88ba-5c145a50da61.png)
可以把网络速度变慢

这个是图片没有加载出来的页面样子 显示是正常的 然后等图片出来以后 main的高度变了 但是footer的位置没有变

[2016-12-27 03:39] alsotang commented on #907
我这里还是没有重现。。。

我们的代码里面，在

`$(window).resize` 的时候会重新运行你截图中的那个 n 函数。。不过貌似图片从未加载到加载的时候不会触发这个方法

[2017-01-04 05:40] shaohao2014 opened #909 "能否接入微信账号系统"
能否用微信账号直接登录网站？

[2017-01-04 08:27] alsotang commented on #909
目前不支持，也不打算支持

2017-01-04 13:40 GMT+08:00 shaohao2014 <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2017-01-04 08:30] shaohao2014 commented on #909
我想在用小程序做客户端，nodeclub做后台输出json给小程序，相引入微信账号进来；
另外：mongodb+redis结合起来用对服务器要求高吗？比方说：2核CPU+2G内存够用吗？

[2017-01-04 08:34] alsotang commented on #909
测试的话很够用，量上来之后就自己观察看看吧

2017-01-04 16:30 GMT+08:00 shaohao2014 <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2017-01-04 08:35] shaohao2014 commented on #909
我测试了一下100个并发，速度还行。

[2017-01-04 18:57] alsotang commented on #909
cnode说实话效率不高，不过一般场景够用

2017-01-04 16:35 GMT+08:00 shaohao2014 <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2017-01-05 01:04] shaohao2014 commented on #909
谢谢兄弟

[2017-01-05 02:23] shaohao2014 opened #910 "如何让cnode直接转到433端口上支持https？"
需要nginx配合吗？还是直接new 一个https呢？

[2017-01-05 02:24] luoyjx commented on #910
nginx

[2017-01-05 02:25] luoyjx commented on #910
证书去腾讯云申请一个就好，http2的话也是在nginx上搞

[2017-01-05 02:27] shaohao2014 commented on #910
我有证书和nginx，直接把cnode放到433指定的目录吗？

[2017-01-05 03:16] alsotang commented on #910
自己google

[2017-01-05 03:16] #910 closed

[2017-01-05 04:29] shaohao2014 opened #911 "已经开启https但nginx怎么配置才能让cnode不显示403错误?"
nginx的https都配好了，将cnode 端口设置为433，打开总是出现403 Forbidden。菜鸟问题，见笑了！

[2017-01-05 04:34] luoyjx commented on #911
不需要改你应用的端口呀，只需要在nginx上的https server配置中转发到你本地端口就行了。
[code]

[2017-01-05 04:37] shaohao2014 commented on #911
醍醐灌顶！还是nginx不熟，谢谢！

[2017-01-06 01:53] shaohao2014 opened #912 "cnode用的是es6的语法吧？"
想确定一下是否用es6写的，很菜的问题，谅解

[2017-01-06 01:55] i5ting commented on #912
混用的，貌似不是很多es6特性

[2017-01-06 01:55] #912 closed

[2017-01-06 01:56] shaohao2014 commented on #912
好的

[2017-01-06 01:57] #911 closed

[2017-01-06 05:46] shaohao2014 opened #913 "cnode不稳定，经常性自动退出的原因是什么？"
cnode上线运行了一天，老是经常意外退出，不能正常访问，搞不明白。

[2017-01-06 06:08] tomoya92 commented on #913
你可以用pm2来运行

[2017-01-06 06:13] shaohao2014 commented on #913
我试试

[2017-01-08 21:57] shaohao2014 opened #914 "cnode原来运行速度很快，重装系统后边的很慢"

[2017-01-09 02:10] TakWolf commented on #914
重装是怎么个重装？系统重装了吗，然后就慢了？怎么感觉出来的运行慢，是请求响应慢吗？

现在部署基本上都是你的这个配置，通常没有问题。

[2017-01-09 04:44] shaohao2014 commented on #914
系统重装了

[2017-01-16 09:26] shaohao2014 opened #915 "用的什么渲染引擎"
nc用的是什么前端渲染引擎？

[2017-01-16 10:36] shaohao2014 opened #916 "从哪里开始研究这个项目的代码架构呢？"
想改造你的这个项目做一个分类信息网站，但我不知道你的网站架构从何研究起，请指点我一下吧。比如说是用什么架构写的？express吗？我需要哪些javascript框架知识，ES6基础我有的。

[2017-01-17 01:39] shaohao2014 opened #917 "关于使用CNode二次开发的问题"
你好，打扰了。

    用了CNode之后，我最大的感受就是快，用ab压力测试，10000个并发的情况下也基本能够轻松应对。这也是我选用CNode的主要原因之一。另外，我决定用CNode并不是用来做社区，而是计划做一个本地分类信息服务网站。与之配套的移动端，我打算用微信小程序来做，再加上CNode使用的是mongodb，原生支持微信小程序对json数据的增删改查。鉴于以上两个方面原因，我决定使用CNode来进行二次开发。
目前遇到两个问题，请给以指点。

问题1：
   关于 CNode网站注册问题，在cnondjs.org里边注册页面，通过github老是注册不成功，没有别的注册方法吗？

问题2：
   关于二次开发的问题。我打算用CNode构建一个分类信息网站，请问你用的什么开发框架开发的cnode？我计划通过cnode的学习并二次开发，从而转到前端全栈开发上面来，毕竟我对这个很有

[2017-01-17 02:57] TakWolf commented on #917
1. github需要设置公开邮件才能注册。

2. nodeclub核心框架是 express + mongoose，使用了eventproxy来解决回调问题，其他的依赖请参考 package.json
 https://github.com/cnodejs/nodeclub/blob/master/package.json

3.如果你是nodejs新手的话，可以看看nodeclub，代码不是特别复杂
但是推荐看这个教程 https://github.com/nswbmw/N-blog

4.关于二次开发，不太清楚你的分类信息网站的需求，但如果不是论坛的形式，改造nodeclub估计要做不少工作。

[2017-01-17 03:33] shaohao2014 commented on #917
很感谢！你给出的解答很详细，我受益匪浅帮助很大。辛苦了！

[2017-01-17 03:51] shaohao2014 opened #918 "邮件发送失败问题"
邮件始终发送不成功，我的配置如下：
  mail_opts: {
    host: 'smtp.163.com',
    secureConnection: true,
    port: 465,
    auth: {
      user: 'XXX@163.com',
      pass: '客户端授权密码'
    }
  },
配置哪里不对吗？谢谢！

[2017-01-17 03:55] tomoya92 commented on #915
你看看package.json不就知道了

[2017-01-17 04:30] TakWolf commented on #918
debug = true 的时候不会发送邮件

如果不是这个问题，贴一下错误日志

[2017-01-17 04:32] tomoya92 commented on #916
你看看package.json不就知道了

[2017-01-17 04:33] shaohao2014 commented on #918
debug = false 没错，也没有错误提示，错误日志在哪个目录可以找到？

[2017-01-17 08:12] alsotang commented on #917
问题1

你自己调试吧。github这个登陆方式对你来说应该可以去掉，cnode本身是有原生登陆方式的，只是 cnode 关掉了。nodeclub 源码里面有。

问题2

直接学习 cnode 源码还是靠谱的，因为 nodeclub 结构简单，所以不会出现很多因为业务存在的特殊代码

[2017-01-17 08:12] #917 closed

[2017-01-18 04:00] luren5 opened #919 "回帖自动发邮件提醒功能"
准备在源码的基础上添加一个 回帖自动发提醒邮件的功能，但是发现源码 model/user.js 里面有一个字段 receive_reply_mail: {type: Boolean, default: false }， 但是又没找到 receive_reply_mail 在哪个地方有用到？请问是否已经有 回帖自动发提醒邮件的功能 了？

[2017-01-18 05:24] shaohao2014 commented on #919
请教邮件配置问题，这是我的配置：
debug: false,
mail_opts: {
    host: 'smtp.163.com',
    secureConnection: true,
    port: 465,
    auth: {
      user: 'XXX@163.com',
      pass: 'XXX'
    }
  },
邮件依然无法收到。麻烦了

[2017-02-03 09:48] tsuibin commented on #919
debug: false,

mail_opts: {
    host: 'smtp.126.com',
    secureConnection: true,
    port: 465,
    auth: {
      user: 'xxxx@126.com',
      pass: 'xxxx'
    },
    ignoreTLS: false,
  },

无法收到邮件

  at SMTPConnection._formatError (/root/cnode/nodeclub/node_modules/nodemailer-smtp-transport/node_modules/smtp-connection/lib/smtp-connection.js:466:15)
  at SMTPConnection._onError (/root/cnode/nodec

[2017-02-03 09:56] TakWolf commented on #919
@tsuibin 465 是TLS端口，ignoreTLS: true 试一下

[2017-02-03 10:10] tsuibin commented on #919
debug: false,
 mail_opts: {
    host: 'smtp.126.com',
    secureConnection: true,
    port: 465,
    auth: {
      user: 'xxxx@126.com',
      pass: 'xxxx' //这个是使用的授权码
    },
    ignoreTLS: true,
  },

这个设置可以发送邮件了

[2017-02-04 04:56] tsuibin opened #922 "ForbiddenError: invalid csrf token"
早上的时候nodeclub崩溃了，检查日志发现出现这个错误，这是什么原因引起的？

  at verifytoken (/root/cnode/nodeclub/node_modules/csurf/index.js:269:11)
  at csrf (/root/cnode/nodeclub/node_modules/csurf/index.js:97:7)
  at /root/cnode/nodeclub/app.js:126:14
  at Layer.handle [as handle_request] (/root/cnode/nodeclub/node_modules/express/lib/router/layer.js:95:5)
  at trim_prefix (/root/cnode/nodeclub/node_modules/express/lib/router

[2017-02-16 07:31] hefeng1208 commented on #919
没报错 ！但是邮箱里面没有！就是收不到邮件
mail_opts: {
    host: 'smtp.126.com',
    port: 25,
    auth: {
      user: 'sssss@163.com',
      pass: 'XXXX'  //  授权码
    },
    ignoreTLS: true,
  },

[2017-02-16 08:03] TakWolf commented on #919
https://github.com/cnodejs/nodeclub/issues/854

邮件问题，试试这个

[2017-02-17 06:19] hefeng1208 commented on #519
如果clientid 和 secret都ok了，试试把应用程序的3000换成80看看，然后callbackURL 写成http://127.0.0.1/auth/github/callback,试试 应该是可以跳转成功的 （端口问题可以自己解决，暂用80调通看看）

[2017-02-20 15:34] pd4d10 opened #924 "移动设备上列表页链接可点击区域较小"
移动设备上列表页链接可点击区域较小，有时候会点不到。

可以调整的话，我发一个 pull request 优化一下

![image](https://cloud.githubusercontent.com/assets/9524411/23131301/74cf9b6c-f7c4-11e6-8c6d-89078a8171db.png)

[2017-02-21 03:13] alsotang commented on #924
我在 iphone 这里还好，你的那个设备是不是分辨率比较小？

[2017-02-21 05:32] pd4d10 commented on #924
@alsotang 我这里也还好，不算 bug。

刚看了下，PC 也是用的这一套样式，不是很好处理。还是维持现状比较好。

[2017-02-21 05:32] #924 closed

[2017-02-21 06:38] alsotang commented on #924
当年搞的自适应所以是同一套样式。。。不知道现在自适应还流不流行

2017-02-21 13:32 GMT+08:00 pd4d10 <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2017-02-21 13:32] shaohao2014 opened #925 "二次开发的话流程是什么"
用webstorm进行二次开发，一般的流程是什么？

[2017-02-25 09:08] liz282907 commented on #874
看了下代码，...是登录后自己手动签名userid生成signedCookie，然后放到cookie传给浏览器的，下一次请求的时候，读取signedCookie信息（userid），查数据库得到user对象，然后挂到req.session上，以后的每次请求，都从req.session里面找到user对象。

上面的操作其实有冗余的部分，如果要使用session中间件的话，告诉它name，secret，然后登录后req.session.user = user就可以了，因为中间件会去兜底去做signed签名、sessionID生成，cookie设置，存到store里面这些操作。

（and...项目中直接用userid去做登录后的sessionid...好不安全，相当于偷了一个懒..就不用多做一步，把sessionID跟user的映射关系存在数据库中了.）

[2017-02-27 05:06] alsotang commented on #874
细节我有点忘了。

不过 @liz282907 说的用 userid 做 sessionid 应该不会不安全吧，毕竟是 signedCookie

[2017-02-27 05:55] liz282907 commented on #874
唔，每次登录都是用userid做sessionid的，如果一次被窃取的话，应该以后都可以访问了呐。

[2017-02-27 06:38] alsotang commented on #874
我去看了看实现，一次窃取以后都能访问的问题，确实是存在的。

[2017-02-27 06:45] liz282907 commented on #874
然后，有丢丢想问的是，在第一次登陆时设置signedcookie，而不是直接用req.session是出于saveUninitialized设置的考虑嘛？

[2017-02-27 07:06] alsotang commented on #874
细节我真的不记得了。。。

2017-02-27 14:45 GMT+08:00 liz282907 <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2017-02-27 07:07] alsotang commented on #874
话说如果直接设置 req.session 的话，设置出来的 cookie 是 session cookie
吧？如果要使得用户可以在关闭浏览器之后再打开也能登陆，那么是需要手动设置 cookie 的啊

2017-02-27 15:05 GMT+08:00 alsotang <alsotang@gmail.com>:

--
GitHub: https://github.com/alsotang

[2017-02-27 07:38] liz282907 commented on #874
唔，不一定哒，session最开始初始化的时候，可以选择cookie.maxAge的设置，expires和maxage同时不设置才会认为是session-cookie，所以可以持久保持的~
[戳这里~](https://github.com/expressjs/session/blob/master/README.md/#user-content-cookiemaxage)。

[2017-02-27 18:59] alsotang commented on #874
这个地方如果依赖 cookie.maxAge 会不会不那么保险？因为 session 的信息包括 session id 都是存储在 redis
当中，而 redis 的数据是易消逝的，那么在内存使用率高的redis中，一个session不一定能保存比如说超过1星期的时间。而通过手动设置
cookie 保证用户在特定时间内可以登录的话，则可以确定性地设置登陆态过期时间。

这一点你怎么看？

2017-02-27 15:38 GMT+08:00 liz282907 <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2017-02-27 19:00] alsotang commented on #874
@liz282907 话说对于深圳这边的岗位有兴趣吗？有兴趣的话，我们私聊一下：）

[2017-03-05 00:05] zhanzhenzhen opened #927 "标题如果含有代码，则字体过小"
示例如下：
https://cnodejs.org/topic/58bb53c3ea21217a4486cfe6
我看了CSS，里面所有`<code>`字体都是`12px`，但是对于标题里面的`<code>`最好是增加一些规则，例如：
[code]
我不知道相关的文件在哪，所以没办法提交PR。

[2017-03-05 02:14] bear-qv commented on #927
good

[2017-03-06 03:02] xcatliu commented on #927
code 可以设置成 `font-size: 85%`

[2017-03-06 03:05] alsotang commented on #927
fixed by https://github.com/cnodejs/nodeclub/commit/50fc607da9507d863746a7b6354d9bd2aaaf6e9a

[2017-03-08 04:12] zhanzhenzhen commented on #927
谢谢@alsotang

[2017-03-08 04:12] #927 closed

[2017-03-08 09:19] alsotang commented on #927
我谢谢你才对

2017-03-08 12:12 GMT+08:00 Zhenzhen Zhan <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2017-03-09 00:44] zhanzhenzhen opened #929 "accessToken的安全性问题"
我打算在我的网站中使用cnode的API，于是研究了一下API。我发现accessToken貌似是固定的，这样会不会带来几个问题：

1. 某用户不小心把自己的accessToken泄露了出去，那么这个账号就废了，因为任何人都可以永远代替他发贴了。
2. 就算用户很小心，但是万一某个第三方应用（比如我）怀有恶意，那么用户就算发现它有恶意，也无法补救。会造成大量的用户账号废了。第三方应用越多，就越危险。

所以建议在论坛加入刷新accessToken的功能。用户修改密码后可以自动刷新accessToken，但因为有GitHub登录方式，所以也需要有一个按钮用来手动刷新accessToken。

[2017-03-09 02:25] zhanzhenzhen opened #930 "GET /topics 的limit"
limit貌似没有限制。我试了下，limit=5000居然也会返回，然而这已经没有意义了，也加重服务器的负担。而且有没有可能被黑客利用呢？黑客能很容易拖垮服务器。我觉得最好限制一下。比如最大100或200。

当然这会带来个问题就是潜在不兼容（因为也许有应用使用了很大的limit）。

[2017-03-09 03:10] alsotang commented on #929
用github登陆的话，确实cnode这边是没有密码的。

目前 accessToken 没有刷新或者修改的方式。可以考虑以后加上。

[2017-03-09 03:12] alsotang commented on #930
你说的这些功能，加上之后会让程序变得复杂。nodeclub 这个项目本身就是希望给初学者看一下一个 web 项目的雏形长什么样，而且一直以来各种恶意攻击也比较少，所以干脆就没有做各种严格的校验。

[2017-03-20 03:03] lvziwen opened #932 "浏览器窗口缩小，footer将一直显示，不随滚动条滚动"
rt

[2017-03-22 03:37] yinxulai opened #933 "启动提示 Invalid left-hand side in assignment 新手求帮忙"
\nodeclub\node_modules\.1.1.2@mongodb\lib\mongodb\db.js:865
      || (selector['mapreduce'] && selector.out = 'inline')) {
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
ReferenceError: Invalid left-hand side in assignment
    at Object.exports.runInThisContext (vm.js:76:16)
    at Module._compile (module.js:542:28)
    at Object.Module._extensions..js (module.js:579:10)
    at Module.load (modul

[2017-03-22 03:41] yinxulai commented on #915
ejs

[2017-03-23 06:49] P-ppc opened #935 "能否提供单独标记未读message为已读的接口？"

[2017-03-23 06:56] alsotang commented on #935
感觉 ` /messages` 这个接口可以加一个 `not_mark` 参数。让它不自动标记已读，有空帮加一下吗？

[2017-03-23 07:09] alsotang commented on #935
我来加上吧

[2017-03-23 07:11] P-ppc commented on #935
@alsotang  我的意思是提供单独的根据messge的id来标识为已读的接口

[2017-03-23 07:15] alsotang commented on #935
哦哦，你说这个啊。怪不得我去看代码的时候，发现api这边，读消息和标记消息的接口是互不影响的。

你想要的这个接口，会改变交互吧。就是用户点击哪条未读，才标记哪条为未读是吧？

不这么弄了，像微博一样，一次也是标记所有未读为已读的。

[2017-03-23 07:18] P-ppc commented on #935
新增一个接口实现这功能的话，是不会改变交互的吧

[2017-03-23 09:56] #933 closed

[2017-03-30 08:05] yunxifd opened #936 "api设计不规范，不符合restful风格"
参考：http://www.ruanyifeng.com/blog/2014/05/restful_api.html

[2017-03-31 10:42] liz282907 commented on #874
@alsotang 没有别的地方嘛？深圳有丢丢远。。。

[2017-03-31 10:46] liz282907 commented on #874
@alsotang 才看到上面的问题...没怎么用过redis,并不是很清楚，不过session不局限存在redis里面额，如果存在其他地方的话，你上面的问题其实并不存在啊

[2017-04-01 03:44] LukerSpringtree opened #937 "请教一个问题.在 ejs 母版layout 中的 <%- Loader() -%> 是怎么实现的?"
我不会用
,而且也没找到相关的 文档,谢谢了.

请大神帮忙解答一下 .谢谢了.
这个用法是怎么实现的 谢谢!

[2017-04-03 01:27] LukerSpringtree commented on #937
这是个什么用法啊?

[2017-04-03 14:46] LukerSpringtree commented on #937
没人帮忙解答一下吗?

[2017-04-05 06:19] LukerSpringtree commented on #937
https://www.npmjs.com/package/loader
找到答案了.
好吧,我自己蠢了.

[2017-04-05 06:19] #937 closed

[2017-04-08 03:02] KloveML opened #938 "不好意思 ，我是cnode的用户，想解禁我的账号，解释如下"
对不起，我想解禁我的账户

  我在研究vue-cnode，使用了cnode的API，但今天发现，我的账户被禁止了，导致有一些功能使用不便，对于之前的测试行为对社区的影响感到很抱歉，之后会尽量降低影响，想问下该怎样解禁我的账号

[2017-04-08 18:07] alsotang commented on #938
发一下你的账号出来

在 2017年4月8日 上午11:02，Ko00 <notifications@github.com>写道：

--
GitHub: https://github.com/alsotang

[2017-04-09 06:23] #915 closed

[2017-04-09 07:10] i5ting commented on #938
@alsotang 这个是我禁用，有人举报说@KloveML 胡乱at别人，造成了干扰

我看了一下他发的内容，确实是无意义的

[2017-04-11 07:54] Apcan commented on #935
#940 @P-ppc @alsotang

[2017-04-11 13:54] Apcan commented on #935
#941 @alsotang 你好上一条提交造成的问题 在这里修复，不好意思造成了问题，实在抱歉

[2017-04-12 03:48] alsotang commented on #935
https://github.com/cnodejs/nodeclub/pull/940 已加入

[2017-04-12 03:48] #935 closed

[2017-04-13 04:49] ascode opened #943 "发邮件能成功吗？"
我把代码下载下来，运行试了试，配置好邮件发送配置，然后，就没收到过邮件，这是什么原因呢

[2017-04-13 04:57] TakWolf commented on #943
1. 确保邮件配置是正确的
2. config.js 中修改  degub = false

[2017-04-13 04:57] ascode commented on #943
已解决，谢谢

[2017-04-13 04:57] #943 closed

[2017-04-14 06:34] jiangli373 opened #944 "我的收藏列表分页bug"
https://github.com/cnodejs/nodeclub/blob/master/controllers/user.js#L230
![image](https://cloud.githubusercontent.com/assets/1632862/25035326/7ab3dd8e-211f-11e7-83e4-3f1ec1896c6d.png)

这里算的页数是根据当前页数的条数除以limit得出来的，导致前端显示总是一页

例如https://cnodejs.org/user/JustforNode/collections 这个用户有45个收藏，前端只显示一页

https://cnodejs.org/user/JustforNode/collections?page=2 可以通过这个链接看到第二页的条目

[2017-04-16 15:24] #944 closed

[2017-04-16 15:24] alsotang commented on #944
已发布 #945

[2017-04-19 02:44] dfsdfddd commented on #896
探索不出来   有没有指导的大哥！ windows的，

[2017-04-23 13:05] hhdem commented on #929
建议采用通用的jwt方式，有过期时间，修改也相当方便

[2017-04-24 05:15] hhdem commented on #929
大概修改几个地方：
1. 增加文件 auth.js 到 api / v1 文件夹下
[code]

2. 修改 api / v1 / middleware.js 的 auth 方法
[code]

3. 在 api_router_v1.js 里面增加一行
[code]

[2017-04-24 08:19] awong1900 commented on #896
那就租台服务器 去做。 我这个有部署在阿里云上，运行正常

[2017-04-25 07:36] TakWolf opened #946 "样式显示问题，markdown中的有序列表 <ol>"
https://cnodejs.org/topic/58fef3dc31e8c2bb1c3dcdeb#58fefa63bbaf2f3f569be253

![image](https://cloud.githubusercontent.com/assets/6064962/25373552/b8d0b5b4-29cc-11e7-8c41-b08dae80144d.png)

![image](https://cloud.githubusercontent.com/assets/6064962/25373574/d0ab757a-29cc-11e7-9249-43f29e705eb1.png)

![image](https://cloud.githubusercontent.com/assets/6064962/25373591/e5337a92-29cc-11e7-868e-9a81d1

[2017-04-25 15:10] alsotang commented on #946
解析器算是有问题，list之间不要空格就好了

[2017-04-25 20:53] TakWolf commented on #946
确实如此

[2017-04-25 20:53] #946 closed

[2017-04-26 07:34] tomoya92 opened #947 "建议将最后回复时间改成话题发布时间"
![image](https://cloud.githubusercontent.com/assets/6915570/25423031/ae292ffa-2a95-11e7-9579-714193289bc3.png)

一些好几年前的话题，被挖出来了，就可以一眼看出来了

只是个建议 😂

[2017-04-26 10:00] alsotang commented on #947
这肯定不行，交互完全变了。

2017-04-26 15:34 GMT+08:00 朋也 <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2017-04-26 12:10] falost opened #948 "无法发送邮件 github 无法登录"
无法正常的发送注册邮件，邮件格式是按照提供的配置的

使用github 登录后绑定帐号的时候会出现：频率限制：当前操作每天可以进行 undefined 次

[2017-04-26 12:12] TakWolf commented on #948
邮件问题，请看这个：
https://github.com/cnodejs/nodeclub/issues/943#issuecomment-293781574

频率限制，请确认这几个配置正确：
https://github.com/cnodejs/nodeclub/blob/master/config.default.js#L131

[2017-04-26 12:14] vanishcode opened #949 "是否有必要增加站内私信功能"
比如想联系哪个社区会员内推什么的，私信功能可以默认关闭，需要的话自行开启

[2017-04-26 12:16] TakWolf commented on #949
@alsotang 不想搞得那么复杂

自己扩展吧

[2017-04-26 12:19] falost commented on #948
邮件问题解决了，是因为126的邮箱需要客户端的密码来发送
频率限制为默认的设置，就是1000那个，这里没有做改动！

[2017-04-26 12:23] vanishcode commented on #949
感谢~

[2017-04-26 12:23] #949 closed

[2017-04-26 12:27] TakWolf commented on #948
这句错误提示来源于这里：https://github.com/cnodejs/nodeclub/blob/88f5d9a141eb6b6dbb785ebbd8b79df3b75555eb/middlewares/limit.js

能确定是哪个动作触发了限制吗？

[2017-04-26 12:28] falost commented on #948
在使用github登录的时候出现的
注册和关联帐号的时候 均会出现

[2017-04-26 12:33] TakWolf commented on #948
感觉是个Bug

@alsotang

[2017-04-26 12:36] falost commented on #948
那就可能是个BUG了啊

[2017-04-27 01:18] falost commented on #948
问题已经解决，并不是BUG，是因我用的版本比较老，是16年下载的，失误了，已经更新为最新版本的。感谢你的回答！

[2017-04-27 01:18] #948 closed

[2017-04-27 01:50] #947 closed

[2017-04-27 01:54] tomoya92 commented on #930
我是直接在config.js里配置一个limit，这个比较方便我觉得，代码改动也不大

[2017-04-27 01:56] #880 closed

[2017-04-27 03:03] alsotang commented on #949
确实不想搞那么复杂。。而且很奇怪的是github这么久了也没有私信。。

2017-04-26 20:23 GMT+08:00 vanishcode <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2017-05-17 03:37] xice-blue opened #950 "我无论如何都无法注册或登录cnode社区"
用GitHub注册，提示email存在，或没有public，但是已经public了，按email找回密码提示email不存在！！！这是什么情况，求解~~用的就是这个GitHub账号。

[2017-05-17 03:39] TakWolf commented on #950
重新点击github登录试一下

[2017-05-17 08:13] vipzrx commented on #896
@fairyly  现在怎么样了，是继续坚持在win上，还是换到linux上了？

[2017-05-17 08:14] vipzrx commented on #896
我看到很多人都在推荐，包括鹅场的人。是阿里云比腾讯云好一些吗？

On 2017/4/24 16:19, Ten Wong wrote:

[2017-05-17 09:54] alsotang commented on #950
已经public的话，不至于会这样啊。

[2017-05-17 10:20] xice-blue commented on #950
点两次就被限制了。。。。。明天再试试，建议你们也看下是不是有什么bug。

[2017-05-18 08:29] vanishcode opened #951 "是否有必要增加“推广”节点？"
比如对于这样的帖子，推广帖，但是好像也不是完全没用。。
https://cnodejs.org/topic/591d1951d371b6372a8afb22

[2017-05-18 11:32] alsotang commented on #951
如果是好的，就放在【分享】里面。如果是恶意推广，直接 at 我，我去封号。

2017-05-18 16:29 GMT+08:00 vanishcode <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2017-05-18 13:08] johnnychen commented on #892
下午研究改造继承了我们公司的单点登陆，加了一个 middleware，feature:

* 如果未登陆，自动302跳转SSO LOGIN页面
* SSO LOGIN登陆成功后，创建caToken, 跳转回来
* 如果有caToken，但caToken对应的用户在nodeclub中不存在，则自动创建用户，自动创建session，并登陆
* 如果有caToken，且caToken对应的用户在nodeclub中存在，但nodeclub session不存在，自动创建session，并登陆
* 如果有caToken，且caToken对应的用户在nodeclub中存在，但nodeclub session存在，直接登陆

代码可以参见：
[code]

[2017-05-19 01:27] awong1900 commented on #951
推广节点 谁去看啊

[2017-05-20 04:59] #951 closed

[2017-05-25 08:42] yuk320 commented on #916
我觉得首先要看 README.MD

[2017-05-26 03:42] alsotang commented on #916
cnodejs.org 上面有一些社区的剖析文章

2017-05-25 16:42 GMT+08:00 yuppies <notifications@github.com>:

--
GitHub: https://github.com/alsotang

[2017-05-27 07:17] jinboqiao opened #952 "api_router_v1 里面的所有接口，都需要accesstoken,而没有直接从session取"
api_router_v1 里面的所有接口，都需要accesstoken,而没有直接从session取，是为了方便外部调试吗？

就算登陆之后, 对api_router_v1 里面的接口请求，因为没有直接带参数token，会返回错误token。是为了方便外部调试吗？